{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '單位後台' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/partner_info.css' %}" />
{% endblock style %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}
{% block body %}
{% csrf_token %}
<input type="hidden" name="menu" value="{{ menu }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '單位後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_partner_account or user.is_partner_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover">
                        <a class="big_link rd_click" href="/manager/partner">
                            {% if user.partner.select_title|length > 13 %}
                                <p class="fs-16px">{{ user.partner.select_title }}</p> 
                            {% else %}
                                <p>{{ user.partner.select_title }}</p> 
                            {% endif %}
                        </a>
                    </li>
                    <li class="now">
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            單位資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="javascript:;" class="info changeMenu" data-menu="info">修改單位資訊</a>
                            {% if user.is_partner_admin %}
                            <a href="javascript:;" class="account changeMenu" data-menu="account">單位帳號管理</a>
                            {% endif %}
                            <a href="javascript:;" class="sensitive changeMenu" data-menu="sensitive">單次使用去模糊化敏感資料申請</a>
                            <!--<a href="javascript:;" class="feedback changeMenu" data-menu="feedback">意見回饋紀錄</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'partner_news' %}?menu=list">審核狀態</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content info d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單位基本資料</div>
                    <ul class="edit-list">
                        <form id="updateForm">
                            {% csrf_token %}
                            <input type="hidden" name="partner_id" value="{{ user.partner.id }}">
                            <li>單位名稱</li>
                            <li><input type="text" name="partner" value="{{ user.partner.select_title }}" disabled></li>
                            <li>單位管理者名稱</li>
                            <li><input type="text" name="name" value="{{ partner_admin }}" disabled>
                            </li>
                            <!-- 這邊可能不只一個 -->
                            {% if user.partner.info|length > 1 %}
                                {% for i in user.partner.info %}
                                <li>資料庫名稱{{ forloop.counter }}</li>
                                <li><input type="text" name="subtitle_{{ i.id }}" value="{{ i.subtitle }}" disabled>
                                </li>
                                <li>簡介{{ forloop.counter }}</li>
                                <li><textarea name="description_{{ i.id }}">{{ i.description }}</textarea>
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>英文簡介</li>
                                <li><textarea name="description_en_{{ i.id }}">{{ i.description_en }}</textarea>
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>聯絡網址{{ forloop.counter }}</li>
                                <li><input name="link_{{ i.id }}" value="{{ i.link }}">
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% else %}
                                {% for i in user.partner.info %}
                                <li>資料庫名稱</li>
                                <li><input type="text" name="subtitle_{{ i.id }}" value="{{ i.subtitle }}" disabled>
                                </li>
                                <li>簡介</li>
                                <li><textarea name="description_{{ i.id }}">{{ i.description }}</textarea>
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>英文簡介</li>
                                <li><textarea name="description_en_{{ i.id }}">{{ i.description_en }}</textarea>
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>聯絡網址</li>
                                <li><input name="link_{{ i.id }}" value="{{ i.link }}">
                                    <div class="noticbox d-none">
                                        <div class="in1">錯誤</div>
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </form>
                        <li ><button class="read_btn updateInfo">確認修改</button></li>
                    </ul>
            </div>
        </div>

        <div class="rightbox_content account d-none">
        {% if user.is_partner_admin %}
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單位帳號管理</div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style1 account_table">
                        <tr class="account_table_header">
                            <td class="w-8p">編號</td>
                            <td class="w-25p">姓名</td>
                            <td class="w-20p">權限</td>
                            <td class="w-15p">狀態</td>
                            <td class="w-15p"></td>
                        </tr> 
                        {% for pm in partner_members %}
                        <tr>
                            <td>#{{ pm.id }}</td>
                            <td>{{ pm.name }} ({{ pm.email }})</td>
                            <td>
                                <select name="role" class="w-100p" data-id="{{ pm.id }}">
                                    {% if pm.is_partner_admin %}
                                        <option value="is_partner_admin" selected>單位管理員</option>
                                        <option value="is_partner_account">單位帳號</option>
                                    {% else %}
                                        <option value="is_partner_admin">單位管理員</option>
                                        <option value="is_partner_account" selected>單位帳號</option>
                                    {% endif %}
                                </select>
                            </td>
                            <td>
                                <select name="status" class="w-100p" data-id="{{ pm.id }}">
                                    {% for s in status_choice %}
                                        {% if s.0 == pm.status %}
                                        <option value="{{ s.0 }}" selected>{{ s.1 }}</option>
                                        {% else %}
                                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td><button class="manager_btn save_btn" data-id="{{ pm.id }}">儲存</button></td>
                        </tr>
                        {% endfor %}
                    </table>						
                </div>
                <div class="page_number">
					{% if a_page_list|length > 1 %}
                    <a href="javascript:;" class="num changePage" data-page="1" data-type="account">1</a>
                    <a href="javascript:;" class="pre pt-none">
                        <span></span>上一頁
                    </a>
                    <!--目前頁面給 now-->
                    {% for p in a_page_list %}
                        {% if p == 1 %}
                            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="account">{{ p }}</a>
                        {% else %}
                            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="account">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if 2 in a_page_list %}
                    <a href="javascript:;" class="next changePage" data-page="2" data-type="account">
                        下一頁<span></span>
                    </a>
                    {% else %}
                    <a href="javascript:;" class="next pt-none">
                        下一頁<span></span>
                    </a>
                    {% endif %}
                    <a href="javascript:;" class="num changePage" data-page="{{ a_total_page }}" data-type="account">{{ a_total_page }}</a>
                    {% endif %}
				</div>
            </div>
        {% else %}
        您的權限不足
        {% endif %}
    
        </div>

        <div class="rightbox_content sensitive d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單次使用去模糊化敏感資料申請</div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style1 sensitive_apply_table">
                        <tr class="sensitive_apply_table_header">
                            <td class="w-10p">編號</td>
                            <td class="w-30p">申請時間</td>
                            <td class="w-40p">搜尋條件</td>
                            <td class="w-10p">狀態</td>
                            <td class="w-10p"></td>
                        </tr> 
                        {% for s in sensitive %}
                        <tr>
                            <td>#{{ s.id }}</td>
                            <td>{{ s.created }}<br>審核期限：{{ s.due }}</td>
                            <td class="align_left">
                                {{ s.query|safe }}
                                <br>
                                <a class="search-again-a" target="_blank" href="{{ s.query_a }}">再次查詢
                                    <svg class="search-again-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                                        <g id="loupe" transform="translate(0 -0.003)">
                                        <g id="Group_13" data-name="Group 13" transform="translate(0 0.003)">
                                            <path id="Path_54" data-name="Path 54" d="M24.695,23.225l-7.109-7.109a9.915,9.915,0,1,0-1.473,1.473L23.222,24.7a1.041,1.041,0,1,0,1.473-1.473ZM9.9,17.711A7.812,7.812,0,1,1,17.708,9.9,7.821,7.821,0,0,1,9.9,17.711Z" transform="translate(0 -0.003)" fill="#3f5146"></path>
                                        </g>
                                        </g>
                                    </svg>
                                </a>
                            </td>
                            <td>{{ s.status }}</td>
                            <td><a class="pointer showRequest manager_btn" data-query_id="{{ s.query_id }}" data-query="{{ s.query }}" data-sdr_id="{{ s.id }}">查看</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="page_number">
					{% if s_page_list|length > 1 %}
                    <a href="javascript:;" class="num changePage" data-page="1" data-type="sensitive_apply">1</a>
                    <a href="javascript:;" class="pre pt-none">
                        <span></span>上一頁
                    </a>
                    <!--目前頁面給 now-->
                    {% for p in s_page_list %}
                        {% if p == 1 %}
                            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="sensitive_apply">{{ p }}</a>
                        {% else %}
                            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="sensitive_apply">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if 2 in s_page_list %}
                    <a href="javascript:;" class="next changePage" data-page="2" data-type="sensitive_apply">
                        下一頁<span></span>
                    </a>
                    {% else %}
                    <a href="javascript:;" class="next pt-none">
                        下一頁<span></span>
                    </a>
                    {% endif %}
                    <a href="javascript:;" class="num changePage" data-page="{{ s_total_page }}" data-type="sensitive_apply">{{ s_total_page }}</a>
                    {% endif %}
				</div>
            </div>
        </div>

        <!--
        <div class="rightbox_content feedback d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>意見回饋紀錄</div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style1 feedback_table">
                        <tr>
                            <td>編號</td>
                            <td>時間</td>
                            <td>Email</td>
                            <td>類型</td>
                            <td>內容</td>
                            <td class="w-15p">已回覆</td>
                        </tr> 
                        {% for f in feedback %}
                        <tr>
                            <td>#{{ f.id }}</td>
                            <td>{{ f.created_8|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ f.email }}</td>
                            <td>{{ f.get_type_display }}</td>
                            <td>{{ f.content }}</td>
                            <td>{% if f.is_replied %}
                                是<button class="manager_btn feedback_btn w-95p updateFeedback" data-fid="{{ f.id }}">修改為未回覆</button>
                                {% else %}
                                否<button class="manager_btn feedback_btn w-95p updateFeedback" data-fid="{{ f.id }}">修改為已回覆</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="page_number">
					{% if f_page_list|length > 1 %}
                    <a href="javascript:;" class="num changePage" data-page="1" data-type="feedback">1</a>
                    <a href="javascript:;" class="pre pt-none">
                        上一頁
                    </a>
                    {% for p in f_page_list %}
                        {% if p == 1 %}
                            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="feedback">{{ p }}</a>
                        {% else %}
                            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="feedback">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if 2 in f_page_list %}
                    <a href="javascript:;" class="next changePage" data-page="2" data-type="feedback">
                        下一頁
                    </a>
                    {% else %}
                    <a href="javascript:;" class="next pt-none">
                        下一頁
                    </a>
                    {% endif %}
                    <a href="javascript:;" class="num changePage" data-page="{{ f_total_page }}" data-type="feedback">{{ f_total_page }}</a>
                    {% endif %}
				</div>
            </div>
        </div>
        -->
        {% else %}
        您的權限不足
        {% endif %}
    </div>

    </div>

</div>


<!--審查意見popbox-->
<div class="popbg detail-pop d-none">
	<div class="ovhy"> 
		<div class="wbox_center">
			<div class="xx">
			</div>
			<div class="titlegreen">
			</div>
			<p class="shortxt">
			</p>
			<div class="from_area">
                <div class="w_border10_box application_form panel">
                    <div class="form_top">
                        <!--
                        <div class="apply_date">
                            申請時間：{{ today }}
                        </div>-->
                    </div>
                    <button class="accordion fs-16px">申請詳細資訊</button>
                    <div class="form_box panel d-none form-flow fs-14px">
                        <form id="detailForm">
                        <div class="path_inf">
                            <p>搜尋條件</p>
                            <div class="riginf">
                            </div>
                        </div>
                        <hr>
                        <div class="inpu_3">
                            <div class="input_item">
                                <p>申請人姓名</p>
                                <input name="applicant" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>聯絡電話</p>
                                <input name="phone" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>聯絡地址</p>
                                <input name="address" type="text" disabled>
                            </div> 
                        </div>
                        <div class="inpu_2">
                            <div class="input_item">
                                <p>申請人所屬單位</p>
                                <input name="affiliation" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>計畫類型</p>
                                <input name="type" type="text" disabled>
                            </div>
                        </div>
                        <div class="inpu_2">
                            <div class="input_item">
                                <p class="project_type">個人研究計畫名稱</p>
                                <input name="project_name" type="text" disabled>
                            </div>
                            <div class="input_item p_affli d-none">
                                <p>委託計畫單位</p>
                                <input name="project_affiliation" type="text" disabled>
                            </div>

                        </div>
                        <div class="text_area">
                            <p>計畫摘要</p>
                            <textarea name="abstract" disabled></textarea>
                        </div>
                        </form>
                        <div class="apply_peo">
                            <p class="title">申請資料使用者</p>
                        </div>
                    </div>
                    <button class="accordion fs-16px">審查意見</button>
                    <div class="form_box panel d-none form-flow fs-14px">
                        {% if not user.is_partner_admin %}
                        <fieldset disabled >
                        {% endif %}
                        <form id="reviewForm">
                        <div class="inpu_2">
                            <input type="hidden" name="query_id">
                            <input type="hidden" name="sdr_id">
                            <div class="input_item">
                                <p>審核者姓名</p>
                                <input name="reviewer_name" type="text" value="{{ request.user.name }}">
                            </div>
                        </div>
                        <div class="text_area">
                            <p>審核意見</p>
                            <textarea name="comment" placeholder=""></textarea>
                        </div>
                        <div class="inpu_2">
                            <div class="input_item">
                                <p>通過與否</p>
                                <select name="status">
                                    <option value="pass">通過</option>
                                    <option value="fail">不通過</option>
                                </select>
                            </div>
                        </div>
                        </form>
                    </div>                
                    {% if user.is_partner_admin %}
                    <button class="send send-check mt-15px">確認送出</button>
                    <button class="send-submitted d-none mt-15px" disabled>審核已完成不得修改</button>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
</div>

<!--確認送出pop-->
<div class="messageboxfix submit-check d-none">
    <div class="message_box">
        <div class="informationicon">!</div>
        <p>送出後無法修改，確認送出？</p>
        <div class="btn_area">
            <button class="hide_submit-check">取消</button>
            <button class="send_review">確認</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/manager/partner_info.js' %}"></script>
{% endblock script %}