{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '單位後台' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/partner_info.css' %}?v8" />
{% endblock style %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}
{% block body %}
{% csrf_token %}
<input type="hidden" name="menu" value="{{ menu }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '單位後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_partner_account or user.is_partner_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover">
                        <a class="big_link rd_click" href="/manager/partner">
                            {% if user.partner.select_title|length > 13 %}
                                <p class="fs-16px">{{ user.partner.select_title }}</p> 
                            {% else %}
                                <p>{{ user.partner.select_title }}</p> 
                            {% endif %}
                        </a>
                    </li>
                    <li class="now">
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            單位資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a class="info changeMenu" data-menu="info">修改單位資訊</a>
                            {% if user.is_partner_admin %}
                            <a class="account changeMenu" data-menu="account">單位帳號管理</a>
                            {% if not user.partner.is_collaboration %}
                            <a class="sensitive_apply changeMenu" data-menu="sensitive_apply">單次使用去模糊化敏感資料申請</a>
                            {% endif %}
                            {% endif %}
                            <!--<a class="feedback changeMenu" data-menu="feedback">意見回饋紀錄</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'partner_news' %}?menu=news">審核狀態</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content info d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單位基本資料</div>
                    <ul class="edit-list">
                        <form id="updateForm">
                            {% csrf_token %}
                            <input type="hidden" name="partner_id" value="{{ user.partner.id }}">
                            <li>單位名稱</li>
                            <li><input type="text" name="partner" value="{{ user.partner.select_title }}" disabled></li>
                            <li>單位管理者名稱</li>
                            <li><input type="text" name="name" value="{{ partner_admin }}" disabled>
                            </li>
                            <!-- 這邊可能不只一個 -->
                            {% if user.partner.info|length > 1 %}
                                {% for i in user.partner.info %}
                                <li>資料庫名稱{{ forloop.counter }}</li>
                                <li><input type="text" name="subtitle_{{ i.id }}" value="{{ i.subtitle }}" disabled>
                                </li>
                                <li>簡介{{ forloop.counter }}</li>
                                <li><textarea name="description_{{ i.id }}">{{ i.description }}</textarea>
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>英文簡介</li>
                                <li><textarea name="description_en_{{ i.id }}">{{ i.description_en }}</textarea>
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>聯絡網址{{ forloop.counter }}</li>
                                <li><input name="link_{{ i.id }}" value="{{ i.link }}">
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% else %}
                                {% for i in user.partner.info %}
                                <li>資料庫名稱</li>
                                <li><input type="text" name="subtitle_{{ i.id }}" value="{{ i.subtitle }}" disabled>
                                </li>
                                <li>簡介</li>
                                <li><textarea name="description_{{ i.id }}">{{ i.description }}</textarea>
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>英文簡介</li>
                                <li><textarea name="description_en_{{ i.id }}">{{ i.description_en }}</textarea>
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                <li>聯絡網址</li>
                                <li><input name="link_{{ i.id }}" value="{{ i.link }}">
                                    <div class="noticbox d-none">
                                        {% comment %} <div class="in1">錯誤</div> {% endcomment %}
                                        <p>必填欄位</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </form>
                        <li ><button class="read_btn updateInfo">確認修改</button></li>
                    </ul>
            </div>
        </div>

        <div class="rightbox_content account d-none">
        {% if user.is_partner_admin %}
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單位帳號管理</div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style3 account_table accouunt_table">
                        <tr class="account_table_header">
                            <td class="w-8p">編號</td>
                            <td class="w-25p">姓名</td>
                            <td class="min-150px">權限</td>
                            <td class="min-150px">狀態</td>
                            <td class="w-15p"></td>
                        </tr> 
                    </table>						
                </div>
            </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
    
        </div>

        <div class="rightbox_content sensitive_apply d-none">
        {% if user.is_partner_admin and not user.partner.is_collaboration %}
            <div class="item">
                <div class="box-title"><div class="dottt"></div>單次使用去模糊化敏感資料申請</div>
                <div class="d-flex-jc-sb">
                    <p class="expired-p">*{% trans '下載檔案連結將保留三個月' %}</p>
                    <div class="d-flex">
                        <a class="dow_btn downloadReport">
                            <form id="downloadReport" action="{% url 'download_sensitive_report' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="from" value="partner">
                            </form>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 14.5V16.75C1 17.3467 1.23705 17.919 1.65901 18.341C2.08097 18.7629 2.65326 19 3.25 19H16.75C17.3467 19 17.919 18.7629 18.341 18.341C18.7629 17.919 19 17.3467 19 16.75V14.5M14.5 10L10 14.5M10 14.5L5.5 10M10 14.5V1" stroke="#3F5146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>下載使用者申請報表</p>
                        </a>
                        <a class="dow_btn downloadPartnerReport">
                            <form id="downloadPartnerReport" action="{% url 'download_partner_sensitive_report' %}" method="POST">
                            {% csrf_token %}
                            {% comment %} <input type="hidden" name="from" value="partner_use"> {% endcomment %}
                            </form>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 14.5V16.75C1 17.3467 1.23705 17.919 1.65901 18.341C2.08097 18.7629 2.65326 19 3.25 19H16.75C17.3467 19 17.919 18.7629 18.341 18.341C18.7629 17.919 19 17.3467 19 16.75V14.5M14.5 10L10 14.5M10 14.5L5.5 10M10 14.5V1" stroke="#3F5146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>下載正式會員使用報表</p>
                        </a>
                    </div>
                </div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style3 sensitive_apply_table">
                        <tr class="sensitive_apply_table_header">
                            <td>申請編號</td>
                            {% comment %} <td class="w-10p">檔案編號</td> {% endcomment %}
                            <td>申請者</td>
                            <td>申請時間</td>
                            {% comment %} <td>搜尋條件</td>
                            <td>筆數</td> {% endcomment %}
                            <td>狀態</td>
                            <td>申請資訊</td>
                            <td>檔案連結</td>
                        </tr> 
                    </table>
                </div>
            </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
        </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
    </div>

    </div>

</div>


<!--審核意見popbox-->
<div class="popbg detail-pop d-none">
	<div class="ovhy"> 
		<div class="wbox_center">
			<div class="xx">
			</div>
			<div class="titlegreen">
			</div>
			<p class="shortxt">
			</p>
			<div class="from_area">
                <div class="w_border10_box application_form panel">
                    <div class="form_top">
                        <!--
                        <div class="apply_date">
                            申請時間：{{ today }}
                        </div>-->
                    </div>
                    <button class="accordion fs-16px">申請詳細資訊</button>
                    <div class="form_box panel d-none form-flow fs-14px">
                        <form id="detailForm">
                        {% csrf_token %}
                        <div class="path_inf">
                            <p>搜尋條件</p>
                            <div class="riginf">
                            </div>
                        </div>
                        <hr>
                        <div class="inpu_3">
                            <div class="input_item">
                                <p>申請人姓名</p>
                                <input name="applicant" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>聯絡電話</p>
                                <input name="phone" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>聯絡地址</p>
                                <input name="address" type="text" disabled>
                            </div> 
                        </div>
                        <div class="inpu_3">
                            <div class="input_item">
                                <p>申請人Email</p>
                                <input name="applicant_email" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>申請人所屬單位</p>
                                <input name="affiliation" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p>申請人職稱</p>
                                <input name="job_title" type="text" disabled>
                            </div>
                        </div>
                        <div class="inpu_2">
                            <div class="input_item">
                                <p>計畫類型</p>
                                <input name="type" type="text" disabled>
                            </div>
                            <div class="input_item">
                                <p class="project_type">個人研究計畫名稱</p>
                                <input name="project_name" type="text" disabled>
                            </div>
                            <div class="input_item p_affli d-none">
                                <p>委託計畫單位</p>
                                <input name="project_affiliation" type="text" disabled>
                            </div>
                            <!-- 夥伴單位不會有這項才對 -->
                            {% comment %} <div class="input_item p_principal d-none">
                                <p>計畫主持人姓名</p>
                                <input name="principal_investigator" type="text" disabled>
                            </div> {% endcomment %}
                        </div>
                        <div class="text_area">
                            <p>計畫摘要</p>
                            <textarea name="abstract" disabled></textarea>
                        </div>
                        <div class="text_area">
                            <input type="checkbox" name="is_agreed_report" disabled>  是否同意提供研究成果</input>
                            <a class="applicant_refs search-again-a">申請者曾提供成果參考 🔗</a>
                        </div>
                        </form>
                        <form id="downloadApplicantReport" action="{% url 'download_applicant_sensitive_report' %}" method="POST">
                            <input type="hidden" name="applicant_user_id" value="">
                            {% csrf_token %}
                        </form>
                        <div class="apply_peo">
                            <p class="title">此批申請資料其他使用者</p>
                        </div>
                    </div>
                    <button class="accordion fs-16px">審核意見</button>
                    <div class="form_box panel d-none form-flow fs-14px">
                        {% if not user.is_partner_admin %}
                        <fieldset disabled >
                        {% endif %}
                        <form id="reviewForm">
                        {% csrf_token %}
                        <div class="inpu_2">
                            <input type="hidden" name="query_id">
                            <input type="hidden" name="sdr_id">
                            <div class="input_item">
                                <p>審核者姓名</p>
                                <input name="reviewer_name" type="text" value="{{ request.user.name }}">
                            </div>
                        </div>
                        <div class="text_area">
                            <p>審核意見</p>
                            <textarea name="comment" placeholder=""></textarea>
                        </div>
                        <div class="inpu_2">
                            <div class="input_item">
                                <p>通過與否</p>
                                <select name="status">
                                    <option value="pass">通過</option>
                                    <option value="fail">不通過</option>
                                </select>
                            </div>
                        </div>
                        </form>
                    </div>                
                    {% if user.is_partner_admin %}
                    <button class="send send-check mt-15px">確認送出</button>
                    <button class="send-submitted d-none mt-15px" disabled>審核已完成不得修改</button>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
</div>

<!--確認送出pop-->
<div class="messageboxfix submit-check d-none">
    <div class="message_box">
        <div class="informationicon">!</div>
        <p>送出後無法修改，確認送出？</p>
        <div class="btn_area">
            <button class="hide_submit-check">取消</button>
            <button class="send_review">確認</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/manager/partner_info.js' %}?v14"></script>
{% endblock script %}