{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '單位後台' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/manager_partner.css' %}?v3" />
{% endblock style %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}

{% block body %}
{% csrf_token %}

{% if user.is_partner_account or user.is_partner_admin %}
<input type="hidden" name="is_partner" value="True">
{% endif %}

<input type="hidden" name="partner_id" value="{{ user.partner.id  }}">
<input type="hidden" name="current_group" value="{{ user.partner.group  }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '單位後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_partner_account or user.is_partner_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover now">
                        <a class="big_link rd_click ">
                            {% if user.partner.select_title|length > 13 %}
                                <p class="fs-16px">{{ user.partner.select_title }}</p> 
                            {% else %}
                                <p>{{ user.partner.select_title }}</p> 
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            單位資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_info' %}?menu=info">修改單位資訊</a>
                            {% if user.is_partner_admin %}
                            <a href="{% url 'partner_info' %}?menu=account">單位帳號管理</a>
                            {% endif %}
                            <a href="{% url 'partner_info' %}?menu=sensitive_apply">單次使用去模糊化敏感資料申請</a>
                            <!--<a href="{% url 'partner_info' %}?menu=feedback">意見回饋紀錄</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'partner_news' %}?menu=news">審核狀態</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content dashboard">
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料筆數
                    </div>
                    <figure class="highcharts-figure h-300px">
                        <div id="container" class="h-100p"></div>
                    </figure>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>影像資料筆數
                    </div>
                    <figure class="highcharts-figure h-300px">
                        <div id="container-image-stat" class="h-100p"></div>
                    </figure>
                </div>
            </div>
            <hr>
            <div class="item">
                <div class="box-title"><div class="dottt"></div>TaiCOL 學名對應狀況</div>
                <div class="d-flex-jc-sb">
                    <div class="w-50p">
                        <figure class="highcharts-figure h-300px">
                            <div id="container2" class="h-100p"></div>
                        </figure>
                    </div>                    
                    <div class="w-50p mt-15px ml-20px">
                        <p>下載學名比對結果清單 <a class="fs-16px" href="/media/學名比對欄位說明文件.pdf"  target="_blank" >(學名比對欄位說明文件)</a></p>
                        <ul class="mt-5px ml-20px fs-16px">
                            {% for i in download_url %}
                            <li>
                                <a class="download_taxon_a" target="_blank" href="{{ i.url }}">{{ i.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>物種類群資料筆數
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-taxon_group-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div id="taxon_group-stat-title">👈點擊圓餅圖取得單位內各資料庫筆數</div>
                    <ul id="taxon_group-stat-list" class="mt-5px ml-20px fs-16px">
                    </ul>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb" >
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被查詢筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="search-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-search-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被下載筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="download-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-download-stat" class="h-100p"></div>
                    </div>
                </div>            
            </div>
            <div class="item d-flex-jc-sb" >
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料累積筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="data-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-data-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>

        </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/manager/manager_partner.js' %}?v2"></script>
{% endblock script %}