{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '單位後台' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/manager_partner.css' %}?v6" />
<link rel="stylesheet" href="/static/nouislider/nouislider.css">

{% endblock style %}

{% block head %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/static/nouislider/nouislider.js"></script>

{% endblock head %}

{% block body %}
{% csrf_token %}

{% if user.is_partner_account or user.is_partner_admin %}
<input type="hidden" name="is_partner" value="True">
{% endif %}

<input type="hidden" name="partner_id" value="{{ user.partner.id  }}">
<input type="hidden" name="current_group" value="{{ user.partner.group  }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '單位後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_partner_account or user.is_partner_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover now">
                        <a class="big_link rd_click ">
                            {% if user.partner.select_title|length > 13 %}
                                <p class="fs-16px">{{ user.partner.select_title }}</p> 
                            {% else %}
                                <p>{{ user.partner.select_title }}</p> 
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            單位資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_info' %}?menu=info">修改單位資訊</a>
                            {% if user.is_partner_admin %}
                            <a href="{% url 'partner_info' %}?menu=account">單位帳號管理</a>
                            {% if not user.partner.is_collaboration %}
                            <a href="{% url 'partner_info' %}?menu=sensitive_apply">單次使用去模糊化敏感資料申請</a>
                            {% endif %}
                            {% endif %}
                            <!--<a href="{% url 'partner_info' %}?menu=feedback">意見回饋紀錄</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'partner_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'partner_news' %}?menu=news">審核狀態</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content dashboard">
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料筆數
                    </div>
                    <figure class="highcharts-figure h-300px">
                        <div id="container" class="h-100p"></div>
                    </figure>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>影像資料筆數
                    </div>
                    <figure class="highcharts-figure h-300px">
                        <div id="container-image-stat" class="h-100p"></div>
                    </figure>
                </div>
            </div>
            <hr>
            <div class="item">
                <div class="box-title"><div class="dottt"></div>資料品質
                    <a class="qmark tooltip">
                        <span class="tooltiptext">
                            金：包含 scientificName、latitude、longitude、year、month、basisOfRecord、coordinatesUncertaintyInMeters / coordinatePrecision 其一
                            <br>
                            銀：包含 scientificName、latitude、longitude、year
                            <br>
                            銅：缺少 scientificName、latitude、longitude、year 任一項
                        </span>
                    </a>
                </div>
                <div class="d-flex-jc-sb">
                    <div class="w-50p">
                        <figure class="highcharts-figure h-300px">
                            <div id="container-data-quality" class="h-100p"></div>
                        </figure>
                        <p class="expired-p ml-5px">*圓餅圖為系統整體資料狀況</p>
                    </div>                    
                    <div class="w-50p mt-15px ml-20px">
                        <ul id="quality-stat-list" class="mt-5px ml-20px fs-16px">
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item">
                <div class="box-title"><div class="dottt"></div>TaiCOL 學名對應狀況</div>
                <div class="d-flex-jc-sb">
                    <div class="w-50p">
                        <figure class="highcharts-figure h-300px">
                            <div id="container2" class="h-100p"></div>
                        </figure>
                    </div>                    
                    <div class="w-50p mt-15px ml-20px">
                        <p>下載學名比對結果清單 <a class="fs-16px" href="/media/學名比對欄位說明文件.pdf"  target="_blank">(學名比對欄位說明文件)</a></p>
                        <ul class="mt-5px ml-20px fs-16px">
                            {% for i in download_url %}
                            <li>
                                <a class="download_taxon_a" target="_blank" href="{{ i.url }}">{{ i.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>物種類群資料筆數
                        <br>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-taxon_group-stat" class="h-100p"></div>
                    </div>
                    <p class="expired-p ml-5px">*僅計算臺灣地理範圍內TaiCOL定義之種及種下臺灣物種資料</p>
                    <p class="expired-p ml-5px">*此處維管束植物不包含蕨類植物</p>
                    <p class="expired-p ml-5px">*圓餅圖為系統整體資料狀況</p>
                </div>
                <div class="w-50p">
                    <div id="taxon_group-stat-title">👈點擊圓餅圖取得單位內各資料庫筆數</div>
                    <ul id="taxon_group-stat-list" class="mt-5px ml-20px fs-16px">
                    </ul>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被查詢筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="search-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-search-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被下載筆數 <p class="expired-p ml-5px">*不包含敏感資料申請筆數</p>
                    </div>
                    <div class="ml-20px">                        
                        <div class="d-flex mt-15px">
                            <select class="panel-select" name="download-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-download-stat" class="h-100p"></div>
                    </div>
                </div>            
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被查詢次數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="search-times-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-search-times-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被下載次數 <p class="expired-p ml-5px">*不包含敏感資料申請筆數</p>
                    </div>
                    <div class="ml-20px">                        
                        <div class="d-flex mt-15px">
                            <select class="panel-select" name="download-times-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-download-times-stat" class="h-100p"></div>
                    </div>
                </div>            
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料累積筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="data-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-data-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月敏感資料被下載筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="sensitive-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-sensitive-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb margin-bottom-0">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>所屬單位資料空間空缺狀況
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex  spatial-area-div">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="partner-spatial-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="昆蟲">{% trans "昆蟲" %}</option>
                                <option value="蜘蛛">{% trans "蜘蛛" %}</option>
                                <option value="魚類">{% trans "魚類" %}</option>
                                <option value="兩棲類">{% trans "兩棲類" %}</option>
                                <option value="爬蟲類">{% trans "爬蟲類" %}</option>
                                <option value="鳥類">{% trans "鳥類" %}</option>
                                <option value="哺乳類">{% trans "哺乳類" %}</option>
                                <option value="維管束植物">{% trans "維管束植物" %}</option>
                                <option value="蕨類植物">{% trans "蕨類植物" %}</option>
                                <option value="苔蘚植物">{% trans "苔蘚植物" %}</option>
                                <option value="藻類">{% trans "藻類" %}</option>
                                <option value="病毒">{% trans "病毒" %}</option>
                                <option value="真菌">{% trans "真菌" %}</option>
                                <option value="細菌">{% trans "細菌" %}</option>
                            </select>
                            <span class="ml-5px panel-select-text"> <button class="feedback_btn w-100p exportPartnerKML">匯出KML</button></span>
                        </div>
                    </div>
                    <div class="map_img">
                        <div class="imgbox spatial-area-div">
                            <div id="partner-map" class="img"></div>
                        </div>
                    </div>  
                    <div class="loading_area_partial">
                        <div class="sc">
                        <div class="load"><span>L</span>ading</div>
                        </div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>入口網資料空間空缺狀況
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex total-spatial-area-div">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="portal-spatial-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="昆蟲">{% trans "昆蟲" %}</option>
                                <option value="蜘蛛">{% trans "蜘蛛" %}</option>
                                <option value="魚類">{% trans "魚類" %}</option>
                                <option value="兩棲類">{% trans "兩棲類" %}</option>
                                <option value="爬蟲類">{% trans "爬蟲類" %}</option>
                                <option value="鳥類">{% trans "鳥類" %}</option>
                                <option value="哺乳類">{% trans "哺乳類" %}</option>
                                <option value="維管束植物">{% trans "維管束植物" %}</option>
                                <option value="蕨類植物">{% trans "蕨類植物" %}</option>
                                <option value="苔蘚植物">{% trans "苔蘚植物" %}</option>
                                <option value="藻類">{% trans "藻類" %}</option>
                                <option value="病毒">{% trans "病毒" %}</option>
                                <option value="真菌">{% trans "真菌" %}</option>
                                <option value="細菌">{% trans "細菌" %}</option>
                            </select>
                            <span class="ml-5px panel-select-text"> <button class="feedback_btn w-100p exportPortalKML">匯出KML</button></span>
                        </div>
                    </div>

                    <div class="map_img">
                        <div class="imgbox total-spatial-area-div">
                            <div id="portal-map" class="img"></div>
                        </div>
                    </div>
                    <div class="loading_area_partial total">
                        <div class="sc">
                        <div class="load"><span>L</span>ading</div>
                        </div>
                    </div>

                </div>
                
            </div>
            <p class="expired-p ml-10px">*{% trans '僅計算臺灣地理範圍內TaiCOL定義之種及種下臺灣物種資料' %}</p>

            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>所屬單位資料時間空缺狀況
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text">年份區間</span>
                            <div class="panel-range-select ml-20px">
                                <div id="partner-temporal-year-slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-partner-temporal-year-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="no-dottt"></div>
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="partner-temporal-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="昆蟲">{% trans "昆蟲" %}</option>
                                <option value="蜘蛛">{% trans "蜘蛛" %}</option>
                                <option value="魚類">{% trans "魚類" %}</option>
                                <option value="兩棲類">{% trans "兩棲類" %}</option>
                                <option value="爬蟲類">{% trans "爬蟲類" %}</option>
                                <option value="鳥類">{% trans "鳥類" %}</option>
                                <option value="哺乳類">{% trans "哺乳類" %}</option>
                                <option value="維管束植物">{% trans "維管束植物" %}</option>
                                <option value="蕨類植物">{% trans "蕨類植物" %}</option>
                                <option value="苔蘚植物">{% trans "苔蘚植物" %}</option>
                                <option value="藻類">{% trans "藻類" %}</option>
                                <option value="病毒">{% trans "病毒" %}</option>
                                <option value="真菌">{% trans "真菌" %}</option>
                                <option value="細菌">{% trans "細菌" %}</option>
                            </select>  
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-partner-temporal-month-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <p class="expired-p ml-10px">*{% trans '僅計算臺灣地理範圍內TaiCOL定義之種及種下臺灣物種資料' %}</p>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>入口網資料時間空缺狀況
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text">年份區間</span>
                            <div class="panel-range-select ml-20px">
                                <div id="portal-temporal-year-slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-portal-temporal-year-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="no-dottt"></div>
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="portal-temporal-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="昆蟲">{% trans "昆蟲" %}</option>
                                <option value="蜘蛛">{% trans "蜘蛛" %}</option>
                                <option value="魚類">{% trans "魚類" %}</option>
                                <option value="兩棲類">{% trans "兩棲類" %}</option>
                                <option value="爬蟲類">{% trans "爬蟲類" %}</option>
                                <option value="鳥類">{% trans "鳥類" %}</option>
                                <option value="哺乳類">{% trans "哺乳類" %}</option>
                                <option value="維管束植物">{% trans "維管束植物" %}</option>
                                <option value="蕨類植物">{% trans "蕨類植物" %}</option>
                                <option value="苔蘚植物">{% trans "苔蘚植物" %}</option>
                                <option value="藻類">{% trans "藻類" %}</option>
                                <option value="病毒">{% trans "病毒" %}</option>
                                <option value="真菌">{% trans "真菌" %}</option>
                                <option value="細菌">{% trans "細菌" %}</option>
                            </select>  
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-portal-temporal-month-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <p class="expired-p ml-10px">*{% trans '僅計算臺灣地理範圍內TaiCOL定義之種及種下臺灣物種資料' %}</p>

        </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/manager/manager_partner.js' %}?v11"></script>
{% endblock script %}