{% extends './base.html' %}

{% block title %}登入｜{% endblock %}

{% block style %}
<style>
    ul {
        list-style: none;
    }

    .login-list li {
        padding: 10px;
    }

</style>
{% endblock %}

{% block body %}
    <form method="POST" action="{% url 'login' %}" id="login-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul class="login-list">
                    <li class="d-flex justify-content-center"><h3>登入</h3></li>
                    <li style="text-align: right;" ><a href="{% url 'register' %}">註冊</a></li>
                    <li><input type="text" name="email" value="{{data.email}}"  placeholder="Email" required></li>
                    <li><input type="password" name="password" value="{{data.password}}"  placeholder="密碼" ></li>
                    <!-- <li><input type="text" name="email" value="{{data.email}}" placeholder="Email" onkeyup="ValidateEmail(this.value)" required>
                        <svg id="email-check" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightgrey" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg></li> -->
                    <li><button class="btn btn-light">送出</button></li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
<script>
    //https://emailregex.com
    function ValidateEmail(inputText){
        let mailformat = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        if(inputText.match(mailformat)){
            $('#email-check').attr('fill', 'green');
        } else {
            $('#email-check').attr('fill', 'lightgrey');
        }
    }

    function ValidateNotEmpty(length){
        console.log(length, length.length);
        /*
        if(inputText.match(mailformat)){
            $('#email-check').attr('fill', 'green');
        } else {
            $('#email-check').attr('fill', 'lightgrey');
        }
        */
    }

    

</script>
{% endblock %}