{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}註冊｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/register_success.css' %}" />
{% endblock style %}

{% block body %}
{% csrf_token %}
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p>會員註冊</p>
    </div>
</div>
 
<div class="minh_content">
    <div class="nbn_title">
        <h2>會員註冊</h2>
    </div>
    <div class="main_1240"> 
        <div class="w_border10_box">
            <div class="maxw_760"> 
                <h3 class="suss">驗證成功</h3>
                <p class="center marb_30">※ 您的電子信箱驗證成功，歡迎加入TBIA網站會員！</p>
                <div class="bt_center">
                    <button class="back-to-index">回首頁</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
