{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}註冊｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register_verification.css' %}" />
{% endblock style %}

{% block body %}
{% csrf_token %}
<input type="hidden" name="resend_email" value="{{ email }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p>會員註冊</p>
    </div>
</div>
 
<div class="minh_content">
    <div class="nbn_title">
        <h2>會員註冊</h2>
    </div>
    <div class="main_1240"> 
        <div class="w_border10_box">
            <div class="maxw_760"> 
                <p class="marb_20">
                    我們將寄出一封驗證信至您填寫的信箱，請完成您的電子信箱認證就可啟用會員帳號。謝謝！
                </p>
                <div class="gray_box">
                    {{ email }}
                </div>
                <div class="bt_center">
                    <button class="resendEmail">重新寄送</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/register_verification.js' %}"></script>
{% endblock script %}