{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}重設密碼｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/reset_password.css' %}" />
{% endblock style %}

{% block body %}
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p>重設密碼</p>
    </div>
</div>
 
<div class="minh_content">
    <div class="nbn_title">
        <h2>重設密碼</h2>
    </div>
    <div class="main_1240"> 
        <div class="w_border10_box">
            <div class="maxw_760"> 
                <form id="resetForm">
                {% csrf_token %}
                    <p class="center marb_20"> 您可在下方欄位修改您的密碼，下次請使用新的密碼登入</p>
                    <p> 新密碼 <span class="col_rel"> (請輸入6~10位英文或數字)</span></p>
                    <div class="inpu_2">							
                        <div class="input_item">
                            <input type="hidden" name="email" value="{{ email }}">
                            <input type="password" name="password" placeholder="請輸入密碼">
                            <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>請輸入6~10位英文或數字</p>
                            </div>          
                        </div>
                        <div class="input_item">
                            <input type="password" name="repassword" placeholder="請再次輸入密碼">
                            <div class="noticbox d-none">
                            <div class="in1">錯誤</div>
                            <p>兩次密碼輸入不同</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bt_center">
                    <button class="resetPassword">確認送出</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/manager/reset_password.js' %}"></script>
{% endblock script %}