{% extends 'base.html' %}

{% block title %}註冊｜{% endblock %}

{% block style %}
<style>
    .minh_content {
        min-height: calc(100% - 340px);
    }

    ul {
        list-style: none;
    }

    .resgister-list li {
        padding: 10px;
    }

    .input_item .noticbox {
        display: flex;
        align-items: center;
        margin-top: 5px
    }
    

    .input_item .noticbox .in1 {
        background: #C65454;
        color: #FFF;
        padding: 5px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 5px;
        margin-right: 5px
    }
    
    .input_item .noticbox p {
        font-size: 14px;
        color: #C65454
    }
    

</style>
{% endblock %}

{% block body %}
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p>忘記密碼</p>
    </div>
</div>
 
 <div class="minh_content">
    <div class="nbn_title">
        <h2>忘記密碼</h2>
    </div>
    <div class="main_1240"> 
        <div class="w_border10_box">
            <div class="maxw_760"> 
                <form id="resetForm">
                {% csrf_token %}
                    <p class="center marb_20"> 您可在下方欄位修改您的密碼，下次請使用新的密碼登入
                    </p>
            
                    <p> 新密碼 <span class="col_rel"> (請輸入6~10位英文或數字)</span></p>
                    <div class="inpu_2">							
                        <div class="input_item">
                            <input type="hidden" name="email" value="{{ email }}">
                            <input type="password" name="password" placeholder="請輸入密碼">
                            <div class="noticbox" style="display: none;">
                                <div class="in1">錯誤</div>
                                <p>請輸入6~10位英文或數字</p>
                            </div>          
                        </div>
                        <div class="input_item">
                            <input type="password" name="repassword" placeholder="請再次輸入密碼">
                            <div class="noticbox" style="display: none;">
                            <div class="in1">錯誤</div>
                            <p>兩次密碼輸入不同</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bt_center">
                    <button onclick="resetPassword()">確認送出</button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    // Function to check letters and numbers
    function checkPasswordStr(inputText){
        let letterNumber = /^[0-9a-zA-Z]{6,10}$/
        if(inputText.match(letterNumber)){
          return true
        } else {
            return false
        }
      }


      function resetPassword(){
      // remove all notice first
      $('#resetForm .noticbox').css('display','none')

      let checked = true

      if (!checkPasswordStr($('#resetForm input[name=password]').val())) { // check password
        $('#resetForm input[name=password]').next('.noticbox').css('display','')
        checked = false
      } 
      
      if ($('#resetForm input[name=password]').val() != $('#resetForm input[name=repassword]').val()) { // check repassword
        $('#resetForm input[name=repassword]').next('.noticbox').css('display','')
        checked = false
      } 

      if (checked)
      {
          $.ajax({
              url: "{% url 'reset_password_submit' %}",
              data: $('#resetForm').serialize() ,
              type: 'POST',
              dataType : 'json',
          })
          .done(function(response) {
            
            if (response.status=='success'){
                alert(response.message)
                location.href="{% url 'index' %}"
              
            } else {
              alert(response.message)
            }
              
          })
          .fail(function( xhr, status, errorThrown ) {
            alert('發生未知錯誤！請聯絡管理員')
            console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
          })  
        }
      }
    

</script>
{% endblock %}