{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"></script>


<link href="/static/fontawesome-free-6.2.1/css/brands.min.css" rel="stylesheet" />
<link href="/static/fontawesome-free-6.2.1/css/solid.min.css" rel="stylesheet" />
<link href="/static/fontawesome-free-6.2.1/css/v5-font-face.min.css" rel="stylesheet" />
<script src="/static/fontawesome-free-6.2.1/js/fontawesome.min.js" data-auto-add-css="false"></script>
<script src="/static/fontawesome-free-6.2.1/js/brands.min.js" data-auto-add-css="false"></script>
<script src="/static/fontawesome-free-6.2.1/js/solid.min.js" data-auto-add-css="false"></script>

<link href="/static/datepicker/air-datepicker.css" rel="stylesheet" />
<script src="/static/datepicker/air-datepicker.js" ></script>
{% if LANGUAGE_CODE == 'en-us' %}
<script src="/static/datepicker/en.js" ></script>
{% else %}
<script src="/static/datepicker/zh.js" ></script>
{% endif %}

{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/data/search_collection.css' %}?v5" />
{% endblock style %}


{% block title %}{% trans '自然史典藏查詢' %}｜{% endblock %}
{% block body %}
{% csrf_token %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <p>{% trans '進階搜尋' %}</p>
    <span>></span>
    <p>{% trans '自然史典藏查詢' %}</p>
  </div>
</div>

<div class="nbn_title">
  <h2>{% trans '自然史典藏查詢' %}</h2>
</div>

<div class="container_area">
  <div class="main_1240">
    <div class="search_condition_are">
      <form id="searchForm">
		{% csrf_token %}
        <input type="hidden" name="record_type" value="col">
        <input type="hidden" name="geojson_id" value="">
        <div class="secboxtop2">
          <div class="leftbox">
            <div class="two_input">
              <div class="input_item">
                <input  class="{% if LANGUAGE_CODE == 'en-us' %} name_input {% endif %}" type="text" name="name" placeholder="{% trans '學名/中文名/中文別名/同物異名/誤用名' %}" value=""/>
              </div>
              <div class="input_item">
                {% comment %} <input type="text" name="catalogNumber" placeholder="{% trans '館藏號' %}" value=""/> {% endcomment %}
				<input name="taxonID" type="text" placeholder="{% trans 'TaiCOL物種編號' %}" value="" />

              </div>
            </div>
            <div class="two_input">
				<div class="input_item">
					<input type="text" name="catalogNumber" placeholder="{% trans '館藏號' %}" value=""/>
				</div>  
				<div class="input_item">
					<input type="text" name="recordNumber" placeholder="{% trans '採集號' %}" value=""/>
				</div>
            </div>
            <div class="two_input">
				<div class="input_item">
					<select name="typeStatus" id="typeStatus">
					  <option value="">{% trans '-- 不限 --' %}</option>
					  <option value="一般">{% trans '一般' %}</option>
					  <option value="模式">{% trans '模式' %}</option>
					</select>
				  </div>
              <div class="input_item">
				<select id="taxonGroup" name="taxonGroup">
					<option value="">{% trans '-- 不限 --' %}</option>
					<option value="Insects">{% trans '昆蟲' %}</option>
					<option value="Fishes">{% trans '魚類' %}</option>
					<option value="Reptiles">{% trans '爬蟲類' %}</option>
					<option value="Amphibians">{% trans '兩棲類' %}</option>
					<option value="Fungi">{% trans '真菌(含地衣)' %}</option>
					<option value="Plants">{% trans '植物' %}</option>
					<option value="Birds">{% trans '鳥類' %}</option>
					<option value="Mammals">{% trans '哺乳類' %}</option>
					<option value="Bacteria">{% trans '細菌' %}</option>
					<option value="Others">{% trans '其他' %}</option>
				</select>
              </div>
            </div>
			<div class="two_input">
				<div class="input_item">
					<select name="taxonRank" id="taxonRank">
						<option value="">{% trans '-- 不限 --' %}</option>
						{% for i in rank_list %}
						<option value="{{ i.1 }}">{% trans i.0 %}</option>
						{% endfor %}
					  </select> 
				</div>
				<div class="input_item">
				  <select id="higherTaxa" name="higherTaxa">
				  </select>  
				</div>  
			</div>
			<div class="two_input">
				<div class="input_item">
				  <select name="is_native" id="is_native">
					<option value="">{% trans '-- 不限 --' %}</option>
					<option value="y">{% trans '是' %}</option>
					<option value="n">{% trans '否' %}</option>
				  </select>
				</div>
				<div class="input_item">
				  <select name="is_protected" id="is_protected">
					<option value="">{% trans '-- 不限 --' %}</option>
					<option value="y">{% trans '是' %}</option>
					<option value="n">{% trans '否' %}</option>
				  </select>
				</div>
			</div>
			<div class="two_input">
              <div class="input_item">
                <select name="rightsHolder" id="rightsHolder" multiple size="1">
                  {% for i in holder_list %}
                  <option value="{{ i }}">{% trans i %}</option>
                  {% endfor %}
                </select>
              </div>
			  <div class="input_item">
                <select name="has_image" id="has_image">
					<option value="">{% trans '-- 不限 --' %}</option>
					<option value="y">{% trans '有影像' %}</option>
					<option value="n">{% trans '無影像' %}</option>
				  </select>              
				</div>
            </div>

            <div class="two_input">
              <div class="line_cneter">~</div>
              <div class="input_item">
                <input name="start_date" id="start_date" type="text" placeholder="{% trans '起始日期' %}（YYYY-MM-DD）" value="" />
                <a class="dateicon show_start"></a>
              </div>
              <div class="input_item">
                <input name="end_date" id="end_date" type="text" placeholder="{% trans '結束日期' %}（YYYY-MM-DD）" value=""/>
                <a class="dateicon show_end"></a>
              </div>
            </div>
            <div class="two_input">
              <div class="input_item">
				<select id="locality" name="locality" multiple size="1">>
                </select>
              </div>
              <div class="input_item">
                <input name="organismQuantity" type="number" placeholder="{% trans '數量' %}" min="0"/>
              </div>
            </div>
            <div class="two_input">
              <div class="input_item">
                <input name="recordedBy" type="text" placeholder="{% trans '採集者' %}" value=""/>
              </div>
              <div class="input_item">
                <input name="preservation" type="text" placeholder="{% trans '保存方式' %}" value=""/>
              </div>
            </div>
            <div class="two_input">
              <div class="input_item">
                <select name="datasetName" id="datasetName" multiple size="1">
                </select>              
              </div>
              <div class="input_item">
                <input name="resourceContacts" type="text" placeholder="{% trans '資料集聯絡人' %}" value="" />
              </div>
            </div>
          </div>
          <div class="rightbox">
            <div class="title_area">
              <h3>{% trans '空間查詢' %}</h3>
              <a href="/{{ LANGUAGE_CODE }}/qa?qa_id=13" class="qmark" target="_blank"></a>
            </div>
            <div class="btn_area">
              <label class="btnupload">
                <p class="mapGeo" data-type="map" >{% trans '地圖框選' %}</p>
              </label>
              <label class="btnupload">
                <p class="circleGeo" data-type="circle">{% trans '圓中心框選' %}</p>
              </label>
              <label class="btnupload">
                <p class="popupGeo" data-type="polygon">{% trans '上傳Polygon' %}</p>
              </label>
              <label class="btnupload">
                <p class="clearGeo">{% trans '重設' %}</p>
              </label>
            </div>
            <div class="map_img">
              <div class="imgbox">
                <div id="map" class="img"></div>
              </div>
            </div>
			
            <div class="records-legend d-none d-flex legend-fs-15px">
              {% trans '資料筆數' %}
            </div>
            <div class="records-legend d-none d-flex legend-fs-15px">
              <div class="d-flex"><div class="count-0"></div>>0</div>
              <div class="d-flex"><div class="count-10"></div>>10</div>
              <div class="d-flex"><div class="count-20"></div>>20</div>
              <div class="d-flex"><div class="count-50"></div>>50</div>
              <div class="d-flex"><div class="count-100"></div>>100</div>
              <div class="d-flex"><div class="count-200"></div>>200</div>
              <div class="d-flex"><div class="count-500"></div>>500</div>
              <div class="d-flex"><div class="count-1000"></div>>1000</div>
            </div>

          </div>
        </div>
        </form>
        <div class="d-flex-ai-c-jc-c ">
			<div class="search_area_btns d-flex-ai-c">
			  <button class="search_btn submitSearch" data-page="1" data-from="search" data-new_click="true">{% trans '搜尋' %}</button>
			  <button class="clear_btn resetSearch">{% trans '清除搜尋條件' %}</button>
			</div>
		</div>    
	</div>

	<div class="sc_result d-none">

		<div class="result_inf_top">
			<button class="cate_btn popupField">{% trans '欄位選項' %} +</button>
			<div class="rightmore">
			<button class="dw downloadData" data-query="" data-count="">{% trans '資料下載' %}</button>
			<button class="dw downloadTaxon" data-query="">{% trans '名錄下載' %}</button>
			<a href="/{{ LANGUAGE_CODE }}/qa?qa_id=14" target="_blank" class="qmark"></a>
			<button class="dw downloadSensitive" data-query="" data-count="">{% trans '申請單次使用去模糊化敏感資料' %}</button>
			<a href="/{{ LANGUAGE_CODE }}/qa?qa_id=15" target="_blank" class="qmark"></a>
			</div>
		</div>
		<div class="d-flex-jc-sb result_inf_top_1">
			<div class="per_page">{% trans '每頁顯示' %}
				<select name="shownumber" data-query="">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				</select>{% trans ' 筆' %}，共<span class="return-total-page"></span>頁
			</div>
			<p class="datenum">{% trans "資料筆數" %}{% trans '：' %}<span class="return-num"></span></p>
		</div>

		<div class="result_table flow-x-auto">
			<table cellspacing="0" cellspacing="0" class="table_style1 record_table">
			</table>
		</div>

		<div class="no_data d-none">{% trans '無資料' %}</div>
	</div>


	</div>
</div>

<!-- 自然史典藏欄位選擇 -->
<div class="popbg col-choice d-none">
	<div class="ovhy choice-ovhy">
		<div class="wbox_center choice-flow">
			<div class="xx choice-xx">
			</div>
			<div class="catetitle">
				<div class="titlebox">{% trans '欄位選項' %}</div>	
				<button class="selt selectAll">{% trans '全選' %}</button>
				<button class="selt resetAll">{% trans '重設' %}</button>
			</div>
			<ul class="catalist">
				<li>
					<input type="checkbox" class="chebox" id="col-common_name_c">
					<p>{% trans '中文名' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-scientificName">
					<p>{% trans '學名' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-alternative_name_c">
					<p>{% trans '中文別名' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-synonyms">
					<p>{% trans '同物異名' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-misapplied">
					<p>{% trans '誤用名' %}</p>
				</li>				
				<li>
					<input type="checkbox" class="chebox" id="col-sourceScientificName">
					<p>{% trans '來源資料庫使用學名' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-sourceVernacularName">
					<p>{% trans '來源資料庫使用中文名' %}</p>
				</li>	
				<li>
					<input type="checkbox" class="chebox" id="col-originalScientificName">
					<p>{% trans '原始紀錄物種' %}</p>
				</li>	
				<li>
					<input type="checkbox" class="chebox" id="col-rightsHolder">
					<p>{% trans '來源資料庫' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-taxonID">
					<p>{% trans 'TaiCOL物種編號' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-collectionID">
					<p>{% trans '館藏號' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-taxonRank">
					<p>{% trans '鑑定層級' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-sensitiveCategory">
					<p>{% trans '敏感層級' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-typeStatus">
					<p>{% trans '標本類型' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-preservation">
					<p>{% trans '保存方式' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-eventDate">
					<p>{% trans '採集日期' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-locality">
					<p>{% trans '採集地' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-recordedBy">
					<p>{% trans '採集者' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-recordNumber">
					<p>{% trans '採集號' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-organismQuantity">
					<p>{% trans '數量' %}</p>
				</li>				
				<li>
					<input type="checkbox" class="chebox" id="col-organismQuantityType">
					<p>{% trans '數量單位' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimLongitude">
					<p>{% trans '經度' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimLatitude">
					<p>{% trans '緯度' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimCoordinateSystem">
					<p>{% trans '座標系統' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimSRS">
					<p>{% trans '空間參考系統' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-coordinateUncertaintyInMeters">
					<p>{% trans '座標誤差（公尺）' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-dataGeneralizations">
					<p>{% trans '座標是否有模糊化' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-coordinatePrecision">
					<p>{% trans '座標模糊化程度' %}</p>
				</li>
				<li>				
					<input type="checkbox" class="chebox" id="col-datasetName">
					<p>{% trans '資料集名稱' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-resourceContacts">
					<p>{% trans '資料集聯絡人' %}</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-license">
					<p>{% trans '授權狀況' %}</p>
				</li>
			</ul>
			<button class="send_bt sendSelected">{% trans '確認' %}</button>
		</div>
	</div>
</div>


<!--空間查詢popbox-->
<div class="popbg geojson_popup d-none">
	<div class="ovhy">
		<div class="wbox_center">
			<div class="xx">
			</div>
			<div class="titlegreen">
				{% trans '上傳Polygon' %}
			</div>
			<p class="shortxt">
			{% trans '請以GeoJSON格式貼上欲查詢的Polygon' %}{% trans '：' %}
			</p>
			<div class="from_area h-100p">
				<div class="txt_area">
					<textarea id="geojson_textarea" class="h-300px"></textarea>
				</div>
				<p class="shortxt note-text">
				*{% trans '上限2.5 MB' %}
				</p>
				<p class="shortxt text-right">
					{% if LANGUAGE_CODE == 'en-us' %}
						You can use <a target="_blank" href="https://mapshaper.org/">mapshaper <i class="fa-solid fa-arrow-up-right-from-square icon-size ml-5px"></i></a> to convert formats such as KML and shapefile
					{% else %}
						可使用 <a target="_blank" href="https://mapshaper.org/">mapshaper <i class="fa-solid fa-arrow-up-right-from-square icon-size ml-5px"></i></a> 進行KML、shapefile等格式轉換
					{% endif %}
				</p>
				<button class="send geojson_send">{% trans '確認送出' %}</button>
			</div>
		</div>
	</div>
</div>

<!--圓中心查詢popbox-->
<div class="popbg circle_popup d-none">
	<div class="ovhy">
		<div class="wbox_center mh-380px">
			<div class="xx">
			</div>
			<div class="titlegreen">
				 {% trans '圓中心框選' %}
			</div>
			<div class="from_area h-100p">
				<div class="txt_area mt-5p">
          <div class="circle-select">
            <p>{% trans '半徑' %}</p>
            <select name="circle_radius" id="circle_radius">
              <option value="1">1KM</option>
              <option value="2">2KM</option>
              <option value="5">5KM</option>
              <option value="10">10KM</option>
              <option value="25">25KM</option>
              <option value="50">50KM</option>
            </select>
          </div>
          <div class="circle-select">
            <p>{% trans '中心點經度' %}</p>
            <input name="center_lon" type="text">
          </div>
          <div class="circle-select">
            <p>{% trans '中心點緯度' %}</p>
            <input name="center_lat" type="text">
          </div>
		  	<p class="shortxt note-text text-right">
			*{% trans '僅支援十進位經緯度，例如：經度 121.6141 緯度 25.0451' %}
			</p>
			</div>
				<button class="send circle_send">{% trans '確認送出' %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block script %}
<script src="{% static 'js/wicket.js' %}"></script>
<script src="{% static 'js/wicket-leaflet.js' %}"></script>
<script src="{% static 'js/data/search_collection.js' %}?v16"></script>
{% endblock %}