{% extends 'base.html' %} 
{% load static %}
{% block title %}關於TBIA｜{% endblock %}
{% block style %}
<style>
	.about_bn .bgcolor {
		-moz-animation: w_100 0.5s 0s linear forwards;
		-webkit-animation: w_100 0.5s 0s linear forwards;
		animation: w_100 0.5s 0s linear forwards;
	}
</style>
{% endblock style %}
{% block body %}
	<div class="path">
		<div class="main_1240">
			<a href="{% url 'index' %}" class="home"></a> <span>></span>
			<p>關於TBIA</p>
		</div>
	</div>
	<div class="about_bn">
		<div class="bg_area">
			<div class="rel">
				<div class="bgcolor"></div>
				<div class="bg_pattern"></div>
				<div class="bird">
					<img src="{% static 'image/bird_right.svg' %}" alt="關於TBIA">
				</div>
			</div>
		</div>
		<div class="main_1240">
			<div class="abtitlebox">
				<h2>關於TBIA</h2>
				<p>ABOUT</p>
			</div>
			<div class="w_bg">
				<div class="leftbox">
					<h3>TBIA 臺灣生物多樣性資訊聯盟</h3>
					<p class="marb_40">
						{{ content }}
					</p>
					<a target="_blank" href="https://github.com/TBIA/MOU-public-documents" class="linktogithub">
						<img src="{% static 'image/github.svg' %}" alt="TBIA github">
						<span>TBIA github</span>
					</a>
				</div>
				<div class="rightbox">
					<div class="imgbox">
						<img class="tbia_pic" src="{% static 'image/abimg1.svg' %}" alt="TBIA 臺灣生物多樣性資訊聯盟">
						<div class="man">
							<img src="{% static 'image/actpeople.png' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="about_video">
		<div class="bg"></div>
		<div class="main_1240">
			<div class="ani">
				<img src="{% static 'image/aban2.svg' %}">
			</div>
			<iframe width="1182" height="665" src="https://www.youtube.com/embed/hsqvsMiqbsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="about_part">
		<div class="title">
			<h3 id="partnertag" name="partnertag">夥伴單位</h3>
		</div>
		<div class="main_1240">
			<ul class="part_list">
				<li>
					<a href="{% url 'partner' 'brcas' %}" class="cirimg">
						<img src="{% static 'image/partner/parlogo_1.svg' %}" alt="中央研究院 生物多樣性研究中心" width="150px">
					</a>
					<a href="{% url 'partner' 'brcas' %}" class="titleline">
						中央研究院<br>生物多樣性研究中心
					</a>
				</li>
				<li>
					<a href="{% url 'partner' 'cpami' %}" class="cirimg">
						<img src="{% static 'image/partner/parlogo_3.png' %}" width="135px;" alt="內政部營建署">
					</a>
					<a href="{% url 'partner' 'cpami' %}" class="titleline">
						內政部營建署
					</a>
				</li>
				<li>
					<a href="{% url 'partner' 'oca' %}" class="cirimg">
						<img src="{% static 'image/partner/parlogo_5.svg' %}" alt="海洋委員會海洋保育署-iOcean海洋保育網">
					</a>
					<a href="{% url 'partner' 'oca' %}" class="titleline">
						海洋委員會海洋保育署
					</a>
				</li>
				<li>
					<a href="{% url 'partner' 'forest' %}" class="cirimg">
						<img style="height: 60%" src="{% static 'image/partner/parlogo_4_with_text.png' %}" alt="林務局-生態調查資料庫系統">
					</a>
					<a href="{% url 'partner' 'forest' %}" class="titleline">
						林務局
					</a>
				</li>
				<li>
					<a href="{% url 'partner' 'tfri' %}" class="cirimg">
						<img src="{% static 'image/partner/parlogo_6.svg' %}" alt="林業試驗所 植物標本資料庫">
					</a>
					<a href="{% url 'partner' 'tfri' %}" class="titleline">
						林業試驗所
					</a>
				</li>
				<li>
					<a href="{% url 'partner' 'tesri' %}" class="cirimg">
						<img src="{% static 'image/partner/parlogo_7.svg' %}" alt="特有生物研究保育中心–台灣生物多樣性網絡 TBN">
					</a>
					<a href="{% url 'partner' 'tesri' %}" class="titleline">
						特有生物研究保育中心
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock body %}
