{% extends 'base.html' %} 
{% load static %}
{% block title %}保密協議｜{% endblock %}

{% block body %}
<div class="path"> 
			<div class="main_1240"> 
				<a href="#" class="home"></a> <span>></span> <p>保密協議</p>
			</div>
		</div>
 		
 		<div class="minh_content">
			<div class="nbn_title">
				<h2>保密協議</h2>
			</div>
			<div class="main_1240"> 
				<div class="w_border10_box agree_arae marb_30">
					<div class="scrollbox">
						緣甲方同意為乙方服務並同意保守乙方之營業秘密，雙方同意訂定下列條款共同遵守： <br>
						一、 定義<br><br>
						“營業秘密”本協議書所稱”營業秘密”係指甲方受僱或受聘期間所創作、開發、收集、所得、知悉，或經乙方標示”機密””限閱”或其他同義字之一切商業上、技術上、或生產上尚未公開之秘密，而不論其是否（A）乙方自行開發（B）以書面為之（C）已完成或再修改（D）可申請專利、商標、著作權及其他智慧財產權。例如：
						<br><br>
						1. 生產方法、行銷技巧、採購資料、定價政策、估價程序、財務資料、顧客資料、供應商、經銷商資料，及其他與乙方營業活動及方式有關資料。
						<br>
						2. 各發展階段之電腦軟體及所有相關文件。
						<br>
						3. 發現、概念、構想、構圖、圖說、數據、產品規格、流程圖、製程、流程、模型、模具以及專門技術。
						<br>
						4. 乙方依約或法令對第三人負有保密責任之第三人之營業秘密。
						緣甲方同意為乙方服務並同意保守乙方之營業秘密，雙方同意訂定下列條款共同遵守： <br>
						一、 定義<br><br>
						“營業秘密”本協議書所稱”營業秘密”係指甲方受僱或受聘期間所創作、開發、收集、所得、知悉，或經乙方標示”機密””限閱”或其他同義字之一切商業上、技術上、或生產上尚未公開之秘密，而不論其是否（A）乙方自行開發（B）以書面為之（C）已完成或再修改（D）可申請專利、商標、著作權及其他智慧財產權。例如：
						<br><br>
						1. 生產方法、行銷技巧、採購資料、定價政策、估價程序、財務資料、顧客資料、供應商、經銷商資料，及其他與乙方營業活動及方式有關資料。
						<br>
						2. 各發展階段之電腦軟體及所有相關文件。
						<br>
						3. 發現、概念、構想、構圖、圖說、數據、產品規格、流程圖、製程、流程、模型、模具以及專門技術。
						<br>
						4. 乙方依約或法令對第三人負有保密責任之第三人之營業秘密。
						緣甲方同意為乙方服務並同意保守乙方之營業秘密，雙方同意訂定下列條款共同遵守： <br>
						一、 定義<br><br>
						“營業秘密”本協議書所稱”營業秘密”係指甲方受僱或受聘期間所創作、開發、收集、所得、知悉，或經乙方標示”機密””限閱”或其他同義字之一切商業上、技術上、或生產上尚未公開之秘密，而不論其是否（A）乙方自行開發（B）以書面為之（C）已完成或再修改（D）可申請專利、商標、著作權及其他智慧財產權。例如：
						<br><br>
						1. 生產方法、行銷技巧、採購資料、定價政策、估價程序、財務資料、顧客資料、供應商、經銷商資料，及其他與乙方營業活動及方式有關資料。
						<br>
						2. 各發展階段之電腦軟體及所有相關文件。
						<br>
						3. 發現、概念、構想、構圖、圖說、數據、產品規格、流程圖、製程、流程、模型、模具以及專門技術。
						<br>
						4. 乙方依約或法令對第三人負有保密責任之第三人之營業秘密。
						緣甲方同意為乙方服務並同意保守乙方之營業秘密，雙方同意訂定下列條款共同遵守： <br>
						一、 定義<br><br>
						“營業秘密”本協議書所稱”營業秘密”係指甲方受僱或受聘期間所創作、開發、收集、所得、知悉，或經乙方標示”機密””限閱”或其他同義字之一切商業上、技術上、或生產上尚未公開之秘密，而不論其是否（A）乙方自行開發（B）以書面為之（C）已完成或再修改（D）可申請專利、商標、著作權及其他智慧財產權。例如：
						<br><br>
						1. 生產方法、行銷技巧、採購資料、定價政策、估價程序、財務資料、顧客資料、供應商、經銷商資料，及其他與乙方營業活動及方式有關資料。
						<br>
						2. 各發展階段之電腦軟體及所有相關文件。
						<br>
						3. 發現、概念、構想、構圖、圖說、數據、產品規格、流程圖、製程、流程、模型、模具以及專門技術。
						<br>
						4. 乙方依約或法令對第三人負有保密責任之第三人之營業秘密。
						緣甲方同意為乙方服務並同意保守乙方之營業秘密，雙方同意訂定下列條款共同遵守： <br>
						一、 定義<br><br>
						“營業秘密”本協議書所稱”營業秘密”係指甲方受僱或受聘期間所創作、開發、收集、所得、知悉，或經乙方標示”機密””限閱”或其他同義字之一切商業上、技術上、或生產上尚未公開之秘密，而不論其是否（A）乙方自行開發（B）以書面為之（C）已完成或再修改（D）可申請專利、商標、著作權及其他智慧財產權。例如：
						<br><br>
						1. 生產方法、行銷技巧、採購資料、定價政策、估價程序、財務資料、顧客資料、供應商、經銷商資料，及其他與乙方營業活動及方式有關資料。
						<br>
						2. 各發展階段之電腦軟體及所有相關文件。
						<br>
						3. 發現、概念、構想、構圖、圖說、數據、產品規格、流程圖、製程、流程、模型、模具以及專門技術。
						<br>
						4. 乙方依約或法令對第三人負有保密責任之第三人之營業秘密。
					</div>
				</div>
				<div class="agreebox">
					<input type="checkbox">
					<p>我已閱讀並同意以上協議</p>
				</div>
				<div class="bt_center">
					<button>確認送出</button>
				</div>
			</div>
		</div>

{% endblock %}