{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}

{% block title %}API｜{% endblock %}


{% block body %}



<div class="path"> 
	<div class="main_1240"> 
		<a href="/" class="home"></a> <span>></span> <p>{% trans 'API說明文件' %}</p>
	</div>
</div>
 
 <div class="minh_content">
	<div class="nbn_title">
		<h2>{% trans 'API說明文件' %}</h2>
	</div>
	<div class="main_1240"> 
		<div class="w_border10_box api-editer">
			<div class="titlebox_line">
				<div class="title">
					<h2>TBIA API - V1</h2>
					<div class="line"></div>
				</div>
			</div>
			<p class="marb_20">
			{% trans '臺灣生物多樣性資訊聯盟 (Taiwan Biodiversity Information Alliance, TBIA) API使用說明，點選標題可錨點至該項：' %}
			</p>
			{% comment %} <div class="green_title2">
				<div class="cir_mark"></div>
				<h4>本服務計有 1 項 API，並提供格式及共同參數說明。</h4>
			</div> {% endcomment %}
			{% comment %} <p class="col_blue marb_20">
				點選標題可錨點至該項
			</p> {% endcomment %}
			<div class="green_borbox marb_40">
				<ul class="li_style1">
					<li>
						<div class="dot"></div>
						<a href="#occurrence-area">
							{% trans '物種出現紀錄 - occurrence API' %}
						</a>
					</li>
					<li>
						<div class="dot"></div>
						<a href="#dataset-area">
							{% trans '資料集 - dataset API' %}
						</a>
					</li>
					<li>
						<div class="dot"></div>
						<a href="#map-area">
							{% trans '地圖 - map API' %}
						</a>
					</li>
					<li>
						<div class="dot"></div>
						<a href="#common-area">
							{% trans '格式及共同參數說明' %}
						</a>
					</li>
				</ul>
			</div>
			{% comment %} <div class="marb_20">
			* 點選標題可錨點至該項
			</div> {% endcomment %}

			<div class="item_one" id="occurrence-area">
				<div class="sec_title">
					<h3>{% trans '物種出現紀錄 - occurrence API' %}</h3>
				</div>
				<div class="marb_20">
					{% trans '服務網址' %}{% trans '：' %}<a class="col_blue" href="/api/v1/occurrence" target="_blank">/api/v1/occurrence</a>
				</div>
				<div class="marb_20">
					{% trans '本服務會進行部分資訊模糊化，可取得模糊化資料的限制型API目前僅供TBIA夥伴單位申請使用。' %}
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '查詢參數說明' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2 marb_20" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '型值' %}</td>
							<td>{% trans '說明' %}</td>
							<td>{% trans '範例網址' %}</td>
						</tr>
						<tr>
							<td>id</td>
							<td>string</td>
							<td>{% trans '使用本網站之入口網ID取得指定的出現紀錄資料' %}</td>
							<td><a href="/api/v1/occurrence?id=6540d35818aad00028ecda95" target="_blank">/api/v1/occurrence?id=6540d35818aad00028ecda95</a></td>
						</tr>
						<tr>
							<td>occurrenceID</td>
							<td>string</td>
							<td>{% trans '使用來源資料庫 / 典藏單位之物種出現紀錄ID取得指定的出現紀錄資料' %}</td>
							<td><a href="/api/v1/occurrence?occurrenceID=TAIF:PLANT:8540:1:1:186874" target="_blank">/api/v1/occurrence?occurrenceID=TAIF:PLANT:8540:1:1:186874</a></td>
						</tr>
						<tr>
							<td>catalogNumber</td>
							<td>string</td>
							<td>{% trans '使用來源典藏單位之館藏號取得指定的出現紀錄資料' %}</td>
							<td><a href="/api/v1/occurrence?catalogNumber=186874" target="_blank">/api/v1/occurrence?catalogNumber=186874</a></td>
						</tr>
						<tr>
							<td>taxonID</td>
							<td>string</td>
							<td>{% trans '取得指定TaiCOL物種編號的物種資料' %}</td>
							<td><a href="/api/v1/occurrence?taxonID=t0052516" target="_blank">/api/v1/occurrence?taxonID=t0052516</a></td>
						</tr>
						<tr>
							<td>isCollection</td>
							<td>boolean</td>
							<td>{% trans '是否為自然史典藏資料，是=true，否=false' %}</td>
							<td><a href="/api/v1/occurrence?isCollection=true" target="_blank">/api/v1/occurrence?isCollection=true</a></td>
						</tr>
						<tr>
							<td>rightsHolder</td>
							<td>string</td>
							<td>{% trans  '取得指定來源資料庫 / 典藏單位的物種出現紀錄資料' %}</td>
							<td><a href="/api/v1/occurrence?rightsHolder=台灣生物多樣性網絡 TBN&rightsHolder=濕地環境資料庫" target="_blank">/api/v1/occurrence?rightsHolder=台灣生物多樣性網絡 TBN&rightsHolder=濕地環境資料庫</a></td>
						</tr>
						<tr>
							<td>datasetName</td>
							<td>string</td>
							<td>{% trans '取得指定資料集的物種出現紀錄資料' %}</td>
							<td><a href="/api/v1/occurrence?datasetName=100年高雄都會公園環境長期監測研究計畫－生物（動植物）" target="_blank">/api/v1/occurrence?datasetName=100年高雄都會公園環境長期監測研究計畫－生物（動植物）</a></td>
						</tr>
						<tr>
							<td>eventDate</td>
							<td>date</td>
							<td>{% trans '紀錄日期，日期格式：yyyy-mm-dd。支援區間查詢' %}</td>
							<td><a href="/api/v1/occurrence?eventDate=2021-10-21" target="_blank">/api/v1/occurrence?eventDate=2021-10-21</a>
								{% comment %} <br>
								<a href="/api/v1/occurrence?eventDate=2021-10-21,2021-10-25" target="_blank">/api/v1/occurrence?eventDate=2021-10-21,2021-10-25</a> {% endcomment %}
							</td>
						</tr>
						<tr>
							<td>created</td>
							<td>date</td>
							<td>{% trans '資料建立時間，日期格式：yyyy-mm-dd。支援區間查詢' %}</td>
							<td><a href="/api/v1/occurrence?created=2023-05-09" target="_blank">/api/v1/occurrence?created=2023-05-09</a></td>
						</tr>
						<tr>
							<td>modified</td>
							<td>date</td>
							<td>{% trans '資料更新時間，日期格式：yyyy-mm-dd。支援區間查詢' %}</td>
							<td><a href="/api/v1/occurrence?modified=2023-05-09" target="_blank">/api/v1/occurrence?modified=2023-05-09</a></td>
						</tr>
						<tr>
							<td>boundedBy</td>
							<td>string</td>
							<td>{% trans '取得指定四邊形座標範圍內物種出現紀錄資料，輸入值={最大經度},{最大緯度},{最小經度},{最小緯度}' %}</td>
							<td><a href="/api/v1/occurrence?boundedBy=122,24,121,23" target="_blank">/api/v1/occurrence?boundedBy=122,24,121,23</a></td>
						</tr>
						<tr>
							<td>polygon</td>
							<td>string</td>
							<td>{% trans '取得指定多邊形座標範圍內物種出現紀錄資料，僅支援WKT格式' %}</td>
							<td><a href="/api/v1/occurrence?polygon=POLYGON ((120.761719 23.755182, 120.772705 23.543845, 121.135254 23.5237, 121.135254 23.755182, 120.761719 23.755182))" target="_blank">/api/v1/occurrence?polygon=POLYGON ((120.761719 23.755182, 120.772705 23.543845, 121.135254 23.5237, 121.135254 23.755182, 120.761719 23.755182))</a></td>
						</tr>
						<tr>
							<td>circle</td>
							<td>string</td>
							<td>{% trans '取得指定圓形座標範圍內物種出現紀錄資料輸入值={經度},{緯度},{半徑}，半徑單位為公里' %}</td>
							<td><a href="/api/v1/occurrence?circle=122.51,24.9,10" target="_blank">/api/v1/occurrence?circle=122.51,24.9,10</a></td>
						</tr>
						<tr>
							<td>apikey</td>
							<td>string</td>
							<td>{% trans '限制型API金鑰' %}</td>
							<td><a href="/api/v1/occurrence?apikey={yourAPIkey}" target="_blank">/api/v1/occurrence?apikey={yourAPIkey}</a></td>
						</tr>
					</table>
					*{% trans '區間查詢請用半形逗號分隔起迄時間' %}
					<br>
					{% trans '範例網址' %}{% trans '：' %}
					<a class="col_blue" href="/api/v1/occurrence?eventDate=2021-10-21,2021-10-25" target="_blank">/api/v1/occurrence?eventDate=2021-10-21,2021-10-25</a>
				</div>

				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '回傳欄位說明' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '名稱' %}</td>
							<td>{% trans '型值' %}</td>
							<td>{% trans '備註' %}</td>
						</tr>
						<tr>
							<td>id</td>
							<td>{% trans '入口網ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>created</td>
							<td>{% trans '入口網資料建立時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>modified</td>
							<td>{% trans '入口網資料修改時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>standardDate</td>
							<td>{% trans '標準化日期' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>standardLatitude</td>
							<td>{% trans '標準化緯度' %}</td>
							<td>float</td>
							<td></td>
						</tr>
						<tr>
							<td>standardLongitude</td>
							<td>{% trans '標準化經度' %}</td>
							<td>float</td>
							<td></td>
						</tr>
						<tr>
							<td>standardRawLatitude</td>
							<td>{% trans '標準化未模糊化緯度' %}</td>
							<td>float</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>standardRawLongitude</td>
							<td>{% trans '標準化未模糊化經度' %}</td>
							<td>float</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>standardOrganismQuantity</td>
							<td>{% trans '標準化數量' %}</td>
							<td>float</td>
							<td></td>
						</tr>
						<tr>
							<td>associatedMedia</td>
							<td>{% trans '影像URL' %}</td>
							<td>string</td>
							<td>{% trans '多值以分號;分隔' %}</td>
						</tr>
						<tr>
							<td>basisOfRecord</td>
							<td>{% trans '紀錄類型' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>catalogNumber</td>
							<td>{% trans '館藏號' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>coordinatePrecision</td>
							<td>{% trans '座標模糊化程度' %}</td>
							<td>string</td>
							<td>{% if LANGUAGE_CODE == 'en-us' %}
								Please refer to the sixth point in the TBIA released document on the 
								<a href="/media/resources/%E7%94%9F%E7%89%A9%E5%A4%9A%E6%A8%A3%E6%80%A7%E6%95%8F%E6%84%9F%E8%B3%87%E6%96%99%E9%96%8B%E6%94%BE%E4%BD%9C%E6%A5%AD%E5%8E%9F%E5%89%87%EF%BC%88%E8%8D%89%E6%A1%88%EF%BC%89.pdf" target="_blank">生物多樣性敏感資料開放作業原則文件</a> for a detailed explanation.
								{% else %}
								請參考<a href="/media/resources/%E7%94%9F%E7%89%A9%E5%A4%9A%E6%A8%A3%E6%80%A7%E6%95%8F%E6%84%9F%E8%B3%87%E6%96%99%E9%96%8B%E6%94%BE%E4%BD%9C%E6%A5%AD%E5%8E%9F%E5%89%87%EF%BC%88%E8%8D%89%E6%A1%88%EF%BC%89.pdf" target="_blank">生物多樣性敏感資料開放作業原則文件</a>中的逐條說明第六點
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>coordinateUncertaintyInMeters</td>
							<td>{% trans '座標誤差（公尺）' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>dataGeneralizations</td>
							<td>{% trans '座標是否有模糊化' %}</td>
							<td>boolean</td>
							<td></td>
						</tr>
						<tr>
							<td>datasetName</td>
							<td>{% trans  '資料集名稱' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>tbiaDatasetID</td>
							<td>{% trans '入口網資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceDatasetID</td>
							<td>{% trans '來源資料庫資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>gbifDatasetID</td>
							<td>{% trans 'GBIF資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>eventDate</td>
							<td>{% trans '紀錄日期 / 採集日期' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>license</td>
							<td>{% trans '授權狀況' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>locality</td>
							<td>{% trans '出現地 / 採集地' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>mediaLicense</td>
							<td>{% trans '影像授權' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>occurrenceID</td>
							<td>occurrenceID</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>organismQuantity</td>
							<td>{% trans '數量' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>organismQuantityType</td>
							<td>{% trans '數量單位' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>originalScientificName</td>
							<td>{% trans '原始紀錄物種' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>preservation</td>
							<td>{% trans '保存方式' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>recordedBy</td>
							<td>{% trans '記錄者 / 採集者' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>recordNumber</td>
							<td>{% trans '採集號' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>references</td>
							<td>{% trans '原資料庫網頁URL' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>resourceContacts</td>
							<td>{% trans '資料集聯絡人' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>rightsHolder</td>
							<td>{% trans '來源資料庫 / 典藏單位' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>sensitiveCategory</td>
							<td>{% trans '敏感層級' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceCreated</td>
							<td>{% trans '來源資料庫資料建立時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceModified</td>
							<td>{% trans '來源資料庫資料修改時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceScientificName</td>
							<td>{% trans '來源資料庫使用學名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceVernacularName</td>
							<td>{% trans '來源資料庫使用中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>typeStatus</td>
							<td>{% trans '標本類型' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>verbatimCoordinateSystem</td>
							<td>{% trans '座標系統' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>verbatimLatitude</td>
							<td>{% trans '緯度' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>verbatimLongitude</td>
							<td>{% trans '經度' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>verbatimRawLatitude</td>
							<td>{% trans '未模糊化緯度' %}</td>
							<td>string</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>verbatimRawLongitude</td>
							<td>{% trans '未模糊化經度' %}</td>
							<td>string</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>county</td>
							<td>{% trans '縣市' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>municipality</td>
							<td>{% trans '鄉鎮市區' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>rawCounty</td>
							<td>{% trans '未模糊化縣市' %}</td>
							<td>string</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>rawMunicipality</td>
							<td>{% trans '未模糊化鄉鎮市區' %}</td>
							<td>string</td>
							<td>{% trans '需透過限制型API取得' %}</td>
						</tr>
						<tr>
							<td>verbatimSRS</td>
							<td>{% trans '空間參考系統' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>scientificNameID</td>
							<td>{% trans '物種代碼' %}</td>
							<td>string</td>
							<td>{% trans '原始資料提供之物種代碼，可能為舊TaiCOL namecode' %}</td>
						</tr>
						<tr>
							<td>taxonID</td>
							<td>{% trans '物種編號' %}</td>
							<td>string</td>
							<td>{% trans '新版TaiCOL物種編號' %}</td>
						</tr>
						<tr>
							<td>match_higher_taxon</td>
							<td>{% trans '是否對應到上階層' %}</td>
							<td>boolean</td>
							<td>{% trans '若無法對到taxonID，則在taxonID欄位給予可以對到的上階層ID，此時match_higer_taxon標示true，反之為false' %}</td>
						</tr>
						<tr>
							<td>scientificName</td>
							<td>{% trans '學名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>name_author</td>
							<td>{% trans '學名作者' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>bioGroup</td>
							<td>{% trans '物種類群' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>taxonRank</td>
							<td>{% trans '鑑定層級' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>common_name_c</td>
							<td>{% trans '中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>alternative_name_c</td>
							<td>{% trans '中文別名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>synonyms</td>
							<td>{% trans '同物異名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>misapplied</td>
							<td>{% trans '誤用名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>kingdom</td>
							<td>{% trans '界' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>kingdom_c</td>
							<td>{% trans '界中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>phylum</td>
							<td>{% trans '門' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>phylum_c</td>
							<td>{% trans '門中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>class</td>
							<td>{% trans '綱' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>class_c</td>
							<td>{% trans '綱中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>order</td>
							<td>{% trans '目' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>order_c</td>
							<td>{% trans '目中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>family</td>
							<td>{% trans '科' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>family_c</td>
							<td>{% trans '科中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>genus</td>
							<td>{% trans '屬' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>genus_c</td>
							<td>{% trans '屬中文名' %}</td>
							<td>string</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="item_one" id="dataset-area">
				<div class="sec_title">
					<h3>{% trans '資料集 - dataset API' %}</h3>
				</div>
				<div class="marb_20">
					{% trans '服務網址' %}{% trans '：' %}<a class="col_blue" href="/api/v1/dataset" target="_blank">/api/v1/dataset</a>
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '查詢參數說明' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2 marb_20" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '型值' %}</td>
							<td>{% trans '說明' %}</td>
							<td>{% trans '範例網址' %}</td>
						</tr>
						<tr>
							<td>tbiaDatasetID</td>
							<td>string</td>
							<td>{% trans '使用本網站之資料集ID取得指定的資料集' %}</td>
							<td><a href="/api/v1/dataset?tbiaDatasetID=d674d7dc6c3bd2c006cefad10" target="_blank">/api/v1/dataset?tbiaDatasetID=d674d7dc6c3bd2c006cefad10</a></td>
						</tr>
						<tr>
							<td>sourceDatasetID</td>
							<td>string</td>
							<td>{% trans '使用來源資料庫 / 典藏單位之資料集ID取得指定的資料集' %}</td>
							<td><a href="/api/v1/dataset?sourceDatasetID=ac869aba-ac34-4416-9eda-075258fef27a" target="_blank">/api/v1/dataset?sourceDatasetID=ac869aba-ac34-4416-9eda-075258fef27a</a></td>
						</tr>
						<tr>
							<td>gbifDatasetID</td>
							<td>string</td>
							<td>{% trans '以GBIF的資料集ID取得指定的資料集' %}</td>
							<td><a href="/api/v1/dataset?gbifDatasetID=275319e1-f91c-406f-b239-62cb9d4185cb" target="_blank">/api/v1/dataset?gbifDatasetID=275319e1-f91c-406f-b239-62cb9d4185cb</a></td>
						</tr>
						<tr>
							<td>rightsHolder</td>
							<td>string</td>
							<td>{% trans '取得指定來源資料庫 / 典藏單位的資料集' %}</td>
							<td><a href="/api/v1/dataset?rightsHolder=台灣生物多樣性網絡 TBN&rightsHolder=濕地環境資料庫" target="_blank">/api/v1/dataset?rightsHolder=台灣生物多樣性網絡 TBN&rightsHolder=濕地環境資料庫</a></td>
						</tr>
						<tr>
							<td>datasetName</td>
							<td>string</td>
							<td>{% trans '以資料集名稱查詢，支援部分查詢' %}</td>
							<td><a href="/api/v1/dataset?datasetName=eBird" target="_blank">/api/v1/dataset?datasetName=eBird</a></td>
						</tr>
						<tr>
							<td>datasetTaxonGroup</td>
							<td>string</td>
							<td>{% trans '取得含括指定物種類群的資料集' %}</td>
							<td><a href="/api/v1/dataset?datasetTaxonGroup=鳥類" target="_blank">/api/v1/dataset?datasetTaxonGroup=鳥類</a></td>
						</tr>
						<tr>
							<td>created</td>
							<td>date</td>
							<td>{% trans '資料集建立時間，日期格式：yyyy-mm-dd。支援區間查詢' %}</td>
							<td><a href="/api/v1/dataset?created=2023-05-09" target="_blank">/api/v1/dataset?created=2023-05-09</a></td>
						</tr>
						<tr>
							<td>modified</td>
							<td>date</td>
							<td>{% trans '資料集更新時間，日期格式：yyyy-mm-dd。支援區間查詢' %}</td>
							<td><a href="/api/v1/dataset?modified=2023-05-09" target="_blank">/api/v1/dataset?modified=2023-05-09</a></td>
						</tr>
					</table>
					*{% trans '區間查詢請用半形逗號分隔起迄時間' %}
					<br>
					{% trans '範例網址' %}{% trans '：' %}
					<a class="col_blue" href="/api/v1/dataset?created=2024-01-01,2024-12-31" target="_blank">/api/v1/dataset?created=2024-01-01,2024-12-31</a>
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '回傳欄位說明' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '名稱' %}</td>
							<td>{% trans '型值' %}</td>
							<td>{% trans '備註' %}</td>
						</tr>
						<tr>
							<td>datasetName</td>
							<td>{% trans  '資料集名稱' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>rightsHolder</td>
							<td>{% trans '來源資料庫 / 典藏單位' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>tbiaDatasetID</td>
							<td>{% trans '入口網資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>sourceDatasetID</td>
							<td>{% trans '來源資料庫資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>gbifDatasetID</td>
							<td>{% trans 'GBIF資料集ID' %}</td>
							<td>string</td>
							<td></td>
						</tr>
						<tr>
							<td>resourceContacts</td>
							<td>{% trans '資料集聯絡人' %}</td>
							<td>string</td>
							<td></td>
						</tr>

						<tr>
							<td>occurrenceCount</td>
							<td>{% trans '含括資料筆數' %}</td>
							<td>integer</td>
							<td></td>
						</tr>

						<tr>
							<td>datasetDateStart</td>
							<td>{% trans '涵蓋日期起始' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>datasetDateEnd</td>
							<td>{% trans '涵蓋日期結束' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>datasetURL</td>
							<td>{% trans '資料集URL' %}</td>
							<td>string</td>
							<td></td>
						</tr>

						<tr>
							<td>datasetPublisher</td>
							<td>{% trans '資料集發布者' %}</td>
							<td>string</td>
							<td></td>
						</tr>

						<tr>
							<td>datasetLicense</td>
							<td>{% trans '資料集授權狀況' %}</td>
							<td>string</td>
							<td></td>
						</tr>

						<tr>
							<td>datasetTaxonGroup</td>
							<td>{% trans '含括物種類群' %}</td>
							<td>string</td>
							<td></td>
						</tr>

						<tr>
							<td>created</td>
							<td>{% trans '入口網資料集建立時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
						<tr>
							<td>modified</td>
							<td>{% trans '入口網資料集修改時間' %}</td>
							<td>date</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="item_one" id="map-area">
				<div class="sec_title">
					<h3>{% trans '地圖 - map API' %}</h3>
				</div>
				<div class="marb_20">
					{% trans '服務網址' %}{% trans '：' %}<a class="col_blue" href="/api/v1/map" target="_blank">/api/v1/map</a>
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '查詢參數說明' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2 marb_20" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '型值' %}</td>
							<td>{% trans '說明' %}</td>
							<td>{% trans '範例網址' %}</td>
						</tr>
						<tr>
							<td>boundedBy</td>
							<td>string</td>
							<td>
								{% trans '取得指定四邊形座標範圍內物種出現紀錄資料，輸入值={最大經度},{最大緯度},{最小經度},{最小緯度}' %}
								<br>
								*必填 
							</td>
							<td><a href="/api/v1/map?boundedBy=122,23,121,22&grid=1" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1</a></td>
						</tr>
						<tr>
							<td>grid</td>
							<td>integer</td>
							<td>
								{% trans '取得指定網格大小，提供1,5,10,100公里網格' %}
								<br>
								*必填，預設為1
							</td>
							<td><a href="/api/v1/map?grid=122,23,121,22&grid=1" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1</a></td>
						</tr>
						<tr>
							<td>taxonID</td>
							<td>string</td>
							<td>{% trans '取得指定TaiCOL物種編號的物種資料' %}</td>
							<td><a href="/api/v1/map?boundedBy=122,23,121,22&grid=1&taxonID=t0052516" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1&taxonID=t0052516</a></td>
						</tr>
						<tr>
							<td>bioGroup</td>
							<td>string</td>
							<td>{% trans '取得含括指定物種類群的資料' %}</td>
							<td><a href="/api/v1/map?boundedBy=122,23,121,22&grid=1&bioGroup=鳥類" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1&bioGroup=鳥類</a></td>
						</tr>
						<tr>
							<td>year</td>
							<td>integer</td>
							<td>{% trans '資料年份，年份格式：yyyy。支援區間查詢' %}</td>
							<td><a href="/api/v1/map?boundedBy=122,23,121,22&grid=1&year=2024" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1&year=2024</a></td>
						</tr>
					</table>
					*因應效能考量，四邊形座標範圍需搭配網格大小(grid)使用，若您需要較大的地理範圍，請先切割成較小範圍分次取得
					<br>
					*一公里網格每次可取得 1 度經緯度範圍，五公里網格可取得 10 度，十公里網格可取得 20 度，一百公里網格可取得 40 度
					<br>
					{% trans '範例網址' %}{% trans '：' %}
					<br>
					<a class="col_blue" href="/api/v1/map?boundedBy=122,23,121,22&grid=1" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1</a>
					<br>
					<a class="col_blue" href="/api/v1/map?boundedBy=125,25,115,15&grid=5" target="_blank">/api/v1/map?boundedBy=125,25,115,15&grid=5</a>
					<br>
					<a class="col_blue" href="/api/v1/map?boundedBy=122,23,102,3&grid=10" target="_blank">/api/v1/map?boundedBy=122,23,102,3&grid=10</a>
					<br>
					<a class="col_blue" href="/api/v1/map?boundedBy=120,25,80,-15&grid=100" target="_blank">/api/v1/map?boundedBy=120,25,80,-15&grid=100</a>
					<br>
					<br>
					*{% trans '區間查詢請用半形逗號分隔起迄年份' %}
					<br>
					{% trans '範例網址' %}{% trans '：' %}
					<a class="col_blue" href="/api/v1/map?boundedBy=122,23,121,22&grid=1&year=2020,2025" target="_blank">/api/v1/map?boundedBy=122,23,121,22&grid=1&year=2020,2025</a>
					
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '回傳欄位說明' %}</h4>
				</div>
				<div class="mb_scroll">
					以GeoJSON格式回傳1,5,10或100公里網格化的多邊形，取得之GeoJSON可直接套疊於地圖上，每個feature代表一個網格，並帶有屬性：
					<br> - 網格內資料筆數 (counts)
					<br> - 網格大小 (current_grid_level)
					<br> - 網格編號 (current_grid)
					<br> 
					<br> 
					若您想繪製與入口網相同的地圖，可參考以下資料筆數對應的色碼代號：
					<table class="table_style2 marb_20 mart_10" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '資料筆數' %}</td>
							<td>{% trans '色碼' %}</td>
						</tr>
						<tr>
							<td>1 - 10</td>
							<td>#ffffcc</td>
						</tr>
						<tr>
							<td>10 - 100</td>
							<td>#ffeda0</td>
						</tr>
						<tr>
							<td>100 - 1000</td>
							<td>#fed976</td>
						</tr>
						<tr>
							<td>1000 - 5000</td>
							<td>#feb24c</td>
						</tr>
						<tr>
							<td>5000 - 10000</td>
							<td>#fd8d3c</td>
						</tr>
						<tr>
							<td>10000 - 50000</td>
							<td>#fc4e2a</td>
						</tr>
						<tr>
							<td>50000 - 100000</td>
							<td>#e31a1c</td>
						</tr>
						<tr>
							<td>100000+</td>
							<td>#bd0026</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="item_one" id="common-area">
				<div class="sec_title mb-30px">
					<h3>{% trans '格式及共同參數說明' %}</h3>
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '複合查詢' %}{% trans '：' %}</h4>
				</div>
				<div class="mb_scroll">
					{% trans '各查詢參數均可做聯集與交集查詢。當同時使用同一參數查詢多個值，將取聯集；當同時查詢不同參數，則取交集。' %}
					<br>
					{% trans '範例網址' %}{% trans '：' %}<a class="col_blue" href="/api/v1/occurrence?boundedBy=122,24,121,23&rightsHolder=GBIF" target="_blank">/api/v1/occurrence?boundedBy=122,24,121,23&rightsHolder=GBIF</a>
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '分頁參數說明' %}{% trans '：' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '參數' %}</td>
							<td>{% trans '說明' %}</td>
							<td>{% trans '範例網址' %}</td>
						</tr>
						<tr>
							<td>limit</td>
							<td>{% trans '限制回傳筆數。預設20筆，上限1000' %}</td>
							<td><a href="/api/v1/occurrence?limit=1000" target="_blank">/api/v1/occurrence?limit=1000</a></td>
						</tr>
						{% comment %} <tr>
							<td>offset</td>
							<td>{% trans "指定回傳起始編號。預設為0" %}</td>
							<td><a href="/api/v1/occurrence?offset=20" target="_blank">/api/v1/occurrence?offset=20</a></td>
						</tr> {% endcomment %}
					</table>
				<br>
				*{% trans "因應效能考量，每次API請求至多回傳1000筆資料，若搜尋的結果大於1000筆，您可以透過回傳的<b>next</b>參數取得下一分頁的網址，並以遞迴方式取得全部資料。" %}
				</div>
				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '回傳狀態(status)代碼說明' %}{% trans '：' %}</h4>
				</div>
				<div class="mb_scroll">
					<table class="table_style2" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>{% trans '代碼(code)' %}</td>
							{% comment %} <td>訊息(message)</td> {% endcomment %}
							<td>{% trans '說明' %}</td>
						</tr>
						<tr>
							<td>200</td>
							{% comment %} <td>Success</td> {% endcomment %}
							<td>{% trans '輸入的請求成功' %}</td>
						</tr>
						<tr>
							<td>400</td>
							{% comment %} <td>請求無效</td> {% endcomment %}
							<td>{% trans '輸入的請求無效' %}</td>
						</tr>
						<tr>
							<td>404</td>
							{% comment %} <td>找不到</td> {% endcomment %}
							<td>{% trans '網址錯誤或資源不存在' %}</td>
						</tr>
						<tr>
							<td>500</td>
							{% comment %} <td>伺服器錯誤</td> {% endcomment %}
							<td>{% trans '後端伺服器錯誤' %}</td>
						</tr>

					</table>
				</div>

				<div class="green_title">
					<div class="line_mark"></div>
					<h4>{% trans '回傳格式' %}{% trans '：' %}</h4>
				</div>

				<div class="gray-box">
				
					
<pre><code>{
	"status": {
		"code": 回傳狀態代碼,
		"message": 回傳狀態說明
	},
	"meta": {
		"total": 符合查詢條件全部筆數,
		"limit": 每頁回傳筆數,
	},
	"links": {
		"self": 本頁網址,
		"next": 下一分頁網址
	  },	
	"data":[結果陣列]
}</code></pre>

				</div>

			</div>
			<div class="item_one">
				<div class="sec_title">
					<h3>{% trans '使用條款' %}</h3>
				</div>
				<div class="marb_20">
					{% if LANGUAGE_CODE == 'en-us' %}
						The API provided by this website adopts the same <a class="col_blue" target="_blank" href="/terms">terms of use</a> as this website.
					{% else %}
						本網站提供之API採與本網站相同之<a class="col_blue" target="_blank" href="/terms">使用條款</a>
					{% endif %}
				</div>

			</div>
			<div class="item_one">
				<div class="sec_title">
					<h3>{% trans '更新紀錄' %}</h3>
				</div>
				<ul class="li_style2">
					<li>
						<div class="flexbox">
							<div class="dot"></div>
							<h3>2024-12-13 ｜ {% if LANGUAGE_CODE == 'en-us' %}Add Dataset API{% else %}新增資料集API{% endif %}</h3>
						</div>
					</li>
					<li>
						<div class="flexbox">
							<div class="dot"></div>
							<h3>2024-06-27 ｜ {% if LANGUAGE_CODE == 'en-us' %}Modified the pagination parameter.{% else %}修改分頁參數取得方式：棄用offset，改以next參數提供下一分頁網址。{% endif %}</h3>
						</div>
					</li>
					<li>
						<div class="flexbox">
							<div class="dot"></div>
							<h3>2023-12-12 ｜ V1{% if LANGUAGE_CODE == 'en-us' %} release note{% else %}公告{% endif %}</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



{% endblock body %}