{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}{% trans '申請單次使用去模糊化敏感資料' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/application.css' %}?v2" />
{% endblock style %}

{% block body %}
{% csrf_token %}

<div class="path"> 
	<div class="main_1240"> 
		<a href="{% url 'index' %}" class="home"></a> <span>></span> <p>{% trans '申請單次使用去模糊化敏感資料' %}</p>
	</div>
</div>
 
 <div class="minh_content">
	<div class="nbn_title">
		<h2>{% trans '申請單次使用去模糊化敏感資料' %}</h2>
	</div>
	<div class="main_1240"> 
		<div class="w_border10_box application_form marb_30">
			<div class="form_top">
				<div class="apply_date">
					{% trans '申請時間' %}{% trans '：' %}{{ today }}
				</div>
				<div class="path_inf">
					<p>{% trans '申請資料搜尋條件' %}</p>
					<span> > </span>
					<div class="riginf">
						{{ query|safe }}
					</div>
				</div>
			</div>
			<p class="notice"><span>*</span>{% trans '為必填欄位' %}</p>
			<div class="form_box">
				<form id="appilcationForm">
				{% csrf_token %}
				<div class="inpu_3">
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '申請人姓名' %}
						</p>
						<input name="applicant" type="text">
					</div>
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '聯絡電話' %}
						</p>
						<input name="phone" type="text">
					</div>
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '聯絡地址' %}
						</p>
						<input name="address" type="text">
					</div>
				</div>
				<div class="inpu_3">
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '申請人所屬單位' %}
						</p>
						<input name="affiliation" type="text">
					</div>
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '申請人職稱' %}
						</p>
						<input name="job_title" type="text">
					</div>
					<div class="input_item">
						<p>
							<span class="color_red">*</span>{% trans '計畫類型' %}
						</p>
						<select name="type" id="apply_type">
							<option value="0">{% trans '個人研究計畫' %}</option>
							<option value="1">{% trans '委辦工作計畫' %}</option>
						</select>
					</div>
				</div>
				<div class="inpu_3">
					<div class="input_item">
						<p class="project_type">
							<span class="color_red">*</span>{% trans '個人研究計畫名稱' %}
						</p>
						<input name="project_name" type="text">
					</div>
					<div class="input_item p_affli d-none">
						<p>
							{% trans '委託計畫單位' %}
						</p>
						<input name="project_affiliation" type="text">
					</div>
					<div class="input_item p_principal d-none">
						<p>
							<span class="color_red">*</span>{% trans '計畫主持人姓名' %}
						</p>
						<input name="principal_investigator" type="text">
					</div>
				</div>
				<div class="text_area">
					<p>
						<span class="color_red">*</span>{% trans '計畫摘要' %}
					</p>
					<textarea name="abstract" placeholder="{% trans '請詳述研究目標、研究方法、預期成果、為何需要申請敏感資料以及會如何使用敏感資料等內容，我們將以此作為審核依據' %}"></textarea>
				</div>
				</form>
				<div class="apply_peo">
					<p class="title">{% trans '此批申請資料其他使用者' %}</p>
					<div class="item_set1">
						<input type="text" name="user" placeholder="{% trans '姓名' %}">
						<input type="text" name="user_affiliation" placeholder="{% trans '單位' %}">
						<input type="text" name="user_job_title" placeholder="{% trans '職稱' %}">
						<button class="add">
							<div class="line1"></div>
							<div class="line2"></div>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="agreebox">
			<input name="is_agreed_report" type="checkbox" class="chebox">
			{% if LANGUAGE_CODE == 'en-us' %}
			<p>I agree to provide a report on the research outcomes to the alliance email address: <a href="mailto:tbianoti@gmail.com">tbianoti@gmail.com</a>, if there are relevant research results in the future.</p>
			{% else %}
			<p>我同意後續若有相關研究成果，將提供一份成果報告檔案至聯盟信箱：<a href="mailto:tbianoti@gmail.com">tbianoti@gmail.com</a></p>
			{% endif %}
		</div>
		<div class="agreebox">
			<small>{% trans '是否有提供相關成果將作為往後的單次使用去模糊化敏感資料審核依據' %}</small>
		</div>
		<div class="bt_center two">
			<!--<button>回上一頁</button>-->
			<button class="sendRequest">{% trans '確認送出' %}</button>
		</div>
	</div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/pages/application.js' %}?v3"></script>
{% endblock script %}