{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />  
    <title>TBIA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tw/theme.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}" />
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    {% block head %}{% endblock head %}
    {% block style %}{% endblock style %}
    <style>
    .header .right_btn2 .member_login:hover p {
      color: #76A578;
    }

    .footer .right_inf .addpart {
      width: 190px;
    }

    @media only screen and (max-width: 767px) {
      .footer .right_inf .addpart {
          width: 100%;
      }
    }
    </style>
  </head>

  <body>
  <!--loading-->
  <div class="loading_area" style="display: none">
    <div class="sc">
      <div class="load"><span>L</span>ading</div>
    </div>
  </div>

    <div class="header clearfix">
      <div class="main_1240">
        <a href="{% url 'index' %}" class="logo_area">
          <img src="{% static 'image/logo_top.svg' %}" />
        </a>

        <div class="right_mbhambuger">
          <div class="hmenu hmenu-2">
            <span></span>
          </div>
        </div>

        <!--手機選單-->
        <div class="mb_bmenu">
          <div class="ovh">
            <ul>
              <li>
                <a href="javascript:;" onclick="$('.login_pop').css('display', '')" class="one_set">
                  <p>會員登入</p>
                  <img class="arright" src="{% static 'image/next.svg' %}" />
                </a>
              </li>
              <li>
                <a href="{% url 'about' %}" class="one_set">
                  <p>關於TBIA</p>
                  <img class="arright" src="{% static 'image/next.svg' %}" />
                </a>
              </li>
              <li class="rd_mb_two_menu_li">
                <a href="#" class="one_set rd_mb_two_menu">
                  <p>條件搜尋</p>
                  <img class="ardown" src="{% static 'image/ardown.svg' %}" />
                </a>
                <div class="mbmu2">
                  <a href="{% url 'search_occurrence' %}" class="s_title">
                    <p>物種出現紀錄查詢</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="{% url 'search_collection' %}" class="s_title">
                    <p>自然史典藏查詢</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                </div>
              </li>
              <li class="rd_mb_two_menu_li">
                <a href="#" class="one_set rd_mb_two_menu">
                  <p>最新消息</p>
                  <img class="ardown" src="{% static 'image/ardown.svg' %}" />
                </a>
                <div class="mbmu2">
                  <a href="#" class="s_title">
                    <p>新聞公告</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="#" class="s_title">
                    <p>活動訊息</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="#" class="s_title">
                    <p>計畫徵求</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                </div>
              </li>
              <li class="rd_mb_two_menu_li">
                <a href="#" class="one_set rd_mb_two_menu">
                  <p>開放資料相關資源</p>
                  <img class="ardown" src="{% static 'image/ardown.svg' %}" />
                </a>
                <div class="mbmu2">
                  <a href="#" class="s_title">
                    <p>TBIA 策略文件</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="#" class="s_title">
                    <p>開放資料指引</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="#" class="s_title">
                    <p>參考文件/工具</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                  <a href="#" class="s_title">
                    <p>教學文件</p>
                    <img class="arright" src="{% static 'image/next.svg' %}" />
                  </a>
                </div>
              </li>
              <li>
                <a href="{% url 'qa' %}" class="one_set">
                  <p>常見Q&A</p>
                  <img class="arright" src="{% static 'image/next.svg' %}" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right_menu">
          <ul>
            <li>
              <a href="{% url 'about' %}" class="big_title">關於TBIA</a>
              <div class="line"></div>
            </li>
            <li>
              <a href="#" class="big_title">條件搜尋</a>
              <div class="line"></div>
              <div class="menu_2">
                <div class="item">
                  <a href="{% url 'search_occurrence' %}" class="s_title">物種出現紀錄查詢</a>
                  <a href="{% url 'search_collection' %}" class="s_title">自然史典藏<br>查詢</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#" class="big_title">最新消息</a>
              <div class="line"></div>
              <div class="menu_2">
                <div class="item">
                  <a href="#" class="s_title">新聞公告</a>
                  <a href="#" class="s_title">活動訊息</a>
                  <a href="#" class="s_title">計畫徵求</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#" class="big_title">開放資料相關資源</a>
              <div class="line"></div>
              <div class="menu_2">
                <div class="item">
                  <a href="#" class="s_title">TBIA 策略文件</a>
                  <a href="#" class="s_title">開放資料指引</a>
                  <a href="#" class="s_title">參考文件/工具</a>
                  <a href="#" class="s_title">教學文件</a>
                </div>
              </div>
            </li>
            <li>
              <a href="{% url 'qa' %}" class="big_title">常見Q&A</a>
              <div class="line"></div>
            </li>
          </ul>
        </div>
        <div class="right_btn2">
          <div class="feedback"></div>
          {% if user.is_authenticated %}
          <div class="member_login">
            <div class="icon"></div>
            <!-- <p>{{ user.first_name }}</p> -->
            <a href="{% url 'logout' %}">登出</a>
          </div>
          {% else %}
          <div onclick="$('.login_pop').css('display', '')" class="member_login">
            <div class="icon"></div>
              <p style="">登入</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% block body %}{% endblock body %}
    <div class="footer">
      <div class="main_1240">
        <div class="ftlogo_inf">
          <div class="logobox">
            <a href="{% url 'index' %}">
              <img src="{% static 'image/logo_w.svg' %}" alt="臺灣生物多樣性資訊聯盟" />
            </a>
          </div>
          <div class="inf">Email：<a href="mailto:tbianoti@gmail.com">tbianoti@gmail.com</a></div>
        </div>
        <ul class="footer_menu">
          <li>
            <a href="#" class="big_link">條件搜尋</a>
            <a href="{% url 'search_occurrence' %}" class="sma_link">物種出現紀錄查詢</a>
            <a href="{% url 'search_collection' %}" class="sma_link">自然史典藏查詢</a>
          </li>
          <li>
            <a href="#" class="big_link">最新消息</a>
            <a href="#" class="sma_link">新聞公告</a>
            <a href="#" class="sma_link">活動訊息</a>
            <a href="#" class="sma_link">計畫徵求</a>
          </li>
          <li>
            <a href="#" class="big_link">開放資料相關資源</a>
            <a href="#" class="sma_link">TBIA 策略文件</a>
            <a href="#" class="sma_link">開放資料指引</a>
            <a href="#" class="sma_link">參考文件/工具</a>
            <a href="#" class="sma_link">教學文件</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="big_link">關於TBIA</a>
            <a href="{% url 'qa' %}" class="big_link">常見Q&A</a>
          </li>
        </ul>
        <div class="right_inf">
          <div class="addpart">
            <p>贊助單位</p>
            <div style="display: flex; justify-content: space-between;">
              <a href="https://www.forest.gov.tw" class="cir" target="_blank">
                <img src="{% static 'image/parlogo_4.svg' %}" alt="贊助單位" />
              </a>
              <a href="https://www.forest.gov.tw" class="cir" target="_blank">
                <img src="{% static 'image/國土生態綠網.png' %}" alt="贊助單位" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="copy">
        <h6>Copyright © TBIA 臺灣生物多樣性資訊聯盟</h6>
      </div>
    </div>

    <!--會員登入/註冊/忘記密碼-->
<div class="popbg login_pop" style="display: none;">
	<div class="bgt">
		<img src="{% static 'image/bgt.svg' %}" >
	</div>
	<div class="bgb">
		<img src="{% static 'image/bgb.svg' %}" >
	</div>
	<div class="bgi">
		<img src="{% static 'image/bgi.svg' %}" >
	</div>
	<div class="bga"> 
		<img src="{% static 'image/bga.svg' %}" >
	</div>
	<div class="ovhy"> 
		<div class="wbox_center login">
			<div class="xx">
			</div>
			<div class="left_bg"> 
				<img src="{% static 'image/loginbga.svg' %}" > 
			</div>
			<!--會員登入-->
			<div class="loginbox" >				
				<div class="right_cont">
					<div class="alcont_center">
						<div class="titlegreen">
							會員登入
							<span>Login</span>
						</div>
            <form id="loginForm">
              {% csrf_token %}
              <div class="input_item">
                <input type="text" name="email" placeholder="請輸入您的帳號(email)">
                <!--送出時錯誤出現-->
                <div class="noticbox" style="display: none">
                  <div class="in1">格式錯誤</div>
                  <p>請輸入正確信箱</p>
                </div>
              </div>
              <div class="input_item">
                <input type="password" name="password" placeholder="請輸入您的密碼">
                <!--送出時錯誤出現-->
                <div class="noticbox" style="display:none;">
                  <div class="in1">格式錯誤</div>
                  <p>請輸入6~10位英文或數字</p>
                </div>
              </div>
              <div class="checkbox_area">
                <input type="checkbox" name="rememberme">
                <p>記住我的帳號</p>
              </div>
          </form>
						<button class="loginbtn" onclick="login()">登入</button>
						<div class="linkbtn_2">
							<a href="#">我要註冊</a>
							<a href="#">忘記密碼?</a>
						</div>
					</div>
				</div>
			</div>
			<!--會員註冊-->
			<div class="loginbox" style="display: none;">				
				<div class="right_cont">
					<div class="alcont_center">
						<div class="titlegreen">
							會員註冊
							<span>register</span>
						</div>
						<div class="input_item">
							<input type="text" placeholder="姓名">
						</div>
						<div class="input_item">
							<input type="text" placeholder="請輸入您的Email作為帳號">
							<!--送出時錯誤出現-->
							<div class="noticbox" style="display: none;">
								<div class="in1">格式錯誤</div>
								<p>請輸入正確信箱</p>
							</div>
						</div>
						<div class="input_item">
							<input type="text" placeholder="請輸入您的密碼">
							<!--送出時錯誤出現-->
							<div class="noticbox" style="display: none;">
								<div class="in1">格式錯誤</div>
								<p>請輸入6~10位英文或數字</p>
							</div>

						</div>
						<div class="input_item">
							<input type="text" placeholder="請再次輸入密碼">
							<!--送出時錯誤出現-->
							<div class="noticbox" style="display: none;">
								<div class="in1">錯誤</div>
								<p>兩次密碼輸入不同</p>
							</div>xw
						</div>


						<button class="loginbtn">註冊</button>
						<div class="linkbtn_1">
							*註冊即同意 <a href="#">使⽤者條款</a>
						</div>
					</div>
				</div>
			</div> 
			<!--忘記密碼-->
			<div class="loginbox" style="display: none;">				
				<div class="right_cont">
					<div class="alcont_center">
						<div class="titlegreen">
							忘記密碼
							<span>password</span>
						</div>

						<p class="center">請輸入當初加入會員使用的E-Mail，我們將協助您重新設定密碼。</p>

						<div class="input_item">
							<input type="text" placeholder="請輸入您的email">
						</div>


						<button class="loginbtn">確認送出</button>
						<div class="linkbtn_2">
							<a href="#">我要註冊</a>
							<a href="#">返回登入?</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

  </body>
  <script>
    $(function () {
      gsap.registerPlugin(ScrollTrigger);

      ScrollTrigger.create({
        trigger: ".section_2",
        start: "top-=45% top",
        // markers: true,
        onEnter: function () {
          $(".section_2").addClass("vivi");
        },
      });
      ScrollTrigger.create({
        trigger: ".section_3",
        start: "top-=80% top",
        // markers: true,
        onEnter: function () {
          $(".section_3").addClass("vivi");
        },
      });
      ScrollTrigger.create({
        trigger: ".section_4",
        start: "top-=80% top",
        // markers: true,
        onEnter: function () {
          $(".section_4").addClass("vivi");
        },
      });
    });
  </script>
  <script>
    // loader
    var ajaxLoadTimeout;
    $(document).ajaxStart(function() {
        ajaxLoadTimeout = setTimeout(function() { 
            $(".loading_area").css("display","block");
        }, 1000);
    
    }).ajaxComplete(function() {
        clearTimeout(ajaxLoadTimeout);
        $(".loading_area").css("display","none");
    });

    window.addEventListener('error', function(event) {
      $(".loading_area").css("display","none");
      clearTimeout(ajaxLoadTimeout);
      alert('發生未知錯誤！請通知管理員')
    })

    $(function () {
      $(".hmenu").on("click", function () {
        $(".hmenu").toggleClass("active");
        $(".mb_bmenu").slideToggle();
      });
    });

    $(".rd_mb_two_menu_li").on("click", function (event) {
      event.preventDefault();
      if ($(this).closest("li").hasClass("now")) {
        $(".rd_mb_two_menu_li").removeClass("now");
        $(".rd_mb_two_menu_li").find(".mbmu2").slideUp();
      } else {
        $(".rd_mb_two_menu_li").removeClass("now");
        $(this).addClass("now");
        $(".rd_mb_two_menu").find(".mbmu2").slideUp();
        $(this).closest("li").find(".mbmu2").slideDown();
      }
    });

    $(".mbmu2 a").on('click', function(){
      window.location = this.href;
    })

    $(".popbg .xx,.popbg .ovhy").click(function (e) {
      if ($(event.target).hasClass("xx") || $(event.target).hasClass("ovhy")) $(".popbg").hide();
    });

    // LOGIN 
    //https://emailregex.com
    function validateEmail(inputText){
      let mailformat = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
      if(inputText.match(mailformat)){
          return true
      } else {
          return false
      }
    }

    // Function to check letters and numbers
    function checkPasswordStr(inputText){
      let letterNumber = /^[0-9a-zA-Z]{6,10}$/
      if(inputText.match(letterNumber)){
        return true
      } else {
          return false
      }
    }


    function login(){
      // remove all notice first
      $('#loginForm .noticbox').css('display','none')
      // check email
      if (!validateEmail($('#loginForm input[name=email]').val())){
        $('#loginForm input[name=email]').next('.noticbox').css('display','')
      } else if (!checkPasswordStr($('#loginForm input[name=password]').val())) {
        $('#loginForm input[name=password]').next('.noticbox').css('display','')
      } else {
        $.ajax({
            url: "{% url 'login' %}",
            data: $('#loginForm').serialize() ,
            type: 'POST',
            dataType : 'json',
        })
        .done(function(response) {
          console.log(response)
          alert(response.message)
          if (response.status=='success'){
            location.reload() }
        })
        .fail(function( xhr, status, errorThrown ) {
          alert('發生未知錯誤！請聯絡管理員')
          console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
          $('.login_pop').css('display','none')
        })
        
      }
      
    }
  </script>
  {% block script %}{% endblock script %}
</html>
