<div class="main_1240">
	<div class="ftlogo_inf">
		<div class="logobox">
			<img src="assets/images/logo_w.svg" alt="臺灣生物多樣性資訊聯盟">
		</div>
		<div class="inf">
			Email：<a href="mailto:tbianoti@gmail.com">tbianoti@gmail.com</a>
		</div>
	</div>

	<div class="right_inf">
		<div class="addpart">
			<p>贊助單位</p>
			<div style="display: flex; justify-content: space-between;">
				<a href="https://www.forest.gov.tw" class="cir" target="_blank">
					<img src="assets/images/parlogo_4.svg" alt="贊助單位">
				</a>
				<a href="https://www.forest.gov.tw" class="cir" target="_blank" >
					<img src="assets/images/國土生態綠網.png" alt="贊助單位">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="copy">
	<h6>Copyright © TBIA 臺灣生物多樣性資訊聯盟</h6>
</div>