{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/news_detail.css' %}?v1" />
<link href="/static/fontawesome-free-6.2.1/css/brands.min.css" rel="stylesheet" />
<link href="/static/fontawesome-free-6.2.1/css/solid.min.css" rel="stylesheet" />
<link href="/static/fontawesome-free-6.2.1/css/v5-font-face.min.css" rel="stylesheet" />
<script src="/static/fontawesome-free-6.2.1/js/fontawesome.min.js" data-auto-add-css="false"></script>
<script src="/static/fontawesome-free-6.2.1/js/brands.min.js" data-auto-add-css="false"></script>
<script src="/static/fontawesome-free-6.2.1/js/solid.min.js" data-auto-add-css="false"></script>
{% endblock style %}

{% block title %}{{ n.title }}｜{% endblock %}

{% block body %}
		<div class="path"> 
			<div class="main_1240"> 
				<a href="{% url 'index' %}" class="home"></a> <span>></span> <a href="{% url 'news' %}" >{% trans '最新消息' %}</a> <span>></span> <p>{% trans n.get_type_display %}</p>
			</div>
		</div>
		<div class="in_bn news_bn">
			<div class="title">
				<h2>{% trans '最新消息' %}</h2>
				{% comment %} <h3>NEWS</h3> {% endcomment %}
			</div>
		</div>
		<div class="container_area">
			<div class="main_1240"> 
			{% if n.status == 'pass' or is_authorized %}
				<div class="w_bgr10 news_de">
					<div class="nstitlebox">
						<div class="tag_date">
							<div class="tag {{ color }}">
								{% trans n.get_type_display %}
							</div> 
							<div class="date">{{ n.publish_date|date:'Y-m-d'|default_if_none:'' }}</div>
						</div>
						<h3>{{ n.title }}</h3>

						<p><i class="icon-size fa-solid fa-pen"></i>
							{% if n.partner %}
								{% if LANGUAGE_CODE == 'en-us' %}
									{{ n.partner.select_title_en }}
								{% else %}
									{{ n.partner.select_title }}
								{% endif %}
							{% else %}
								{% if LANGUAGE_CODE == 'en-us' %}
									Taiwan Biodiversity Information Alliance
								{% else %}
									TBIA 臺灣生物多樣性資訊聯盟
								{% endif %}
							{% endif %}
						</p>
					</div>
					<div class="editor">
						<!-- 這邊放代表圖片 -->
						{% if n.image %}
						<div class="center marb_20">
							<img src="/media/news/{{ n.image }}" >
						</div>
						{% endif %}

						{{ n.content|safe }}
					</div>
				</div> 
				<!--
				<div class="btn_three">
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
						  <g id="pre" transform="translate(111.483 17.054) rotate(180)">
						    <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
						      <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#3f5146"/>
						    </g>
						  </g>
						</svg>

						<p>上一則</p>
					</a>
					<a href="#"><p>回列表</p></a>
					<a href="#">
						<p>下一則</p>
						<svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
						  <g id="next" transform="translate(-102.297 0)">
						    <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
						      <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#3f5146"/>
						    </g>
						  </g>
						</svg>

					</a>
				</div>
				-->
			{% else %}
			<p>{% trans '無資料' %}</p>
			{% endif %}
			</div>

		</div>

{% endblock body %}	