{% extends 'base.html' %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://kit.fontawesome.com/b8e586964f.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block title %}物種出現紀錄｜{% endblock %}
{% block style %}
<style>
  .sc_de_main .inforall li p {
    word-wrap: break-word;
  }
</style>
{% endblock style %}
{% block body %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <!--
    <a href="{% url 'search_occurrence' %}">條件搜尋</a>
    <span>></span>
    -->
    <p>物種出現紀錄</p>
  </div>
</div>

<div class="nbn_title">
  <h2>物種出現紀錄</h2>
</div>
<div class="container_area">
  <div class="main_1240">
    <div class="sc_de_top">
      <div class="left_area">
        <div class="cont_padbox">
          {% if row.references != '' %}
          <a style="cursor: pointer" href="{{ row.references }}" target="_blank" class="gbg_title">來源資料庫：{{ row.rightsHolder }} <i class="fas fa-external-link-alt"></i></a>
          {% else %}
          <a class="gbg_title">來源資料庫：{{ row.rightsHolder }}</a>
          {% endif %}
          <h2>中⽂名：{{ row.common_name_c }}</h2>
          <h2>學名：{{ row.scientificName }}</h2>
          <div class="short">
            <p>來源資料庫使⽤中⽂名：{{ row.sourceVernacularName }}</p>
            <p>來源資料庫使⽤學名：{{ row.sourceScientificName }}</p>
          </div>
          <p class="code">Name code：{{ row.scientificNameID }}</p>
        </div>
      </div>
    </div>

    <div class="sc_de_main">
      <div class="left_area">
        <div class="whcont">
          <ul class="inforall">
            <li>
              <h3>敏感層級：</h3>
              <p>{{ row.sensitiveCategory }}</p>
            </li>
            <li>
              <h3>紀錄者：</h3>
              <p>{{ row.recordedBy }}</p>
            </li>
            <li>
              <h3>分類層級：</h3>
              <p>{{ row.taxonRank }}</p>
            </li>
            <li>
              <h3>紀錄日期：</h3>
              <p>{{ row.eventDate }}</p>
            </li>
            <li>
              <h3>數量：</h3>
              <p>{{ row.organismQuantity }}</p>
            </li>
            <li>
              <h3>數量單位：</h3>
              <p>{{ row.organismQuantityType }}</p>
            </li>
            <li>
              <h3>出現地：</h3>
              <p>{{ row.locality }}</p>
            </li>            
            <li>
              <h3>授權狀況：</h3>
              <p>{{ row.license }}</p>
            </li>
            <li>
              <h3>資料集名稱：</h3>
              <p>{{ row.datasetName }}</p>
            </li>
            <li>
              <h3>資料集聯絡⼈：</h3>
              <p>{{ row.resourceContacts }}</p>
            </li>          
          </ul>
        </div>
      </div>
      <div class="right_area">
        <div class="map_img">
          <div class="imgbox" style="height: 390px; width: auto;">
            <!--435*390 or 870*780 用background-image替換連結-->
            <!--<div class="img"></div>-->
            <div id="map" class="img"></div>
          </div>
        </div>
        <ul class="inforall">
          <li>
            <h3>經度：</h3>
            {% if row.sensitiveCategory in '座標不開放,縣市' %}
            <p></p>
            {% else %}
            <p>{{ row.verbatimLongitude }}</p>
            {% endif %}
          </li>
          <li>
            <h3>座標誤差：</h3>
            <p>{{ row.coordinateUncertaintyInMeters }}</p>
          </li>
          <li>
            <h3>緯度：</h3>
            {% if row.sensitiveCategory in '座標不開放,縣市' %}
            <p></p>
            {% else %}
            <p>{{ row.verbatimLatitude }}</p>
            {% endif %}
          </li>
          <li>
            <h3>座標是否有模糊化：</h3>
            <p>{{ row.dataGeneralizations }}</p>
          </li>
          <li>
            <h3>座標系統：</h3>
            <p>{{ row.verbatimCoordinateSystem }}</p>
          </li>
          <li>
            <h3>座標模糊化程度：</h3>
            <p>{{ row.coordinatePrecision }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block script %}
<script>
  let redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });
  
  {% if row.sensitiveCategory in '座標不開放,縣市' %}
  let map = L.map('map').setView([0,0],0);
  L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  {% else %}
  let map = L.map('map').setView(['{{ row.standardLatitude.0 }}', '{{ row.standardLongitude.0 }}'],6);
  L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  L.marker(['{{ row.standardLatitude.0 }}', '{{ row.standardLongitude.0 }}'], {icon: redIcon}).addTo(map);
  {% endif %}

</script>
{% endblock script %}
