{% extends 'base.html' %} 
{% load static %} 

{% block title %}夥伴單位｜{% endblock %}

{% block body %}
<div class="path">
	<div class="main_1240"> 
		<a href="{% url 'index' %}" class="home"></a> <span>></span> <a href="{% url 'about' %}">關於TBIA</a><span>></span> <a href="{% url 'about' %}#partnertag">夥伴單位</a><span>></span> <p>{{ breadtitle }}</p>
	</div>
</div>
<div class="in_bn about_bn">
	<div class="title">
		<h2>夥伴單位</h2>
		<h3>partner</h3>
	</div>
</div>
<div class="partner_area">
	{% for i in rows %}
		<div class="itembox">
			<div class="bg_w">
				<div class="colorarea"></div>
			</div>
			<div class="main_1240">
				<div class="leftbox">
					<div class="logo_area">
						<img src="/static/image/partner/{{ i.logo }}" >
					</div>
					<h2>{{ i.title }}</h2><h3><a {% if i.link %} target="_blank" href="{{ i.link }}" {% else %} href="javascript:;" {% endif %}>{{ i.subtitle }}</a></h3>
					<p>{{ i.description }}</p>
				</div>
				<div class="rightbox">
					<div class="pic">
						<img src="/static/image/partner/{{ i.image }}" >
					</div>
					<!--<a href="{{ i.link }}" class="linkto" target="_blank">-->
					<a href="javascript:;" data-partner_id="{{ i.id }}" class="linkto contact_partner">
						聯絡我們
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock body %}
{% block script %}
<script src="{% static 'js/partner.js' %}"></script>
{% endblock script %}