{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}{% trans '隱私權政策' %}｜{% endblock %}
{% block body %}
<div class="path"> 
<div class="main_1240"> 
		<a href="{% url 'index' %}" class="home"></a> <span>></span> <p>{% trans '隱私權政策' %}</p>
	</div>
</div>
<div class="minh_content">
	<div class="nbn_title">
		<h2>{% trans '隱私權政策' %}</h2>
	</div>
	<div class="main_1240"> 
		<div class="w_border10_box agree_arae marb_30">
			<div class="scrollbox">
				{% trans '更新日期' %}：2022/10/20
				<br>
				<br>
				{% if LANGUAGE_CODE == 'en-us' %}
					1. Scope
					<br>
					<br>
					1.1. The privacy policy stated here applies to the collection, processing, and utilization of personal data for member accounts and users' activities involved in using the TBIA portal, including but not limited to membership registration services, consultation with the maintenance team for opinion exchange, contribution of data and materials, and website information browsing.
					<br>
					<br>
					1.2. By subsequently using the TBIA portal, a data subject who owns personal data indicates their acceptance of the following methods of personal data collection, processing, and utilization.
					<br>
					<br>

					2. Personal Data Collected
					<br>
					<br>
					2.1. When users register for accounts related to this portal's services, the personal identification information they voluntarily provide, including their name, email, and service unit, is used solely for verification, license marking, notifications, and contact purposes. However, at the time of registration, only the partner group's official identification is submitted, without any personal data information being declared. Such organizational accounts may be recorded and analyzed by the platform maintenance team outside the scope of personal data protection and restrictions.
					<br>
					<br>
					2.2. This platform uses Google Analytics (GA/GA4) and Google Tag Manager (GTM) for traffic analysis and program management. These traffic analysis and management tools help website and application administrators understand the interaction between visitors and the website or application. These tools collect information via cookies and report usage statistics without identifying individual visitor identities. If users do not set information blocking mechanisms (Do Not Track), TBIA may record the IP address used for the user's connection, login times, and other data that can be provided by the browser according to its security settings. The collection of such data is used solely for traffic analysis and monitoring of website services. Cookie collection is used to fine-tune and quantify service quality. Users can adjust the browser's management level to disable all cookie collection.
					<br>
					<br>
					2.3. The geographic location information recorded or embedded by data and material contributions from contributing partner groups is used solely for the display, analysis, and aggregation of biodiversity information.
					<br>
					<br>
					2.4. This portal uses General Public Licensing terms and public domain dedication statements to facilitate the release of General Public Licensing data. When contributing partner groups provide explicit personal data descriptions in the information provided with data or materials, this personal data is considered to be voluntarily disclosed by the data subjects involved. According to the regulations of personal data protection law, further collection and processing do not require additional written consent from the data subjects for these voluntarily disclosed data. The provided usage scope of those data will be used to support the public good of effective scientific data validation.
					<br>
					<br>
					2.5. This website may push the content submitted by contributing partners to other platforms in accordance with their specified General Public Licensing terms or public domain dedication methods. This may include but is not limited to cross-referencing or re-posting on other platforms that provide public transmission to the public, or on Facebook, Twitter (X), and other social media. This pushing model might involve international transmission of personal data. After the push, personal data matters' usage on that platform will be processed according to the platform's privacy policy.
					<br>
					<br>

					3. De-identification and Quantitative Processing of Relevant Data by TBIA
					<br>
					<br>
					3.1. Contributing partners agree that TBIA may reasonably and appropriately de-identify or quantitatively process their reported data and materials in the General Public Licensing data category.
					<br>
					<br>
					3.2. General Public Licensing data and materials processed after de-identification, where the personal identification status of the contributing partners or other individuals is no longer linked, are no longer considered personal data and may be used without the limitations of the submitting purpose.
					<br>
					<br>

					4. Privacy Policy Amendment
					<br>
					<br>
					4.1. TBIA will revise this policy from time to time to comply with the latest protection regulations regarding personal data and related legal rights.
					<br>
					<br>
					4.2. After revisions to the Privacy Policy, active notifications will be provided to users via the contact email provided during account registration. It will also be announced in the "Latest News" category on the portal.
					<br>
					<br>
					4.3. The continued use of TBIA website services by users is considered the express consent of the individual or the partner group to the updated version of the Privacy Policy.
					<br>
					<br>

					5. Request Mechanism
					<br>
					<br>
					5.1. TBIA has fulfilled the fundamental requirements of personal data protection law and related regulations in the circulation of relevant General Public Licensing data. The users' privacy protection is enhanced through aggregation or de-identification processes on the data. After processing, relevant data will be shared for scientific research purposes.
					<br>
					<br>
					5.2. The sharing of related Non-public Licensing data by TBIA is limited to alliance partner members and non-partner members who have passed application reviews for event-specific information access. Users are encouraged to carry out de-identification work and assume subsequent legal assessments and responsibilities related to data collection, processing, and utilization.
					<br>
					<br>
					5.3. If users of the website service or contributing partner groups of data and materials have privacy concerns regarding their personal data, they can contact the maintenance team through the website's announcement information. Concerned data subjects may also provide feedback through the website's reporting mechanism for requests such as access, correction, cessation of use, and deletion of their personal data. The portal's maintenance team will properly handle such requests within 30 days after confirming receipt and verifying the data subject's identity involved.

				{% else %}
					1. 適用範圍
					<br>
					<br>

					1.1. 本處所述隱私權政策，適用於入口網站會員帳號及使用者在 TBIA 網站活動時，所涉及有關個人資料的蒐集、處理及利用，包括但不限於會員註冊服務、洽詢維運團隊進行意見互動、資料與素材貢獻，以及網路資訊瀏覽等使用行為。
					<br>
					<br>
					1.2. 使用者持續使用 TBIA 入口網站服務，即視為當事人本人或代表其夥伴單位明示同意下述之資料蒐集、處理，及利用方式。
					<br>
					<br>

					2. TBIA蒐集使用者資料
					<br>
					<br>
					
					2.1. 使用者登錄本入口網站服務之相關帳號時，自主填註的各項個人識別資料，包括姓名、電郵、以及服務單位，僅作為認證、授權標示，與相關通知、聯繫之用。然若登錄時僅採用夥伴單位之公務識別，未嵌有任何足資識別特定當事人之資訊時，該等公務帳號於本入口網站之後續活動，將除外於個人資料之保護與拘束範圍，而得為平台維運團隊紀錄與存查分析。
					<br>
					<br>
					2.2. 本平台使用Google分析(Google Analytics, GA/GA4）與Google代碼管理工具(Google Tag Manager, GTM)來進行流量分析及程式管理。這些流量分析與管理工具，能夠協助網站和應用程式管理者，掌握訪客與網站和應用程式的互動情形。相關工具透過Cookies收集資訊並回報網站使用情況統計資料，不必識別個別訪客的個人身分。若使用者未自設資訊屏蔽機制(Do Not Track)，TBIA 或將紀錄使用者連線時使用之IP位址、登入時間，及其他瀏覽器依其安全層級調校得提供之數據資訊，此等數據資訊之收集，僅供管理端分析流量及觀測網站服務之用。Cookies 的收集僅用於平台服務品質的調校與量化分析，使用者亦可調校瀏覽界的管理層級，將所有 cookies 收集的允許逕行關閉。
					<br>
					<br>
					2.3. 貢獻夥伴單位提供資料與素材，所記錄或內嵌之地理位置，相關資訊僅用於生物資訊之顯示、分析與彙整。
					<br>
					<br>
					2.4. 本入口網站採公眾授權條款及公眾領域貢獻宣告來協助發布公眾授權資料，當貢獻夥伴單位提供資料或素材之顯名資訊，涉及個人資料之描述時，該等個人資料視為當事人自行公開之個人資料，依個人資料相關法令之規範，後續蒐集處理毋須再經當事人書面同意，該等資料之提供使用範圍，將用於支持科學資料有效驗證之公益目的。
					<br>
					<br>
					2.5. 本網站得將貢獻夥伴提交之內容，依其指定之公眾授權條款或公眾領域貢獻宣告方式推送至其他平台，包括但不限於轉引或轉載至其他向公眾提供公開傳輸的網站平台，或推送至臉書、推特等社群網路平台，此一推送模式涉及個人資料之國際傳輸，於推送後就該平台之個人資料使用事宜，轉依該平台依其隱私權政策進行處理。
					<br>
					<br>
					
					3. TBIA 對相關資料之去識別化與量化處理
					<br>
					<br>
					
					3.1. 貢獻夥伴同意 TBIA 得以對其回報資料與素材於公眾授權資料類別，進行合理妥適之去識別化或相關數據量化的處理。
					<br>
					<br>
					3.2. 公眾授權資料經處理後的資料、素材，與其貢獻夥伴或其他當事人個人識別狀態無法產生連結者，便不再屬於個人資料，後續將得以不受回報目的之限制，被進行利用。
					<br>
					<br>
					
					4. 隱私權保護政策修訂
					<br>
					<br>
					
					4.1. TBIA 將不定時修訂本項政策，以符合最新的個人資料與相關法定權利之保護規範。
					<br>
					<br>
					4.2. 隱私權政策經修訂後，將透過入口網站會員註冊時提供的聯繫電郵主動通知，亦會於入口網站「最新消息」分類項下進行公告。
					<br>
					<br>
					4.3. 使用者對 TBIA 網站服務的繼續使用，視為當事人本人或代表其夥伴單位明示同意更新版本的隱私權政策。
					<br>
					<br>
					
					5. 回報機制
					<br>
					<br>
					
					5.1. TBIA 對於相關公眾授權資料的流通，已踐履個人資料保護法及其相關法規的基礎要求，並在資料的處理及利用上，透過彙整或去識別化流程，以強化使用者的隱私防護。相關資料在處理之後，將提供科學研究目的之分享。
					<br>
					<br>
					5.2. TBIA對於相關非公眾授權資料的分享，僅限聯盟貢獻夥伴成員彼此間，及經個案申請審核通過的非夥伴會員，進行資訊接近使用上之共享，並敦促使用者應善盡去識別化工作並自負後續利用與流通上的相關責任，包括個人資料蒐集、處理，以及後續利用的相關適法評估。
					<br>
					<br>
					5.3. 若網站服務的使用者或資料素材之貢獻夥伴，對於當事人自身之個人資料有隱私疑慮，請透過網站公告資訊聯絡維運團隊，相關當事人若對自身之個人資料有進行查閱、更正、停止利用，以及刪除的意見與要求，亦可透過網站回報機制進行提報，入口網站之維運團隊，將於確認收受提交意見，並完成人別確認後，三十日內進行妥善處理。
				{% endif %}
				<br>
				
			</div>
		</div>
		<!--
		<div class="agreebox">
			<input type="checkbox">
			<p>我已閱讀並同意以上協議</p>
		</div>
		<div class="bt_center">
			<button>確認送出</button>
		</div>-->
	</div>
</div>
{% endblock %}