{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block title %}常見Q&A｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/qa.css' %}" />
{% endblock style %}

{% block body %}
<div class="popbg tech-pop d-none">
	<div class="ovhy">
		<div class="wbox_center index_tech">
			<div class="xx">
			</div>
			<div class="arl" data-index="10"></div>
			<div class="arr" data-index="2"></div>
				<!--目前的加上now 
			<div class="dot_area">
				<div class="dot"></div>
				<div class="dot now"></div>
				<div class="dot"></div>
			</div>-->
			<div class="techbox">
				<div class="tech_pic">
					<!--565*340或者兩倍大小1130*680-->
					<img src="/static/image/tutorial/pic1.png">
				</div>
				<!--盡量不要超過三行-->
				<p class="text_tec"></p>
			</div>
		</div>
	</div>
</div>

<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}"  class="home"></a> <span>></span>
    <p>{% trans '常見Q&A' %}</p>
  </div>
</div>
<div class="in_bn qa_bn">
  <div class="title">
    <h2>{% trans '常見Q&A' %}</h2>
    {% comment %} <h3>Question & Answer</h3> {% endcomment %}
  </div>
</div>
<div class="container_area">
  <div class="main_1240">
    <div class="qa_top_item">
      <ul class="tabb">
        {% for q in qa_options %}
        <li class="{% if type == q.type %} now {% endif %}  qa_{{ q.type }}" data-type="{{ q.type }}">{% trans q.value %}</li>
        {% endfor %}
      </ul>
      <button class="rep showFeedback">{% trans '意見回饋' %}</button>
      <div class="mobile_tab">
        <select name="qa_type" id="qa_type">
          {% for q in qa_options %}
          <option value="{{ q.type }}" {% if type == q.type %} selected {% endif %}>{% trans q.value %}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!--選到的那一個加上now-->
    <div class="qa_list">
      <ul>
        {% for q in qa_list %}
        <li class="{% if active_qa == q.id %} now {% endif %}" data-qa_id="{{ q.id }}" id="qa_hash_{{ q.id }}">
          <div class="questieon">
            <div class="mark_title">Q</div>
            <p>{% if LANGUAGE_CODE == 'en-us' and q.question_en != None and q.question_en != '' %}{{ q.question_en }}{% else %}{{ q.question }}{% endif %}</p>
            <div class="arr"></div>
          </div>
          <div class="ans">
            <div class="mark_title">A</div>
            <p>{% if LANGUAGE_CODE == 'en-us' and q.answer_en != None and q.answer_en != '' %}{{ q.answer_en|safe }}{% else %}{{ q.answer|safe }}{% endif %}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

		<div class="page_number">
      {% comment %} {% if page_list|length > 1 %} {% endcomment %}
        <a href="javascript:;" class="num changePage" data-page="1" data-type="{{ type }}">1</a>
        {% if current_page|add:'-1' in page_list %}
        <a href="javascript:;" class="pre changePage" data-page="{{ current_page|add:'-1' }}" data-type="{{ type }}">
          <span></span>{% trans '上一頁' %}
        </a>
        {% else %}
        <a href="javascript:;" class="pre pt-none">
          <span></span>{% trans '上一頁' %}
        </a>
        {% endif %}
        <!--目前頁面給 now-->
        {% for p in page_list %}
          {% if p == current_page %}
            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="{{ type }}">{{ p }}</a>
          {% else %}
            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="{{ type }}">{{ p }}</a>
          {% endif %}
        {% endfor %}
        {% if current_page|add:1 in page_list %}
        <a href="javascript:;" class="next changePage" data-page="{{ current_page|add:1 }}" data-type="2">
          {% trans '下一頁' %}<span></span>
        </a>
        {% else %}
        <a href="javascript:;" class="next pt-none">
          {% trans '下一頁' %}<span></span>
        </a>
        {% endif %}
        <a href="javascript:;" class="num changePage" data-page="{{ total_page }}" data-type="{{ type }}">{{ total_page }}</a>
      {% comment %} {% endif %} {% endcomment %}
      </div>
    </div>
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/tutorial.js' %}"></script>
<script src="{% static 'js/pages/qa.js' %}"></script>
{% endblock script %}