{% extends 'base.html' %} 
{% load static %} 
{% block title %}常見Q&A｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/qa.css' %}" />
{% endblock style %}

{% block body %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}"  class="home"></a> <span>></span>
    <p>常見Q&A</p>
  </div>
</div>
<div class="in_bn qa_bn">
  <div class="title">
    <h2>常見Q&A</h2>
    <h3>Question & Answer</h3>
  </div>
</div>
<div class="container_area">
  <div class="main_1240">
    <div class="qa_top_item">
      <ul class="tabb">
        <li class="now qa_2" data-type="2">網頁內容</li>
        <li class="qa_1" data-type="1">網頁操作</li>
        <li class="qa_3" data-type="3">聯盟相關</li>
      </ul>
      <button class="rep showFeedback">意見回饋</button>
      <div class="mobile_tab">
        <select name="qa_type">
          <option value="2" selected>網頁內容</option>
          <option value="1">網頁操作</option>
          <option value="3">聯盟相關</option>
        </select>
      </div>
    </div>

    <!--選到的那一個加上now-->
    <div class="qa_list">
      <ul>
        {% for q in qa_list %}
        <li>
          <div class="questieon">
            <div class="mark_title">Q</div>
            <p>{{ q.question }}</p>
            <div class="arr"></div>
          </div>
          <div class="ans">
            <div class="mark_title">A</div>
            <p>{{ q.answer }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

		<div class="page_number">
      {% if page_list|length > 1 %}
        <a href="javascript:;" class="num changePage" data-page="1" data-type="2">1</a>
        {% if current_page|add:'-1' in page_list %}
        <a href="javascript:;" class="pre changePage" data-page="{{ current_page|add:'-1' }}" data-type="2">
          上一頁
        </a>
        {% else %}
        <a href="javascript:;" class="pre pt-none">
          上一頁
        </a>
        {% endif %}
        <!--目前頁面給 now-->
        {% for p in page_list %}
          {% if p == current_page %}
            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="2">{{ p }}</a>
          {% else %}
            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="2">{{ p }}</a>
          {% endif %}
        {% endfor %}
        {% if current_page|add:1 in page_list %}
        <a href="javascript:;" class="next changePage" data-page="{{ current_page|add:1 }}" data-type="2">
          下一頁
        </a>
        {% else %}
        <a href="javascript:;" class="next pt-none">
          下一頁
        </a>
        {% endif %}
        <a href="javascript:;" class="num changePage" data-page="{{ total_page }}" data-type="2">{{ total_page }}</a>
      {% endif %}
      </div>
    </div>
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/qa.js' %}"></script>
{% endblock script %}