{% extends './base.html' %} {% load tags %} {% load static %} {% block style %} {% endblock style %} {% block body %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <p>全站搜尋結果</p>
  </div>
</div>

<div class="nbn_title">
  <h2>全站搜尋結果</h2>
</div>
<div class="main_1240">
  <div class="searchbar_top">
    <div class="left_search">
      <div class="input_item">
        <form action="{% url 'search_full' %}" method="GET">
          <input type="text" name="keyword" placeholder="請輸入關鍵字" value="{{ keyword }}" />
          <button>
            <img src="{% static 'image/search_icon.svg' %}" alt="" />
          </button>
        </form>
      </div>
      <div style="display: flex">
        <p style="vertical-align: middle; line-height: 24px">搜尋"苦苓"="楝"</p>
        <img style="padding-left: 5px; cursor: pointer" onclick='window.open("{% url "qa" %}")' src="{% static 'image/quesmark.svg' %}" />
      </div>
    </div>
    <div class="rightbox_select">
      <p>想找到更精準的資料嗎?<br />試試條件搜尋</p>
      <div class="icon_two">
        <div class="item">
          <a href="#">
            <img src="{% static 'image/mapicon.svg' %}" alt="" />
            <span>物種出現紀錄查詢</span>
          </a>
          <a href="" class="hvmask">物種出現紀錄查詢</a>
          <div class="line"></div>
        </div>
        <div class="item">
          <a href="#">
            <img src="{% static 'image/libraryicon.svg' %}" alt="" />
            <span>⾃然史典藏查詢</span>
          </a>
          <a href="" class="hvmask">⾃然史典藏查詢</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two_cont_area">
    <div class="left_menu mbmove">
      <!--手機用的按鈕-->
      <div class="mb_fixed_btn">
        <p>類<br />別<br />篩<br />選</p>
        <span>關閉</span>
      </div>
      <div class="mb_scroll">
        <ul>
          <li>
            <a href="{% url 'search_full' %}?keyword={{ keyword }}" class="big_link rd_click">
              <p>所有結果</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種出現紀錄
                <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                ⾃然史典藏
                <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>

          <li class="type_news">
            <a href="{% url 'search_full_doc' 'news' keyword %}"" class="big_link rd_click">
              <p>新聞公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="type_event">
            <a href="{% url 'search_full_doc' 'event' keyword %}" class="big_link rd_click">
              <p>活動公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="type_project">
            <a href="{% url 'search_full_doc' 'project' keyword %}" class="big_link rd_click">
              <p>計畫徵求</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="type_resource">
            <a href="{% url 'search_full_doc' 'resource' keyword %}" class="big_link rd_click">
              <p>開放資料相關資源</p>
              <div class="arr"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightbox_content">
      {% if type == 'news' %}
      <!-- 新聞公告 -->
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>新聞公告 ({{ count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if count > 0 %}
        <ul class="card_list_2">
          {% for i in rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
      </div>
      {% elif type == 'event' %}
      <!-- 活動公告 -->
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>活動公告 ({{ count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if count > 0 %}
        <ul class="card_list_2">
          {% for i in rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
      </div>
      {% elif type == 'project' %}
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>計畫徵求 ({{ count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if count > 0 %}
        <ul class="card_list_2">
          {% for i in rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
      </div>
      {% elif type == 'resource' %}
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>開放資料相關資源 ({{ count }})</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="edu_list three_set">
          {% if count > 0 %} {% for i in rows %}
          <li>
            <div class="item" style="height: 100%">
              <div class="cate_dbox">
                <div class="cate pdf">{{ i.extension }}</div>
                <div class="date">{{ i.date }}</div>
              </div>
              <a href="{% static i.url %}" class="title"> {{ i.title|highlight:keyword }} </a>
              <a href="{% static i.url %}" download class="dow_btn"> </a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="no_data" style="width: 100%">暫無資料</div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %} {% block script %}

<script>
  /* add now tag */
  $(document).ready(function () {
    $(".type_{{ type }}").addClass("now");
  });

  $(".mb_fixed_btn").on("click", function (event) {
    $(".mbmove").toggleClass("open");
    $(this).toggleClass("now");
  });

  $(".rd_click").on("click", function (event) {
    $(".rd_click").closest("li").removeClass("now");
    $(".rd_click").closest("li").find(".second_menu").slideUp();
    $(this).closest("li").toggleClass("now");
    $(this).closest("li").find(".second_menu").slideToggle();
  });
</script>

{% endblock script %}
