{% extends './base.html' %} {% load static %} {% block style %} {% endblock style %} {% block body %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <p>全站搜尋結果</p>
  </div>
</div>

<div class="nbn_title">
  <h2>全站搜尋結果</h2>
</div>
<div class="main_1240">
  <div class="searchbar_top">
    <div class="left_search">
      <div class="input_item">
        <input type="text" placeholder="請輸入關鍵字" />
        <button>
          <img src="{% static 'image/search_icon.svg' %}" alt="" />
        </button>
      </div>
      <div style="display: flex">
        <p style="vertical-align: middle; line-height: 24px">搜尋"苦苓"="楝"</p>
        <img style="padding-left: 5px; cursor: pointer" onclick='window.open("{% url "qa" %}")' src="{% static 'image/quesmark.svg' %}" />
      </div>
    </div>
    <div class="rightbox_select">
      <p>想找到更精準的資料嗎?<br />試試條件搜尋</p>
      <div class="icon_two">
        <div class="item">
          <a href="#">
            <img src="{% static 'image/mapicon.svg' %}" alt="" />
            <span>物種出現紀錄查詢</span>
          </a>
          <a href="" class="hvmask">物種出現紀錄查詢</a>
          <div class="line"></div>
        </div>
        <div class="item">
          <a href="#">
            <img src="{% static 'image/libraryicon.svg' %}" alt="" />
            <span>⾃然史典藏查詢</span>
          </a>
          <a href="" class="hvmask">⾃然史典藏查詢</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two_cont_area">
    <div class="left_menu mbmove">
      <!--手機用的按鈕-->
      <div class="mb_fixed_btn">
        <p>類<br />別<br />篩<br />選</p>
        <span>關閉</span>
      </div>
      <div class="mb_scroll">
        <ul>
          <li>
            <a href="#" class="big_link rd_click">
              <p>所有結果</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種出現紀錄
                <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                ⾃然史典藏
                <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>

          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>新聞公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>活動公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>計畫徵求</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>開放資料相關資源</p>
              <div class="arr"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightbox_content">
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>物種出現紀錄 (14)</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="card_list_1">
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：<span class="col_red">苦苓</span></p>
          </li>

          <li>
            <div class="num">10</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>⾃然史典藏 (15)</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="card_list_1">
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：<span class="col_red">苦苓</span></p>
          </li>

          <li>
            <div class="num">10</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：<span class="col_red">苦苓</span></p>
          </li>

          <li>
            <div class="num">10</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
          <li>
            <div class="num">1</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：<span class="col_red">苦苓</span></p>
          </li>

          <li>
            <div class="num">10</div>
            <p>中⽂名：<span class="col_red">楝</span></p>
            <p>學名：Melia azedarach</p>
            <p>記錄者：苦苓</p>
          </li>
        </ul>
        <!--超過9個才有更多按鈕-->
        <a href="#" class="more"> 更多結果 </a>
      </div>

      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>新聞公告 (2)</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="card_list_2">
          <li>
            <div class="nstitle">2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣</div>
            <p>2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣繪2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣繪，本次活動由<span class="col_red">苦苓</span>主辦</p>
          </li>
          <li>
            <div class="nstitle">2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣</div>
            <p>2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣繪2021鯊魚祭，XXX聯合舉辦，紅肉丫髻鮫保育推廣繪，本次活動由<span class="col_red">苦苓</span>主辦</p>
          </li>
        </ul>
        <!--超過6個才有更多按鈕-->
        <a href="#" class="more" style="display: none"> 更多結果 </a>
      </div>

      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>活動公告 (0)</p>
            <div class="line"></div>
          </div>
        </div>
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>

        <!--超過6個才有更多按鈕-->
        <a href="#" class="more" style="display: none"> 更多結果 </a>
      </div>
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>計畫徵求 (0)</p>
            <div class="line"></div>
          </div>
        </div>
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>

        <!--超過6個才有更多按鈕-->
        <a href="#" class="more" style="display: none"> 更多結果 </a>
      </div>
      <div class="item">
        <div class="titlebox_line">
          <div class="title">
            <p>開放資料相關資源 (3)</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="edu_list three_set">
          <li>
            <div class="item">
              <div class="cate_dbox">
                <div class="cate pdf">PDF</div>
                <div class="date">2021.06.25</div>
              </div>
              <a href="#" class="title"> 2021下半年度<span class="col_red">生物多</span>生物多樣性物種出現紀錄與報告 </a>
              <a href="#" class="dow_btn"> </a>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="cate_dbox">
                <div class="cate pdf">PDF</div>
                <div class="date">2021.06.25</div>
              </div>
              <a href="#" class="title"> 2021下半年度<span class="col_red">生物多</span>生物多樣性物種出現紀錄與報告 </a>
              <a href="#" class="dow_btn"> </a>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="cate_dbox">
                <div class="cate pdf">PDF</div>
                <div class="date">2021.06.25</div>
              </div>
              <a href="#" class="title"> 2021下半年度<span class="col_red">生物多</span>生物多樣性物種出現紀錄與報告 </a>
              <a href="#" class="dow_btn"> </a>
            </div>
          </li>
        </ul>

        <!--超過6個才有更多按鈕-->
        <a href="#" class="more" style="display: none"> 更多結果 </a>
      </div>
    </div>
  </div>
</div>

{% endblock body %} {% block script %}

<script>
  $(".mb_fixed_btn").on("click", function (event) {
    $(".mbmove").toggleClass("open");
    $(this).toggleClass("now");
  });

  $(".rd_click").on("click", function (event) {
    $(".rd_click").closest("li").removeClass("now");
    $(".rd_click").closest("li").find(".second_menu").slideUp();
    $(this).closest("li").toggleClass("now");
    $(this).closest("li").find(".second_menu").slideToggle();
  });
</script>

{% endblock script %}
