{% extends 'base.html' %} 
{% load tags %} 
{% load static %}
{% load humanize %}
{% block title %}全站搜尋｜{% endblock %}
{% block style %}
<style>
.rightdow {
    display: flex;
    align-items: center
}

.dow_btn {
    padding: 0px 10px;
    font-size: 16px;
    color: #3F5146;
    height: 32px;
    min-width: 110px;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid #3F5146;
    background: none;
    display: flex;
    align-items: center
}

.dow_btn svg {
    width: 16px;
    height: 16px;
    margin-right: 5px
}

@media only screen and (max-width: 767px) {
.dow_btn {
        font-size: 14px;
        padding: 0 10px;
        height: 30px;
        margin-bottom: 5px;
        min-width: initial
    }

  .dow_btn svg {
        margin-right: 0
    }

    .dow_btn p {
        display: none
    }
}

.dow_btn:hover {
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    background: #3F5146;
    color: #FFF
}

.dow_btn:hover svg path {
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    stroke: #FFFFFF
}




.searchbar_top .left_search {
  background: transparent;
  padding: 10px 0;
}

.searchbar_top .left_search .input_item input {
  background: #FFF;
  width: 300px;
}

.searchbar_top .left_search .input_item {
  margin-right: 0
}

@media only screen and (max-width: 767px) {
.searchbar_top .left_search .input_item input {
      width: 100%;
      margin-bottom: 15px;
      height: 45px;
  }
}

.two_cont_area .rightbox_content .card_list_1 li .num {
  right: 10px;
  top: 6px
}

.two_cont_area .rightbox_content .card_list_1 li {
  padding: 15px 15px 1px 15px;
}

@media only screen and (max-width: 767px) {
  .searchbar_top .rightbox_select .icon_two .hvmask {
    display: flex;
    align-items: center;
  }

}

.card_list_1 li {
  word-wrap:break-word;
}
</style>
{% endblock style %}
{% block body %}
		<!--分布圖彈出視窗-->
		<div class="popbg pic_pop" style="display: none;" >
			<div class="ovhy">
				<div class="wbox_center">
					<div class="xx">

					</div>
					<div class="map_img">
						<div class="imgbox">
							<!--800*500 or 1600*1000 用background-image替換連結-->
							<div class="img"></div>
						</div>

					</div>
				</div>
			</div>
		</div>


<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <p>全站搜尋結果</p>
  </div>
</div>

<div class="nbn_title">
  <h2>全站搜尋結果</h2>
</div>
<div class="main_1240">
  <div class="searchbar_top">
    <div class="left_search">
      <div class="input_item">
        <form action="{% url 'search_full' %}" method="GET">
          <input type="text" name="keyword" placeholder="請輸入關鍵字" value="{{ keyword }}"/>
          <button>
            <img src="{% static 'image/search_icon.svg' %}" alt="" />
          </button>
        </form>
      </div>
      <!-- 
      <div style="display: flex">
        <p style="vertical-align: middle; line-height: 24px">搜尋"苦苓"="楝"</p> 
        <img style="padding-left: 5px; cursor: pointer" onclick='window.open("{% url "qa" %}")' src="{% static 'image/quesmark.svg' %}" />
      </div>
      --> 
    </div>
    <div class="rightbox_select">
      <p>想找到更精準的資料嗎？<br />試試條件搜尋</p>
      <div class="icon_two">
        <div class="item" onclick='location.href="{% url "search_occurrence" %}"' style="cursor: pointer">
          <a>
            <img src="{% static 'image/mapicon.svg' %}" alt="" />
            <span>物種出現紀錄查詢</span>
          </a>
          <a class="hvmask">物種出現紀錄查詢</a>
          <div class="line"></div>
        </div>
        <div class="item" onclick='location.href="{% url "search_collection" %}"' style="cursor: pointer">
          <a>
            <img src="{% static 'image/libraryicon.svg' %}" alt="" />
            <span>⾃然史典藏查詢</span>
          </a>
          <a class="hvmask">⾃然史典藏查詢</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two_cont_area">
    <div class="left_menu mbmove">
      <!--手機用的按鈕-->
      <div class="mb_fixed_btn">
        <p>類<br />別<br />篩<br />選</p>
        <span>關閉</span>
      </div>
      <div class="mb_scroll">
        <ul class="item_list">
          <li class="now li-all">
            <a href="javascript:;" onclick="focusComponent('all', false)" class="big_link rd_click">
              <p>所有結果</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="li-item_spe">
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種
                <!-- <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a> -->
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="spe_menu second_menu">
              <a id="facet_spe_all"href="javascript:;" onclick="focusComponent('item_spe', false)">全部({{ occurrence.count|intcomma }})</a>
            </div>
          </li>
          <li class="li-item_occ">
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種出現紀錄
                <!-- <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a> -->
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="occ_menu second_menu">
              <a id="facet_occ_all"href="javascript:;" onclick="focusComponent('item_occ', false)">全部({{ occurrence.count|intcomma }})</a>
              {% for i in occurrence.rows %} 
              <a id="facet_occ_{{ i.key }}" href="javascript:;" onclick="focusCards('occ','{{ i.key }}', false)">{{ i.title }}({{ i.total_count|intcomma }})</a>
              {% endfor %}
            </div>
          </li>
          <li class="li-item_col">
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                ⾃然史典藏
                <!-- <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a> -->
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="col_menu second_menu">
              <a id="facet_col_all" href="javascript:;" onclick="focusComponent('item_col', false)">全部({{ collection.count|intcomma }})</a>
              {% for i in collection.rows %} 
                <a id="facet_col_{{ i.key }}" href="javascript:;" onclick="focusCards('col','{{ i.key }}', false)">{{ i.title }}({{ i.total_count|intcomma }})</a>
              {% endfor %}
            </div>
          </li>

          <li class="li-item_news">
            <a href="javascript:;" onclick="focusComponent('item_news', false)" class="big_link rd_click">
              <p>新聞公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="li-item_event">
            <a href="javascript:;" onclick="focusComponent('item_event', false)" class="big_link rd_click">
              <p>活動訊息</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="li-item_project">
            <a href="javascript:;" onclick="focusComponent('item_project', false)" class="big_link rd_click">
              <p>計畫徵求</p>
              <div class="arr"></div>
            </a>
          </li>
          <li class="li-item_resource">
            <a href="javascript:;" onclick="focusComponent('item_resource', false)" class="big_link rd_click">
              <p>開放資料相關資源</p>
              <div class="arr"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightbox_content">
      <!----- 所有結果 內容欄 ----->


					<div class="item item-species">
						<div class="titlebox_line">
							<div class="title">
								<p>物種 (14)</p>
								<div class="line"></div>
							</div>
						</div>
						<ul class="card_list_2 species_list">
							<li>
								<div class="flex_top">
									<div class="lefttxt">
										<p>中⽂名：<span class="col_red">楝</span></p>
										<p>學名：Melia azedarach</p>
										<p>中文別名：楝楝</p>
										<p>同物異名：楝楝楝楝</p>
										<p>出現記錄筆數：50</p>
										<p>自然使典藏筆數：100</p>
									</div>
									<div class="right_img">
										<div class="imgbox">
											<!--435*390 or 870*780 用background-image替換連結-->
											<div class="imgarea" style="background-image:url(/static/image/news_listdemo.jpg);"></div>
										</div>
									</div>
								</div>
								<div class="btn_area">
									<a href="#">其他介紹</a>
									<button>分布圖</button>
								</div>


							</li>
							<li>
								<div class="flex_top">
									<div class="lefttxt">
										<p>中⽂名：<span class="col_red">楝</span></p>
										<p>學名：Melia azedarach</p>
										<p>中文別名：楝楝</p>
										<p>同物異名：楝楝楝楝</p>
										<p>出現記錄筆數：50</p>
										<p>自然使典藏筆數：100</p>
									</div>
									<div class="right_img">
										<div class="imgbox">
											<!--400*270 OR 800*540 換圖只換background-image屬性-->
											<div class="imgarea" style="background-image:url(/static/image/news_listdemo.jpg);"></div>
										</div>
									</div>
								</div>
								<div class="btn_area">
									<a href="#">其他介紹</a>
									<button>分布圖</button>
								</div>


							</li>
							<li>
								<div class="flex_top">
									<div class="lefttxt">
										<p>中⽂名：<span class="col_red">楝</span></p>
										<p>學名：Melia azedarach</p>
										<p>中文別名：楝楝</p>
										<p>同物異名：楝楝楝楝</p>
										<p>出現記錄筆數：50</p>
										<p>自然使典藏筆數：100</p>
									</div>
									<div class="right_img">
										<div class="imgbox">
											<!--400*270 OR 800*540 換圖只換background-image屬性-->
											<div class="imgarea" style="background-image:url(/static/image/news_listdemo.jpg);"></div>
										</div>
									</div>
								</div>
								<div class="btn_area">
									<a href="#">其他介紹</a>
									<button>分布圖</button>
								</div>


							</li>
						</ul>
					</div>


      <!----- 物種出現紀錄 ----->
      <div class="item item_occ" id="item_occ">
        <div class="titlebox_line">
          <div class="title">
            <p>物種出現紀錄 ({{ occurrence.count|intcomma }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if occurrence.count > 0 %}
          <ul class="card_list_1 occ-card">
            {% for i in occurrence.card %}
              <li onclick="getRecords('occ','{{ i.matched_col }}','{{ i.matched_value }}','{{ i.name }}','{{ i.count }}','1','card', false)">
                <div class="num">{{ i.count }}</div>
                <div style="height: 20px; margin-bottom: 6px"></div>
                <p>中文名：{{ i.common_name_c|highlight:keyword }}</p>
                <p>學名：{{ i.val|highlight:keyword }}</p>
                {% if i.matched_col != '中文名' and i.matched_col != '學名'  %}
                <p>{{ i.matched_col }}：{{ i.matched_value|highlight:keyword }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過9個才有更多按鈕-->
        {% if occurrence.more %}
        <a href="javascript:;" onclick="getMoreCards('.occ-card','#occ_offset','.occ_more','false')" class="more occ_more"> 更多結果 </a>
        <input type="hidden" id="occ_offset" value="9">
        {% endif %}
      </div>


      <!----- 自然史典藏 ----->
      <div class="item item_col" id="item_col">
        <div class="titlebox_line">
          <div class="title">
            <p>⾃然史典藏 ({{ collection.count|intcomma }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if collection.count > 0 %}
          <ul class="card_list_1 col-card">
            {% for i in collection.card %}
            <li onclick="getRecords('col','{{ i.matched_col }}','{{ i.matched_value }}','{{ i.name }}','{{ i.count }}','1','card', false)">
              <div class="num">{{ i.count }}</div>
              <div style="height: 20px; margin-bottom: 6px"></div>
              <p>中文名：{{ i.common_name_c|highlight:keyword }}</p>
              <p>學名：{{ i.val|highlight:keyword }}</p>
              {% if i.matched_col != '中文名' and i.matched_col != '學名'  %}
              <p>{{ i.matched_col }}：{{ i.matched_value|highlight:keyword }}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過9個才有更多按鈕-->
        {% if collection.more %}
        <a href="javascript:;" onclick="getMoreCards('.col-card','#col_offset','.col_more','false')" class="more col_more"> 更多結果 </a>
        <input type="hidden" id="col_offset" value="9">
        {% endif %}
      </div>


      <!-- 新聞公告 -->
      <div class="item item_news" id="item_news">
        <div class="titlebox_line">
          <div class="title">
            <p>新聞公告 ({{ news.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if news.count > 0 %}
        <ul class="card_list_2 news-card">
          {% for i in news.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過6個才有更多按鈕-->
        {% if news.count > 6 %}
        <a href="javascript:;" onclick="getMoreDocs('news', '#news_offset', '.more_news', '.news-card')" class="more more_news"> 更多結果 </a>
        <input type="hidden" id="news_offset" value="6">
        {% endif %}
      </div>


      <!-- 活動訊息 -->
      <div class="item item_event" id="item_event">
        <div class="titlebox_line">
          <div class="title">
            <p>活動訊息 ({{ event.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if event.count > 0 %}
        <ul class="card_list_2 event-card">
          {% for i in event.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過6個才有更多按鈕-->
        {% if event.count > 6 %}
        <a href="javascript:;" onclick="getMoreDocs('event', '#event_offset', '.more_event', '.event-card')" class="more more_event"> 更多結果 </a>
        <input type="hidden" id="event_offset" value="6">
        {% endif %}
      </div>


      <!----- 計畫徵求 ----->
      <div class="item item_project" id="item_project">
        <div class="titlebox_line">
          <div class="title">
            <p>計畫徵求 ({{ project.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if project.count > 0 %}
        <ul class="card_list_2 project-card">
          {% for i in project.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %} 
        {% if project.count > 6 %}
        <!--超過6個才有更多按鈕-->
        <a href="javascript:;" onclick="getMoreDocs('project', '#project_offset', '.more_project', '.project-card')" class="more more_project"> 更多結果 </a>
        <input type="hidden" id="project_offset" value="6">
        {% endif %}
      </div>


      <!----- 開放資料相關資源 ----->
      <div class="item item_resource" id="item_resource">
        <div class="titlebox_line">
          <div class="title">
            <p>開放資料相關資源 ({{ resource.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="edu_list three_set resource-card">
          {% if resource.count > 0 %} {% for i in resource.rows %}
          <li>
            <div class="item items" style="height: 100%">
              <div class="cate_dbox">
                <div class="cate pdf">{{ i.extension }}</div>
                <div class="date">{{ i.date }}</div>
              </div>
              <a href="{% static i.url %}" class="title"> {{ i.title|highlight:keyword }} </a>
              <a href="{% static i.url %}" download class="dow_btn"> </a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="no_data" style="width: 100%">暫無資料</div>
        {% endif %} 
        {% if resource.count > 6 %}
        <a href="javascript:;" onclick="getMoreDocs('resource', '#resource_offset', '.more_resource', '.resource-card')" class="more more_resource"> 更多結果 </a>
        <input type="hidden" id="resource_offset" value="6">
        {% endif %}
      </div>
    </div>


  </div>
</div>

<!-- 自然史典藏欄位選擇 -->
<div class="popbg col-choice" style="display: none;">
	<div class="ovhy">
		<div class="wbox_center">
			<div class="xx">
			</div>
			<div class="catetitle">
				<div class="titlebox">欄位選項</div>	
				<button class="selt" onclick="selectAll('.col-choice')">全選</button>
				<button class="selt" onclick="resetAll('.col-choice')">重置</button>
			</div>
			<ul class="catalist">
				<li>
					<input type="checkbox" class="chebox" id="col-common_name_c">
					<p>中文名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-scientificName">
					<p>學名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-alternative_name_c">
					<p>中文別名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-synonyms">
					<p>同物異名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-rightsHolder">
					<p>來源資料庫</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-taxonID">
					<p>TaiCOL物種編號</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-collectionID">
					<p>館藏號</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-taxonRank">
					<p>鑑定層級</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-sensitiveCategory">
					<p>敏感層級</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-typeStatus">
					<p>標本類型</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-preservation">
					<p>保存方式</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-date">
					<p>採集日期</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-locality">
					<p>採集地</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-recordedBy">
					<p>採集者</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-recordNumber">
					<p>採集號</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-quantity">
					<p>數量</p>
				</li>				
        <li>
					<input type="checkbox" class="chebox" id="col-organismQuantityType">
					<p>數量單位</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-lon">
					<p>經度</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-lat">
					<p>緯度</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimCoordinateSystem">
					<p>座標系統</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-verbatimSRS">
					<p>空間參考系統</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-coordinateUncertaintyInMeters">
					<p>座標誤差</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-dataGeneralizations">
					<p>座標是否有模糊化</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-coordinatePrecision">
					<p>座標模糊化程度</p>
				</li>
				<li>				
					<input type="checkbox" class="chebox" id="col-datasetName">
					<p>資料集名稱</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="col-resourceContacts">
					<p>資料集聯絡人</p>
				</li>
        <li>
					<input type="checkbox" class="chebox" id="col-license">
					<p>授權狀況</p>
				</li>
			</ul>
			<button class="send_bt" onclick="sendSelected('col')">確認</button>
		</div>
	</div>
</div>

<!-- 物種出現紀錄欄位選擇 -->
<div class="popbg occ-choice" style="display: none;">
	<div class="ovhy">
		<div class="wbox_center">
			<div class="xx">
			</div>
			<div class="catetitle">
				<div class="titlebox">欄位選項</div>	
				<button class="selt" onclick="selectAll('.occ-choice')">全選</button>
				<button class="selt" onclick="resetAll('.occ-choice')">重置</button>
			</div>
			<ul class="catalist">
				<li>
					<input type="checkbox" class="chebox" id="occ-common_name_c">
					<p>中文名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-scientificName">
					<p>學名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-alternative_name_c">
					<p>中文別名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-synonyms">
					<p>同物異名</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-taxonRank">
					<p>鑑定層級</p>
				</li>				
				<li>
					<input type="checkbox" class="chebox" id="occ-sensitiveCategory">
					<p>敏感層級</p>
				</li>				
        <li>
					<input type="checkbox" class="chebox" id="occ-rightsHolder">
					<p>來源資料庫</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-taxonID">
					<p>TaiCOL物種編號</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-date">
					<p>觀察日期</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-locality">
					<p>出現地</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-quantity">
					<p>數量</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-organismQuantityType">
					<p>數量單位</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-recordedBy">
					<p>記錄者</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-lon">
					<p>經度</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-lat">
					<p>緯度</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-verbatimSRS">
					<p>空間參考系統</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-verbatimCoordinateSystem">
					<p>座標系統</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-coordinateUncertaintyInMeters">
					<p>座標誤差</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-dataGeneralizations">
					<p>座標是否有模糊化</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-coordinatePrecision">
					<p>座標模糊化程度</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-basisOfRecord">
					<p>紀錄類型</p>
				</li>
				<li>				
					<input type="checkbox" class="chebox" id="occ-datasetName">
					<p>資料集名稱</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-resourceContacts">
					<p>資料集聯絡人</p>
				</li>
				<li>
					<input type="checkbox" class="chebox" id="occ-license">
					<p>授權狀況</p>
				</li>
			</ul>
			<button class="send_bt" onclick="sendSelected('occ')">確認</button>
		</div>
	</div>
</div>

{% endblock body %} 

{% block script %}
<script>
  let params = ['item_class', 'record_type','key','value','scientific_name','limit','page','from',
                'doc_type', 'offset_value', 'more_class', 'card_class', 'is_sub', 'focus_card', 'get_record']

  function changeAction(){
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    // 如果只有keyword, show全部elements
    if ((queryString.split('&').length==1)&&(queryString.startsWith('?keyword='))){
      $('.rightbox_content .item').css({display: ''})
      $('.rightbox_content .subitem').css({display: 'none'})
    }
    if (urlParams.get('item_class')){
      focusComponent(urlParams.get('item_class'), true)
    } else if (urlParams.get('focus_card')){
      focusCards(urlParams.get('record_type'), urlParams.get('key'), true)
    } else if (urlParams.get('get_record')){
      getRecords(urlParams.get('record_type'),urlParams.get('key'),urlParams.get('value'),urlParams.get('scientific_name'),urlParams.get('limit'),urlParams.get('page'),urlParams.get('from'),true)
    } 
  }

  function clickToAnchor(id){
      let offset;
      if ($(window).width() > 1599){
        offset = 145
      } else if ($(window).width() > 999){
        offset = 120
      } else {
        offset = 100
      }
      var target = $(id).offset().top - offset;
      $('html, body').animate({scrollTop:target}, 500);
  }

  $( document ).ready(function() {

    $('.occ_menu, .col_menu, .spe_menu').slideToggle();

    // 如果直接從帶有參數網址列進入
    changeAction(); 

    // 如果按上下一頁
    window.onpopstate = function(event) {
      changeAction();
    };
  })
  

  $(".mb_fixed_btn").on("click", function (event) {
    $(".mbmove").toggleClass("open");
    $(this).toggleClass("now");
  });

  $(".rd_click").on("click", function (event) {
    $(".rd_click").closest("li").removeClass("now");
    //$(".rd_click").closest("li").find(".second_menu").slideUp();
    $(this).closest("li").toggleClass("now");
    $(this).closest("li").find(".second_menu").slideToggle();
  });


  $(".second_menu a").on("click", function (event) {
    $(this).parent().parent().parent('ul').children('li.now').removeClass("now");
    $(".second_menu a").removeClass("now");
    $(this).addClass("now")
    $(this).parent().parent('li').addClass('now')
  });

  function focusComponent(item_class, go_back){

    // 先移除掉原本的
    $('.item_list li').removeClass('now')
    $('.second_menu a').removeClass('now')
    // 加上現在的
    $(`.li-${item_class}`).addClass('now')
    if (item_class=='item_occ'){
      $(`#facet_occ_all`).addClass('now')
    } else if  (item_class=='item_col'){
      $(`#facet_col_all`).addClass('now')
    } else if (item_class=='item_spe'){
      $(`#facet_spe_all`).addClass('now')
    }

    if ((!go_back)&& ('URLSearchParams' in window)) {
      var searchParams = new URLSearchParams(window.location.search)
      searchParams.set("item_class", item_class);

      params.forEach(function(item, index, array) {
        if (item != 'item_class'){
          searchParams.delete(item)
        }
      });
      
      var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
      history.pushState(null, '', newRelativePathQuery);
    }

    // 不顯示最底層結果列表
    $('.record_title').remove()
    $('.result_inf_top').remove()
    $('.result_table').remove()
    $('.page_number').remove()

    if (item_class == 'all'){
      $('.rightbox_content .item').css({display: ''})
      // 如果是再底下一個階層則不顯示
      $('.rightbox_content .subitem').css({display: 'none'})
    } else {
      $(`.rightbox_content .${item_class}`).css({display: ''})
      $('.rightbox_content .item').not($(`.${item_class}`)).not($('.items')).css({display: 'none'})
      clickToAnchor(`#${item_class}`)
    }

  }

  function getRecords(record_type,key,value,scientific_name,limit,page,from, go_back){

    if ((!go_back)&& ('URLSearchParams' in window)) {
      var searchParams = new URLSearchParams(window.location.search)

      params.forEach(function(item, index, array) {
          searchParams.delete(item)
      });
      searchParams.set("record_type", record_type);
      searchParams.set("key", key);
      searchParams.set("value", value);
      searchParams.set("scientific_name", scientific_name);
      searchParams.set("limit", limit);
      searchParams.set("page", page);
      searchParams.set("from", from);
      searchParams.set("get_record", true);
      
      var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
      history.pushState(null, '', newRelativePathQuery);
    }

    // hide all items
    $('.rightbox_content .item').css({display: 'none'})

    // 移除前一次的紀錄
    $('.record_title').remove()
    $('.result_inf_top').remove()
    $('.result_table').remove()
    $('.page_number').remove()

    // append rows
    $.ajax({
        url: "{% url 'get_records' %}",
        data: { record_type: record_type,
                keyword: '{{ keyword }}',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                key: key,
                value: value,
                scientific_name: scientific_name,
                limit: limit,
                page: page},
        type: 'POST',
        dataType : 'json',
      })
      .done(function(response) {
        $('.rightbox_content').append(`
        <div class="titlebox_line record_title" id="records">
          <div class="title">
              <p>${response.title} > 結果列表</p>
              <div class="line"></div>
          </div>
        </div>
        <div class="result_inf_top">
          <button class="cate_btn" onclick="popupField('${record_type}')">欄位選項 +</button>
          <div style="display: flex">
            <p class="datenum" style="margin-right: 10px">資料筆數：${limit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</p>
            <div class="rightdow">
              <button class="dow_btn">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 14.5V16.75C1 17.3467 1.23705 17.919 1.65901 18.341C2.08097 18.7629 2.65326 19 3.25 19H16.75C17.3467 19 17.919 18.7629 18.341 18.341C18.7629 17.919 19 17.3467 19 16.75V14.5M14.5 10L10 14.5M10 14.5L5.5 10M10 14.5V1" stroke="#3F5146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p onclick="downlaodData('${response.search_str}')">資料下載</p>
              </button>
              <a href="#" class="qmark"></a>
            </div>
          </div>

        </div>
        <div class="result_table" style="overflow-x: auto;">
          <table cellspacing="0" cellspacing="0" class="table_style1 record_table">
          </table>						
        </div>    
        `)
        var table_title = document.createElement("tr");
        table_title.classList.add('table_title');
        let map_dict = response.map_dict;

        for (let i = 0; i < Object.keys(map_dict).length; i++) {
            var this_td = document.createElement("td");
            this_td.className = `row-${Object.keys(map_dict)[i]}`;
            this_td.style.cssText = 'display:none';
            var text = document.createTextNode(map_dict[Object.keys(map_dict)[i]]);
            this_td.appendChild(text);
            table_title.appendChild(this_td); 
        }

        // append 功能
        var function_td = document.createElement("td");
        var text = document.createTextNode('功能');
        function_td.appendChild(text);
        table_title.appendChild(function_td); 

        $('.record_table').append(table_title);

        
        // append rows
        for (let i = 0; i < response.rows.length; i++) {
          let tmp = response.rows[i];
          let tmp_td;
          let tmp_value;
          for (let j = 0; j < Object.keys(map_dict).length; j++){
            tmp_value = tmp[Object.keys(map_dict)[j]];
            // 日期
            // 經緯度
            // 數量
            if (tmp_value == null){
              tmp_td += `<td class="row-${Object.keys(map_dict)[j]}" style="display: none"></td>`
            } else {
              tmp_td += `<td class="row-${Object.keys(map_dict)[j]}" style="display: none">${tmp_value}</td>`
            }
          }
          if (record_type == 'occ'){
            let url_mask = "{% url 'occurrence_detail' 12345 %}".replace(/12345/, tmp.id.toString());
            tmp_td += `<td><a href=${url_mask} class="more" target="_blank">查看</a></td>`
          }else{
            let url_mask = "{% url 'collection_detail' 12345 %}".replace(/12345/, tmp.id.toString());
            tmp_td += `<td><a href=${url_mask} class="more" target="_blank">查看</a></td>`
          }
          $('.record_table').append(
            `<tr>${tmp_td}</tr>`)
        }
        
        // 判斷是從分頁或卡片點選
        if ((from == 'card') || ( $(`.${record_type}-choice input:checked`).length==0 )){ //如果都沒有選的話用預設值
          // uncheck all first
          $(`input[id^="${record_type}-"]`).prop('checked',false)
          // show selected columns
          for (let i = 0; i < response.selected_col.length; i++) {
            $(`.row-${response.selected_col[i]}`).show();
            $(`#${record_type}-${response.selected_col[i]}`).prop('checked',true);}
            clickToAnchor('#records')
        } else {
          sendSelected(record_type)
        }

        // disable checkebox for key field
        let selected_key = Object.keys(map_dict).find(a => map_dict[a] === key)
        window.selected_key = selected_key
        $(`#${record_type}-${selected_key}`).prop('disabled',true);
        $(`#${record_type}-${selected_key}`).prop('checked',true);

        // append pagination
        if (response.total_page > 1){  // 判斷是否有下一頁，有才加分頁按鈕
          $('.result_table').after(
            `<div class="page_number">
              <a href="javascript:;" class="pre">
                <span></span>
              </a>
              <a href="javascript:;" class="next">
                <span></span>
              </a>
            </div>`)}		
        
        let html = ''
        for (let i = 0; i < response.page_list.length; i++) {
          if (response.page_list[i] == response.current_page){
            html += `<a href="javascript:;" onclick="getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.page_list[i]}, 'page', false)" class="num now">${response.page_list[i]}</a>  `;
          } else {
            html += `<a href="javascript:;" onclick="getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.page_list[i]}, 'page', false)" class="num">${response.page_list[i]}</a>  `
          }
        }
        $('.pre').after(html)

        // 如果有上一頁，改掉pre的onclick
        if ((response.current_page - 1) > 0 ){
          $('.pre').attr('onclick',`getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.current_page - 1}, 'page', false)`);
        }
        // 如果有下一頁，改掉next的onclick
        if (response.current_page < response.total_page){
          $('.next').attr('onclick',`getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.current_page + 1}, 'page', false)`);
        }

        // 如果有前面的page list, 加上...
        if (response.current_page > 5){
          $('.pre').after(`<a href="javascript:;" style="border: 0" class="num" onclick="getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.current_page -5 }, 'page', false)">...</a> `)
        }
        // 如果有後面的page list, 加上...
        if (response.page_list[response.page_list.length - 1] < response.total_page){
          if (response.current_page +5 > response.total_page){
            $('.next').before(`<a href="javascript:;" style="border: 0" class="num" onclick="getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.total_page}, 'page', false)">...</a> `)
          } else {
            $('.next').before(`<a href="javascript:;" style="border: 0" class="num" onclick="getRecords('${record_type}','${key}','${value}','${scientific_name}','${limit}',${response.current_page +5}, 'page', false)">...</a>`)
          }
        }
      })
      .fail(function( xhr, status, errorThrown ) {
        if (xhr.status==504){
          alert('要求連線逾時')
        } else {
          alert('發生未知錯誤！請聯絡管理員')
        }
        console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
      })

    }

  function focusCards(record_type,key, go_back){
    if ((!go_back)&& ('URLSearchParams' in window)) {
      var searchParams = new URLSearchParams(window.location.search)

      params.forEach(function(item, index, array) {
          searchParams.delete(item)
      });

      searchParams.set("record_type", record_type);
      searchParams.set("key", key);
      searchParams.set("focus_card", true);

      var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
      history.pushState(null, '', newRelativePathQuery);

    }

    //先移除掉原本的
    $('.item_list li').removeClass('now')
    $('.second_menu a').removeClass('now')
    //加上現在的
    $(`.li-item_${record_type}`).addClass('now')
    $(`#facet_${record_type}_${key}`).addClass('now')


    // 如果focus已存在則不呼叫ajax，但顯示出來
    $('.record_title').remove()
    $('.result_inf_top').remove()
    $('.result_table').remove()
    $('.page_number').remove()

    if (! $(`.item_${record_type}_${key}`).length){
      $.ajax({
          url: "{% url 'get_focus_cards' %}",
          data: { record_type: record_type,
                  keyword: '{{ keyword }}',
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  key: key },
          type: 'POST',
          dataType : 'json',
      })
      .done(function(response) {
        // append item area
        $('.rightbox_content').append(
          `<div class="item subitem ${response.item_class}" id="${response.item_class}_cards">
            <div class="titlebox_line">
              <div class="title">
                <p>${response.title} (${response.total_count})</p>
                <div class="line"></div>
              </div>
            </div>
            <ul class="card_list_1 ${response.card_class}">
            </ul>
          </div>`)
        // append cards
        for (let i = 0; i < response.data.length; i++) {
          let x = response.data[i];
          let html;
          if ( x.matched_col != '中文名' && x.matched_col != '學名'){
            $(`.${response.card_class}`).append( `
            <li onclick="getRecords('${record_type}','${x.matched_col}','${x.matched_value_ori}','${ x.name }','${ x.count }','1','card', false)">
              <div class="num">${x.count}</div>
              <div style="height: 20px; margin-bottom: 6px"></div>
              <p>中文名：${x.common_name_c}</p>
              <p>學名：${x.val}</p>
              <p>${ x.matched_col }：${x.matched_value}</p>
            </li>`)
          } else {
            $(`.${response.card_class}`).append( `
            <li onclick="getRecords('${record_type}','${x.matched_col }','${x.matched_value_ori }','${ x.name }','${ x.count }','1','card', false)">
              <div class="num">${x.count}</div>
              <div style="height: 20px; margin-bottom: 6px"></div>
              <p>中文名：${x.common_name_c}</p>
              <p>學名：${x.val}</p>
            </li>`)
          }
        }
        // append 更多結果 button if more than 9 cards
        if (response.has_more == true) {
          $(`.${response.card_class}`).after(`
            <a href="javascript:;" onclick="getMoreCards('.${response.card_class}','#${record_type}_${key}_offset','.${record_type}_${key}_more','true')" class="more ${record_type}_${key}_more"> 更多結果 </a>
            <input type="hidden" id="${record_type}_${key}_offset" value="9">`)
        }
        $(`.rightbox_content .${response.item_class}`).css({display: ''})
        $('.rightbox_content .item').not($(`.${response.item_class}`)).not($('.items')).css({display: 'none'})

        clickToAnchor(`#${response.item_class}_cards`)
      })
      .fail(function( xhr, status, errorThrown ) {
        if (xhr.status==504){
          alert('要求連線逾時')
        } else {
          alert('發生未知錯誤！請聯絡管理員')
        }
        console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
      })
    } else {
      $(`.rightbox_content .item_${record_type}_${key}`).css({display: ''})
      $('.rightbox_content .item').not($(`.item_${record_type}_${key}`)).not($('.items')).css({display: 'none'})
      clickToAnchor(`#item_${record_type}_${key}_cards`)
    }

  }

  function getMoreDocs(doc_type, offset_value, more_class, card_class){

    //console.log(doc_type, offset_value)
    let offset = $(offset_value).val()
    $.ajax({
        url: "{% url 'get_more_docs' %}",
        data: {
          doc_type: doc_type,
          keyword: '{{ keyword }}',
          csrfmiddlewaretoken: '{{ csrf_token }}',
          offset: offset,
        },
        type: 'POST',
        dataType : 'json',
    })
    .done(function(response) {
      (response.has_more==true) ? $(offset_value).val(Number(offset)+ 6 ) : $(more_class).css({display: 'none'})

      if (card_class == '.resource-card'){
        for (let i = 0; i < response.rows.length; i++) {
          let x = response.rows[i]
            $(card_class).append(`<li>
              <div class="item" style="height: 100%">
                <div class="cate_dbox">
                  <div class="cate pdf">${ x.extension }</div>
                  <div class="date">${ x.date }</div>
                </div>
                <a href="${ x.url }" class="title"> ${ x.title } </a>
                <a href="${ x.url }" download class="dow_btn"> </a>
              </div></li>`)
        }
      } else {
        for (let i = 0; i < response.rows.length; i++) {
          let x = response.rows[i]
            $(card_class).append(`
            <li>
              <div class="nstitle">${ x.title }</div>
              <p>${ x.content }</p>
            </li>`)
          }
      }
    })
    .fail(function( xhr, status, errorThrown ) {
      if (xhr.status==504){
        alert('要求連線逾時')
      } else {
        alert('發生未知錯誤！請聯絡管理員')
      }      
      console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
    })

  }

  function getMoreCards(card_class, offset_value, more_type, is_sub){
    let record_type;
    (card_class.startsWith('.occ')) ? record_type = 'occ' : record_type = 'col';
    let offset = $(offset_value).val()
    $.ajax({
        url: "{% url 'get_more_cards' %}",
        data: {
          card_class: card_class,
          keyword: '{{ keyword }}',
          csrfmiddlewaretoken: '{{ csrf_token }}',
          offset: offset,
          is_sub: is_sub,
        },
        type: 'POST',
        dataType : 'json',
    })
    .done(function(response) {
      (response.has_more==true) ? $(offset_value).val(Number(offset)+ 9 ) : $(more_type).css({display: 'none'})
      for (let i = 0; i < response.data.length; i++) {
        let x = response.data[i]
        if ( x.matched_col != '中文名' && x.matched_col != '學名'){
          $(card_class).append( `
          <li onclick="getRecords('${record_type}','${x.matched_col }','${x.matched_value_ori }','${ x.name }','${ x.count }','1','card', false)">
            <div class="num">${x.count}</div>
            <div style="height: 20px; margin-bottom: 6px"></div>
            <p>中文名：${x.common_name_c}</p>
            <p>學名：${x.val}</p>
            <p>${ x.matched_col }：${x.matched_value}</p>
          </li>` )
        } else {
          $(card_class).append( `
          <li onclick="getRecords('${record_type}','${x.matched_col }','${x.matched_value_ori }','${ x.name }','${ x.count }','1','card', false)">
            <div class="num">${x.count}</div>
            <div style="height: 20px; margin-bottom: 6px"></div>
            <p>中文名：${x.common_name_c}</p>
            <p>學名：${x.val}</p>
          </li>` )
        }
      }
    })
    .fail(function( xhr, status, errorThrown ) {
      if (xhr.status==504){
        alert('要求連線逾時')
      } else {
        alert('發生未知錯誤！請聯絡管理員')
      }      
      console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
    })
  }


  function resetAll(record_type){
    $(`${record_type} input:checkbox:not(:disabled)`).prop('checked', false);
  }

  function selectAll(record_type){
    $(`${record_type} input:checkbox`).prop('checked', true);
  }

  function popupField(record_type){
    $(`.${record_type}-choice`).css({display: ''})
    window.not_selected = $(`.${record_type}-choice input:not(:checked)`)
    window.selected = $(`.${record_type}-choice input:checked`)
  }

  $(".popbg .xx,.popbg .ovhy").click(function (e) {
    if ($(event.target).hasClass("xx") || $(event.target).hasClass("ovhy")) {
      window.not_selected.prop('checked', false);
      window.selected.prop('checked', true);
    }
  });

  function sendSelected(record_type){
    let selected_field = $(`.${record_type}-choice input:checked`)
    // 所有都先隱藏，除了對到的欄位
    $('td[class^="row-"]').hide();
    $(`.row-${window.selected_key}`).show();
    // 再顯示選擇的欄位
    for (let i = 0; i < selected_field.length; i++) {
      $(`td.row-${selected_field[i].id.split('-')[1]}`).show();
      //console.log(selected_field[i].id.split('-')[1])
    }
    $(".popbg").hide();
  }

  function downlaodData(search_str){
    $.ajax({
      url: "{% url 'send_download_request' %}",
      data: {
        search_str: search_str,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      type: 'POST',
      dataType : 'json',
  })
  .done(function(response) {
  })
  .fail(function( xhr, status, errorThrown ) {
    if (xhr.status==504){
      alert('要求連線逾時')
    } else {
      alert('發生未知錯誤！請聯絡管理員')
    }      
    console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
  })
  }

</script>
{% endblock script %}
