{% extends './base.html' %} {% load tags %} {% load static %}{% block body %}
<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <p>全站搜尋結果</p>
  </div>
</div>

<div class="nbn_title">
  <h2>全站搜尋結果</h2>
</div>
<div class="main_1240">
  <div class="searchbar_top">
    <div class="left_search">
      <div class="input_item">
        <form action="{% url 'search_full' %}" method="GET">
          <input type="text" name="keyword" placeholder="請輸入關鍵字" value="{{ keyword }}"/>
          <button>
            <img src="{% static 'image/search_icon.svg' %}" alt="" />
          </button>
        </form>
      </div>
      <!-- 
      <div style="display: flex">
        <p style="vertical-align: middle; line-height: 24px">搜尋"苦苓"="楝"</p> 
        <img style="padding-left: 5px; cursor: pointer" onclick='window.open("{% url "qa" %}")' src="{% static 'image/quesmark.svg' %}" />
      </div>
      --> 
    </div>
    <div class="rightbox_select">
      <p>想找到更精準的資料嗎？<br />試試條件搜尋</p>
      <div class="icon_two">
        <div class="item">
          <a href="#">
            <img src="{% static 'image/mapicon.svg' %}" alt="" />
            <span>物種出現紀錄查詢</span>
          </a>
          <a href="" class="hvmask">物種出現紀錄查詢</a>
          <div class="line"></div>
        </div>
        <div class="item">
          <a href="#">
            <img src="{% static 'image/libraryicon.svg' %}" alt="" />
            <span>⾃然史典藏查詢</span>
          </a>
          <a href="" class="hvmask">⾃然史典藏查詢</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two_cont_area">
    <div class="left_menu mbmove">
      <!--手機用的按鈕-->
      <div class="mb_fixed_btn">
        <p>類<br />別<br />篩<br />選</p>
        <span>關閉</span>
      </div>
      <div class="mb_scroll">
        <ul>
          <li>
            <a href="#" onclick="focusComponent('all')" class="big_link rd_click">
              <p>所有結果</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種出現紀錄
                <!-- <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a> -->
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="javascript:;" onclick="focusComponent('item_occ')">全部({{ occurrence.count }})</a>
              {% for i in occurrence.rows %} 
              <a href="javascript:;" onclick="focusCards('occ','{{ i.key }}')">{{ i.title }}({{ i.total_count }})</a>
              {% endfor %}
            </div>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                ⾃然史典藏
                <!-- <a href="{% url 'qa' %}" target="_blank" class="qusemark"></a> -->
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="javascript:;" onclick="focusComponent('item_col')">全部({{ collection.count }})</a>
              {% for i in collection.rows %} 
                <a href="javascript:;" onclick="focusCards('col','{{ i.key }}')">{{ i.title }}({{ i.total_count }})</a>
              {% endfor %}
            </div>
          </li>

          <li>
            <a href="#" onclick="focusComponent('item_news')" class="big_link rd_click">
              <p>新聞公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="#" onclick="focusComponent('item_event')" class="big_link rd_click">
              <p>活動公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="#" onclick="focusComponent('item_project')" class="big_link rd_click">
              <p>計畫徵求</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="#" onclick="focusComponent('item_resource')" class="big_link rd_click">
              <p>開放資料相關資源</p>
              <div class="arr"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightbox_content">
      <!----- 所有結果 內容欄 ----->



      <!----- 物種出現紀錄 ----->
      <div class="item item_occ">
        <div class="titlebox_line">
          <div class="title">
            <p>物種出現紀錄 ({{ occurrence.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if occurrence.count > 0 %}
          <ul class="card_list_1 occ-card">
            {% for i in occurrence.card %}
              <li>
                <div class="num">{{ i.count }}</div>
                <p>中文名：{{ i.common_name_c|highlight:keyword }}</p>
                <p>學名：{{ i.val|highlight:keyword }}</p>
                {% if i.matched_col != '中文名' and i.matched_col != '學名'  %}
                <p>{{ i.matched_col }}：{{ i.matched_value|highlight:keyword }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過9個才有更多按鈕-->
        {% if occurrence.more %}
        <a href="javascript:;" onclick="getMoreCards('.occ-card','#occ_offset','.occ_more','false')" class="more occ_more"> 更多結果 </a>
        <input type="hidden" id="occ_offset" value="9">
        {% endif %}
      </div>


      <!----- 自然史典藏 ----->
      <div class="item item_col">
        <div class="titlebox_line">
          <div class="title">
            <p>⾃然史典藏 ({{ collection.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if collection.count > 0 %}
          <ul class="card_list_1 col-card">
            {% for i in collection.card %}
            <li>
              <div class="num">{{ i.count }}</div>
              <p>中文名：{{ i.common_name_c|highlight:keyword }}</p>
              <p>學名：{{ i.val|highlight:keyword }}</p>
              {% if i.matched_col != '中文名' and i.matched_col != '學名'  %}
              <p>{{ i.matched_col }}：{{ i.matched_value|highlight:keyword }}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過9個才有更多按鈕-->
        {% if collection.more %}
        <a href="javascript:;" onclick="getMoreCards('.col-card','#col_offset','.col_more','false')" class="more col_more"> 更多結果 </a>
        <input type="hidden" id="col_offset" value="9">
        {% endif %}
      </div>


      <!-- 新聞公告 -->
      <div class="item item_news">
        <div class="titlebox_line">
          <div class="title">
            <p>新聞公告 ({{ news.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if news.count > 0 %}
        <ul class="card_list_2">
          {% for i in news.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過6個才有更多按鈕-->
        {% if news.count > 6 %}
        <a href="#" class="more" style="display: none"> 更多結果 </a>
        {% endif %}
      </div>


      <!-- 活動公告 -->
      <div class="item item_event">
        <div class="titlebox_line">
          <div class="title">
            <p>活動公告 ({{ event.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if event.count > 0 %}
        <ul class="card_list_2">
          {% for i in event.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %}
        <!--超過6個才有更多按鈕-->
        {% if event.count > 6 %}
        <a href="#" class="more" style="display: none"> 更多結果 </a>
        {% endif %}
      </div>


      <!----- 計畫徵求 ----->
      <div class="item item_project">
        <div class="titlebox_line">
          <div class="title">
            <p>計畫徵求 ({{ project.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        {% if project.count > 0 %}
        <ul class="card_list_2">
          {% for i in project.rows %}
          <li>
            <div class="nstitle">{{ i.title|highlight:keyword }}</div>
            <p>{{ i.content|highlight:keyword }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <!--無資時料顯示-->
        <div class="no_data">暫無資料</div>
        {% endif %} {% if project.count > 6 %}
        <!--超過6個才有更多按鈕-->
        <a href="#" class="more" style="display: none"> 更多結果 </a>
        {% endif %}
      </div>


      <!----- 開放資料相關資源 ----->
      <div class="item item_resource">
        <div class="titlebox_line">
          <div class="title">
            <p>開放資料相關資源 ({{ resource.count }})</p>
            <div class="line"></div>
          </div>
        </div>
        <ul class="edu_list three_set">
          {% if resource.count > 0 %} {% for i in resource.rows %}
          <li>
            <div class="item" style="height: 100%">
              <div class="cate_dbox">
                <div class="cate pdf">{{ i.extension }}</div>
                <div class="date">{{ i.date }}</div>
              </div>
              <a href="{% static i.url %}" class="title"> {{ i.title|highlight:keyword }} </a>
              <a href="{% static i.url %}" download class="dow_btn"> </a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="no_data" style="width: 100%">暫無資料</div>
        {% endif %} {% if resource.count > 6 %}
        <a href="#" class="more" style="display: none"> 更多結果 </a>
        {% endif %}
      </div>
    </div>


  </div>
</div>

{% endblock body %} {% block script %}

<script>
  $(".mb_fixed_btn").on("click", function (event) {
    $(".mbmove").toggleClass("open");
    $(this).toggleClass("now");
  });

  $(".rd_click").on("click", function (event) {
    $(".rd_click").closest("li").removeClass("now");
    $(".rd_click").closest("li").find(".second_menu").slideUp();
    $(this).closest("li").toggleClass("now");
    $(this).closest("li").find(".second_menu").slideToggle();
  });


  $(".second_menu a").on("click", function (event) {
    $(".second_menu a").removeClass("now");
    $(this).addClass("now")
  });

  function focusComponent(item_class){
    if (item_class == 'all'){
      $('.rightbox_content .item').css({display: ''})
      // 如果是再底下一個階層則不顯示
      $('.rightbox_content .subitem').css({display: 'none'})
    } else {
      $(`.rightbox_content .${item_class}`).css({display: ''})
      $('.rightbox_content .item').not($(`.${item_class}`)).css({display: 'none'})
    }
  }

  function focusCards(record_type,key){
    // 如果focus已存在則不呼叫ajax
    if (! $(`.item_${record_type}_${key}`).length){
      $.ajax({
          url: "{% url 'get_focus_cards' %}",
          data: { record_type: record_type,
                  keyword: '{{ keyword }}',
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  key: key },
          type: 'POST',
          dataType : 'json',
      })
      .done(function(response) {
        // append item area
        $('.rightbox_content').append(
          `<div class="item subitem ${response.item_class}">
            <div class="titlebox_line">
              <div class="title">
                <p>${response.title} (${response.total_count})</p>
                <div class="line"></div>
              </div>
            </div>
            <ul class="card_list_1 ${response.card_class}">
            </ul>
          </div>`)
        // append cards
        for (let i = 0; i < response.data.length; i++) {
          let x = response.data[i];
          let html;
          if ( x.matched_col != '中文名' && x.matched_col != '學名'){
            html = `
            <li>
              <div class="num">${x.count}</div>
              <p>中文名：${x.common_name_c}</p>
              <p>學名${x.val}</p>
              <p>${ x.matched_col }：${x.matched_value}</p>
            </li>`
          } else {
            html = `
            <li>
              <div class="num">${x.count}</div>
              <p>中文名：${x.common_name_c}</p>
              <p>學名${x.val}</p>
            </li>`
          }
          $(`.${response.card_class}`).append(
            html
          )}
        
        // append 更多結果 button if more than 9 cards
        if (response.has_more == true) {
          $(`.${response.card_class}`).after(`
            <a href="javascript:;" onclick="getMoreCards('.${response.card_class}','#${record_type}_${key}_offset','.${record_type}_${key}_more','true')" class="more ${record_type}_${key}_more"> 更多結果 </a>
            <input type="hidden" id="${record_type}_${key}_offset" value="9">`
          )
        }
          $(`.rightbox_content .${response.item_class}`).css({display: ''})
          $('.rightbox_content .item').not($(`.${response.item_class}`)).css({display: 'none'})
        
      })
      .fail(function( xhr, status, errorThrown ) {
        console.log( 'Error: ' + errorThrown + 'Status: ' + status + xhr)
      })
    }
  }

  function getMoreCards(card_class, offset_value, more_type, is_sub){
    let offset = $(offset_value).val()
    $.ajax({
        url: "{% url 'get_more_cards' %}",
        data: {
          card_class: card_class,
          keyword: '{{ keyword }}',
          csrfmiddlewaretoken: '{{ csrf_token }}',
          offset: offset,
          is_sub: is_sub,
        },
        type: 'POST',
        dataType : 'json',
    })
    .done(function(response) {
      console.log(card_class);
      (response.has_more==true) ? $(offset_value).val(Number(offset)+ 9 ) : $(more_type).css({display: 'none'})
      for (let i = 0; i < response.data.length; i++) {
        let x = response.data[i]
        if ( x.matched_col != '中文名' && x.matched_col != '學名'){
          $(card_class).append( `
          <li>
            <div class="num">${x.count}</div>
            <p>中文名：${x.common_name_c}</p>
            <p>學名${x.val}</p>
            <p>${ x.matched_col }：${x.matched_value}</p>
          </li>` )
        } else {
          $(card_class).append( `
          <li>
            <div class="num">${x.count}</div>
            <p>中文名：${x.common_name_c}</p>
            <p>學名${x.val}</p>
          </li>` )
        }
      }
    })
    .fail(function( xhr, status, errorThrown ) {
      console.log( 'Error: ' + errorThrown + 'Status: ' + status + xhr)
    })
  }


</script>

{% endblock script %}
