{% extends './base.html' %} {% load static %} {% block style %} {% endblock style %} {% block body %}

<div class="path">
  <div class="main_1240">
    <a href="#" class="home"></a> <span>></span>
    <p>全站搜尋結果</p>
    <span>></span>
    <p>物種出現紀錄</p>
    <span>></span>
    <p>結果列表</p>
  </div>
</div>

<div class="nbn_title">
  <h2>全站搜尋結果</h2>
</div>
<div class="main_1240">
  <div class="searchbar_top">
    <div class="left_search">
      <div class="input_item">
        <form action="{% url 'search_full' %}" method="GET">
          <input type="text" name="keyword" value="{{ keyword }}" placeholder="請輸入關鍵字" />
          <button>
            <img src="image/search_icon.svg" alt="" />
          </button>
        </form>
      </div>
      <p>搜尋"苦苓"="楝"</p>
    </div>
    <div class="rightbox_select">
      <p>想找到更精準的資料嗎?<br />試試條件搜尋</p>
      <div class="icon_two">
        <div class="item">
          <a href="#">
            <img src="{% static 'image/mapicon.svg' %}" alt="" />
            <span>物種出現紀錄查詢</span>
          </a>
          <a href="" class="hvmask">物種出現紀錄查詢</a>
          <div class="line"></div>
        </div>
        <div class="item">
          <a href="#">
            <img src="{% static 'image/libraryicon.svg' %}" alt="" />
            <span>⾃然史典藏查詢</span>
          </a>
          <a href="" class="hvmask">⾃然史典藏查詢</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two_cont_area">
    <div class="left_menu mbmove">
      <!--手機用的按鈕-->
      <div class="mb_fixed_btn">
        <p>類<br />別<br />篩<br />選</p>
        <span>關閉</span>
      </div>
      <div class="mb_scroll">
        <ul>
          <li>
            <a href="{% url 'search_full' %}?keyword={{ keyword }}" class="big_link rd_click">
              <p>所有結果</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                物種出現紀錄
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>
          <li>
            <div class="big_link">
              <div class="maskfor_click rd_click"></div>
              <p>
                ⾃然史典藏
                <a href="#" class="qusemark"></a>
              </p>
              <div class="arrd"></div>
            </div>
            <div class="second_menu">
              <a href="#">全部(14)</a>
              <a href="#" class="now">中文名(12)</a>
              <a href="#">記錄者(2)</a>
            </div>
          </li>

          <li>
            <a href="javascript:;{% url 'search_full_doc' 'news' %}" class="big_link rd_click">
              <p>新聞公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>活動公告</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>計畫徵求</p>
              <div class="arr"></div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="big_link rd_click">
              <p>開放資料相關資源</p>
              <div class="arr"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="rightbox_content">
      <div class="titlebox_line">
        <div class="title">
          <p>物種出現紀錄 > 結果列表</p>
          <div class="line"></div>
        </div>
      </div>

      <div class="result_inf_top">
        <button class="cate_btn">欄位選項 +</button>
        <p class="datenum">資料筆數 ： 2</p>
      </div>
      <div class="result_table">
        <table cellspacing="0" cellspacing="0" class="table_style1">
          <tr>
            <td>中文名</td>
            <td>學名</td>
            <td>記錄者</td>
            <td>典藏單位</td>
            <td>功能</td>
          </tr>
          <tr>
            <td>楝</td>
            <td>Melia azedarach</td>
            <td>苦苓</td>
            <td>TaiBIF</td>
            <td><a href="#" class="more">查看</a></td>
          </tr>
          <tr>
            <td>楝</td>
            <td>Melia azedarach</td>
            <td>苦苓</td>
            <td>TaiBIF</td>
            <td><a href="#" class="more">查看</a></td>
          </tr>
        </table>
      </div>

      <!--10筆換頁目，前位置給class>now-->
      <div class="page_number">
        <a href="#" class="num">1</a>
        <a href="#" class="pre"> <span></span>上一頁 </a>
        <a href="#" class="num">2</a>
        <a href="#" class="num now">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="next"> 下一頁<span></span> </a>
        <a href="#" class="num">5</a>
      </div>
    </div>
  </div>
</div>

{% endblock body %} {% block script %}
<script>
  $(".mb_fixed_btn").on("click", function (event) {
    $(".mbmove").toggleClass("open");
    $(this).toggleClass("now");
  });

  $(".rd_click").on("click", function (event) {
    $(".rd_click").closest("li").removeClass("now");
    $(".rd_click").closest("li").find(".second_menu").slideUp();
    $(this).closest("li").toggleClass("now");
    $(this).closest("li").find(".second_menu").slideToggle();
  });
</script>
{% endblock script %}
