{% extends './base.html' %} {% load static %} {% block body %}

<div class="path">
  <div class="main_1240">
    <a href="{% url 'index' %}" class="home"></a> <span>></span>
    <a href="{% url 'search_collection' %}">條件搜尋</a>
    <span>></span>
    <p>自然史典藏查詢</p>
  </div>
</div>

<div class="nbn_title">
  <h2>自然史典藏查詢</h2>
</div>

<div class="container_area">
  <div class="main_1240">
    <div class="sc_de_top">
      <div class="left_area">
        <div class="cont_padbox">
          <div class="gbg_title">典藏單位：林業試驗所</div>
          <h2>中⽂名：楝</h2>
          <h2>學名：Melia azedarach</h2>
          <div class="short">
            <p>典藏單位使⽤中⽂名：苦楝樹</p>
            <p>典藏單位使⽤學名：Melia azedarach</p>
          </div>
          <p class="code">Name code: 204445</p>
        </div>
      </div>
      <div class="right_area">
        <div class="imgbox">
          <!--435*260 OR 870*520 換圖只換background-image屬性-->
          <div class="imgarea" style="background-image: url(image/news_listdemo.jpg)"></div>
        </div>
      </div>
    </div>

    <div class="sc_de_main">
      <div class="left_area">
        <div class="whcont">
          <ul class="inforall">
            <li>
              <h3>館藏號：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>館授權狀況：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>分類層級：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>採集者：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>標本類型：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>採集號：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>採集⽇期：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>採集類型：</h3>
              <p>這是一段文字</p>
            </li>
            <li>
              <h3>採集地：</h3>
              <p>這是一段文字</p>
            </li>

            <li>
              <h3>資料集名稱：</h3>
              <p>這是一段文這是一段文字這是一段文字這是一段文字這是一段文字這是一段文字字</p>
            </li>
            <li>
              <h3>數量：</h3>
              <p>這是一段文字</p>
            </li>

            <li>
              <h3>資料集聯絡⼈：</h3>
              <p>這是一段文字</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="right_area">
        <div class="map_img">
          <div class="imgbox">
            <!--435*390 or 870*780 用background-image替換連結-->
            <div class="img"></div>
          </div>
        </div>
        <ul class="inforall">
          <li>
            <h3>經度：</h3>
            <p>121.546662</p>
          </li>
          <li>
            <h3>座標誤差：</h3>
            <p>121.546662</p>
          </li>
          <li>
            <h3>緯度：</h3>
            <p>121.546662</p>
          </li>

          <li>
            <h3>座標是否有模糊化：</h3>
            <p>這是一段文字示意</p>
          </li>
          <li>
            <h3>座標系統：</h3>
            <p>地理座標系統</p>
          </li>
          <li>
            <h3>模糊化程度：</h3>
            <p>121.546662</p>
          </li>
        </ul>
      </div>
    </div>

    <!--假設沒有上下則時給a一個class="gray_style"-->
    <div class="btn_three">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
          <g id="pre" transform="translate(111.483 17.054) rotate(180)">
            <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
              <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#3f5146" />
            </g>
          </g>
        </svg>

        <p>上一則</p>
      </a>
      <a href="#"><p>回列表</p></a>
      <a href="#">
        <p>下一則</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="9.187" height="17.053" viewBox="0 0 9.187 17.053">
          <g id="next" transform="translate(-102.297 0)">
            <g id="Group_17" data-name="Group 17" transform="translate(102.297 0)">
              <path id="Path_59" data-name="Path 59" d="M111.291,8.059,103.417.185a.656.656,0,0,0-.928.928L109.9,8.523l-7.411,7.411a.656.656,0,0,0,.928.928l7.874-7.874A.656.656,0,0,0,111.291,8.059Z" transform="translate(-102.297 0)" fill="#3f5146" />
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
{% endblock body %}
