{% extends 'base.html' %} 
{% load static %}
{% block title %}使用條款｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}" />
{% endblock style %}

{% block body %}
<div class="path"> 
<div class="main_1240"> 
		<a href="{% url 'index' %}" class="home"></a> <span>></span> <p>使用條款</p>
	</div>
</div>
<div class="minh_content">
	<div class="nbn_title">
		<h2>使用條款</h2>
	</div>
	<div class="main_1240"> 
		<div class="w_border10_box agree_arae marb_30">
			<div class="scrollbox">
				更新日期：2022/10/20
				<br>
				<br>
				1. 適用範圍
				<br>
				<br>

				1.1. 本入口網站由TBIA秘書處責付組織負責維運。本站得被搜尋近用的資料與素材，依貢獻夥伴單位提交時指定，或依合法第三方處轉存與本站公眾授權資料方式相容之授權或聲明方式發布，其資料與素材相關權利之歸屬，歸原貢獻夥伴單位或第三方權利人所有。
				<br>
				<br>
				1.2. 本頁面的著作權政策，適用於您於 TBIA 入口網站活動時，所涉及之著作授權與被授權關係，依夥伴成員帳號、非夥伴成員帳號，及個案申請會員帳號而適用不同的處理標準。
				<br>
				<br>
				1.3. 使用者繼續使用 TBIA 入口網站服務之作為，視為當事人本人或代表其夥伴單位，明示同意下述之使用條款，包括使用行為之拘束與技術規範之遵守，以及本使用條款之更新適用。
				<br>
				<br>

				2. 資料的授權與分享方式
				<br>
				<br>

				2.1. TBIA 入口網站刊載之所有資料，採公眾授權資料及非公眾授權資料兩種模式提供。相關資料之完整欄位版本，預設為非公眾授權資料，其簡化欄位版本，方採公眾授權資料模式發布，完整欄位之非公眾授權資料，於滿足必要條件後，得於後續個案情境被依法使用，而若使用者一併實踐欄位刪減、去識別化等工作後，亦得依其簡化欄位版本一致之公眾授權或聲明模式向後流通。
				<br>
				<br>
				2.2. 公眾授權資料指相關資料之標準欄位版本、簡化範圍的地理座標資訊，對不限定對象之公眾進行提供之資料，依貢獻夥伴單位提交時之指定，採下列四擇一之公眾授權或聲明方式提供使用，包括：
				<br>
				<br>
					<ol>
						<li>CC0(公眾領域貢獻宣告)：透過採用公眾領域貢獻宣告，貢獻者將於符合法律規定的最大範圍內，宣告拋棄其對著作擁有之權利，以使公眾能不受限制地自由使用該著作，這是使用幅度最寬鬆的素材提供方式。</li>
						<li>OGDL-Taiwan(政府資料開放授權條款)：本授權條款允許使用者不限目的、時間及地域、非專屬、不可撤回、免授權金進行利用，利用之方式包括重製、散布、公開傳輸、公開播送、公開口述、公開上映、公開演出、編輯、改作，包括但不限於開發各種產品或服務型態之衍生物，並得再轉授權他人為前列之利用。然利用時，應依資料提供者之指示，進行顯名聲明之標示。本條款與CC-BY-4.0相容，使用者後續以CC-BY-4.0規定之方式利用此等資料，視為符合政府資料開放授權條款之規定。</li>
						<li>CC-BY(CC授權-姓名標示)：本授權條款允許使用者重製、散布、傳輸以及修改著作(包括商業性利用)，惟使用時必須按照貢獻者所指定的方式，表彰其姓名。說明：使用者可以把資料及其相關素材用在任何地方，包括營利用途的使用，但不論任何方式的使用，都必須同步標示貢獻者的姓名、筆名，或其他指定的顯名資訊；使用者也可以使用貢獻者提供的資料及素材產出新的作品。</li>
						<li>CC-BY-NC(CC授權-姓名標示-非商業性)：本授權條款允許使用者重製、散布、傳輸以及修改著作，但不得為商業目的之使用。使用時必須按照貢獻者指定的方式表彰其姓名。</li>
					</ol>
				<br>
				2.3. 公眾授權資料依CC0、OGDL-Taiwan、CC-BY、或CC-BY-NC，使用者得於商業目的或非商業目的上，不限時間、地域，對所提供之資料進行重製、改作、編輯、公開傳輸，或為其他依法需取得著作授權方可行之的利用。此一授權或宣告行為不會嗣後撤回，使用者亦毋須取得書面或其他方式授權，相關資料與素材亦得依所擇定之授權或聲明方式，經重製、散布，轉至其他託管平台進行公開演播模式之使用，包括但不限於轉引或轉載至其他向公眾提供公開傳輸的網站平台提供利用。依OGDL-Taiwan、CC-BY、CC-BY-NC授權方式提供者，後續使用時必須註明貢獻者姓名及原始出處，採CC0聲明方式提供者，該公眾領域貢獻宣告並不要求任何顯名義務，然基於學術倫理及科研考據之立場，仍建議使用者於可行狀況，依資料原出處夥伴之指示，或採下列中英文擇一之格式，註解相關資料及素材之貢獻者姓名及原始出處：
				<br>
				<br>
					<ol>
						<li>[資料集或資料庫名稱]，[貢獻者顯名資訊(採集者、聯絡人、夥伴會員之機構或單位名稱)]@TBIA，[CC-BY / OGDL-Taiwan / CC-BY-NC / CC0]。</li>
						<li>[Title of the Dataset or Database], [Contributor’s Attribution(collector, Liaison and Affiliation Organization) @ TBIA, under [CC-BY / OGDL-Taiwan / CC-BY-NC / CC0].</li>
					</ol>
				<br>
				2.4. 本入口網站所採用之公眾授權條款及公眾領域貢獻宣告未指定版本，除非貢獻該等資料之夥伴單位或原合法第三方提供者，另作限定版本之其他指示。意即採前列之公眾授權或聲明方式提供使用時，使用者得自行選擇任何 Creative Commons 組織及中華民國政府發布之授權條款及貢獻宣告版本進行適用，以CC-BY為例，使用者得任擇CC-BY-3.0 TW或CC-BY-4.0授權條款進行利用，若未來CC授權條款或貢獻宣告版本再有更新，使用者亦得採行具同樣授權元素，更新的授權方式進行利用。
				<br>
				<br>
				2.5. 本網站對於CC非商業性元素之限制範圍，尊重資料或素材貢獻者及使用者之獨立判斷與自主解釋，並無任何擴大、限縮，或引導之解釋意向。然為避免疑義，除非貢獻該等資料之夥伴單位或原合法第三方提供者另作其他指示，未逾印刷、產製、發送整體成本之政府出版品或其也相類之刊物發表，即使因設置ISBN或其他出版編號而設有建議售價，然發送時僅就成本填補資費進行收取，或其電子格式係採無償免費方式供公眾下載時，視為非商業性之利用。另提醒非商業性元素於不同立場間，或存有寬嚴不一的認定標準與灰色地帶，倘發生司法爭議，本入口網站當主張法律上網路服務提供者之免責地位，不參與任何一方發動之實體訴訟程序。
				<br>
				<br>
				2.6. 非公眾授權資料指相關資料之完整欄位版本、詳細範圍的地理座標資訊，對限定對象之會員進行提供之資料，其得供夥伴會員帳號進行整體搜尋及瀏覽，或得供個案申請式的非夥伴會員帳號，進行標題搜尋及檢索後提出個案接近使用之申請。該等資料之後續利用條件為：
				<br>
				<br>
					<ol>
						<li>簽訂保密協議：先行完備TBIA保密協議之簽訂方得開啟權限。</li>
						<li>基於公共利益或學術研究之目的：非公眾授權資料之處理或利用，應基於公共利益為統計或學術研究之目的。</li>
						<li>善盡去識別化工作並自負相關責任：該等資料之後續個案利用及揭露，應依法律規定而行，並建議須經使用者進行資料去識別化與濾除處理，以達無從識別敏感物種精細地理資訊，以避免對其保育工作產生負面影響之程度。後續利用若有違法與失當之處，資料之處理與利用者，應自負相關法律責任。</li>
					</ol>
				<br>
				2.7. 非公眾授權資料得經使用者實踐欄位刪減、去識別化等工作後，續採與其簡化欄位版本一致之公眾授權或聲明模式向後流通，前列之轉引規範、顯名標示建議、授權條款版本更新，以及非商業性範圍之解釋一併於此適用。此時經處理再向外流通之整理資料，得將處理者列改作人，然整理狀態及後續利用若有違法與失當之處，資料之處理與利用者，亦應擔負相關法律責任。
				<br>
				<br>
				2.8. 非公眾授權資料得供夥伴會員帳號進行整體搜尋及瀏覽，或得供個案申請式的非夥伴會員帳號，進行標題搜尋及檢索後提出個案接近使用之申請。其後應由夥伴會員或非夥伴個案申請會員自負其責後，進行前述刪減欄位後的適法應用，以強化敏感物種生態資訊之保護目的。處理者就相關資料處理自負其責時，後續使用毋須另行洽商該資料集原始歸屬夥伴單位之額外同意。
				<br>
				<br>

				3. 相關事項說明
				<br>
				<br>

				3.1. 除依照本入口網站主動提供或應申請提供之資料介接 API 及其使用規範者外，本網站相關服務僅提供自然人使用，禁止其他各種型態或頻率之機械自動化操作。當流量監控管理程式，發現網站系統資源有不正常耗用，並可合理推估其為機械自動化資料或素材捉取行為所致時，本入口網站將可能中斷或終止對該帳號之後續使用服務。
				<br>
				<br>
				3.2. 本入口網站對提交之貢獻資料與素材，不負永久露出的維護責任；除此之外，當公眾授權資料涉及生物多樣性敏感資料及相近狀況，該資料與素材內含的物種資訊可能造成物種受害，或其他相關環境損害時，本入口網站得要求貢獻夥伴單位對該公眾授權資料進行適當遮蔽之後再次上傳，或由本平台協助進行遮蔽濾除，或將其改置分類至非公眾授權資料項下。
				<br>
				<br>
				3.3. 本入口網站於部分頁面提供資料及素材下載功能。關於下載資料與素材之保存，入口網站會力求完整維護，惟資料與素材可能因其他因素，如天災、系統錯誤等，而滅失，入口網站與維運單位不對前述滅失負任何責任。為避免前述滅失，貢獻夥伴單位及使用者應自行保留得供下載資料與素材之複本。
				<br>
				<br>
				3.4. 本入口網站不會對使用者上傳的貢獻資料與素材進行個案監督，然若該等資料或素材事後為第三方提報檢舉為不合法或不適當，入口網站得於合理通知原貢獻夥伴單位之後，移除相關爭議資料或素材，然當爭議資料與素材涉及侵害他人權利、違反法令、或有公然污辱、謾罵等人身攻擊等不適當資訊嵌入的狀況，本網站得不待通知原貢獻單位，立即移除相關資料與素材。
				<br>
				<br>
				3.5. TBIA 入口網站授權範圍，僅及於提供資料之著作權及其相關權利保護之範圍，不及於其他智慧財產權利，包括但不限於專利、商標、及機關標誌或商號圖示之提供。
				<br>
				<br>
				3.6. 使用 TBIA 網站提供之各項資料與素材，不論其受著作權利保護與否，使用者不得惡意變更其相關資訊，若編輯、改作後所展示之資訊與原不符，而造成TBIA貢獻夥伴單位或他人法定權益之損害，使用者須自負民事、刑事上之法律責任。
				<br>
				<br>
				3.7. 本入口網站並不擔保所提供資料與素材之正確性及合用性，包括公眾授權資料及非公眾授權資料。除此之外，使用者利用入口網站無償提供之公眾授權資料，受有損害或損失，或致第三人受有損害或損失，除法令另有規定外，本網站及其維運單位，依所準據之公眾授權條款或公眾領域貢獻宣告之免責聲明，主張法律容許限度下最高的免責範圍，不負任何賠償或補償之責。
				<br>
				<br>

			</div>
		</div>
		<!--
		<div class="agreebox">
			<input type="checkbox">
			<p>我已閱讀並同意以上協議</p>
		</div>
		<div class="bt_center">
			<button>確認送出</button>
		</div>-->
	</div>
</div>
{% endblock body %}