.box-radius-10px {
    border-bottom-right-radius: 10px
}

.visible {
    visibility: visible
}

.from_area {
    height: 100%
}

.message_list li:hover {
    cursor: pointer;
    background: #EEF4EF
}

.popbg .wbox_center .map_img .img {
    background: none;
}

.search_condition_are .secboxtop2 .rightbox .map_img .img {
    background: none;
}

.sc_de_main .right_area .map_img .img {
    background: none;
}

.header .right_btn2 .member_login .member_slimenu ul li:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header .right_btn2 .member_login .member_slimenu ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.checka {
    cursor: pointer;
    text-decoration: underline;

}

.checka:hover {
    color: grey !important
}

.footer .copy a {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin: 0 5px
}


.message_list li, .ringbox .titlebox p {
    cursor: default
}


.header .right_btn2 .ringbox .messagebox .wbox .message_list li .txtcont p {
    height: auto;
    max-height: 36px;
}


.header .right_btn2 .ringbox .messagebox .wbox .titlebox button:hover {
    color: #E2A460;
}

/*
  .popbg .loginbox .right_cont .checkbox_area {
    margin-bottom: 20px;
}

.popbg .wbox_center {

    max-height: 650px;
}*/

::placeholder {
    color: #707070;
}

.input_item select {
    -webkit-appearance: menulist-button;
    color: black !important;
}

.input_item select:invalid {
    color: #707070 !important;
}


input {
    color: black !important;
}

.section_1 .content_area .input_set button svg {
    height: 39px
}

.section_1 .content_area .input_set button {
    margin-top: -20px
}


.header .right_btn2 .member_login:hover p {
    color: #76A578;
}

.footer .right_inf .addpart {
    width: 190px;
}

@media only screen and (max-width: 767px) {
    .footer .right_inf .addpart {
        width: 100%;
    }
}

.loginbox .right_cont {
    z-index: 2;
}

.popbg .xx {
    z-index: 3;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex-jc-sb {
    display: flex; 
    justify-content: space-between;
}

.d-flex-ai-c-jc-c {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.d-flex-jc-fe {
    display: flex; 
    justify-content: flex-end
}

.d-flex-ai-c {
    display: flex; 
    align-items: center;
}

.pointer {
    cursor: pointer
}

.pt-none {
    pointer-events: none;
}

.w-5p {
    width: 5% !important;
}

.w-8p {
    width: 8% !important;
}

.w-10p {
    width: 10% !important;
}

.w-12p {
    width: 12% !important;
}

.w-15p {
    width: 15% !important;
}

.w-18p {
    width: 18% !important;
}

.w-20p {
    width: 20% !important;
}

.w-25p {
    width: 25% !important;
}

.w-85p {
    width: 85% !important;
}

.w-95p {
    width: 95% !important;
}

.w-100p {
    width: 100% !important;
}

.h-100p {
    height: 100% !important;
}


.popbg .wbox_center .from_area .select_twobox .vsb-main {
    width: calc(50% - 10px);

}

@media only screen and (max-width: 767px) {
    .popbg .wbox_center .from_area .select_twobox .vsb-main {
        width: 100%;
    }
}

.popbg .wbox_center .from_area .select_twobox .vsb-main button {
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    font-size: 16px
}

@media only screen and (max-width: 767px) {
    .popbg .wbox_center .from_area .select_twobox .vsb-main button {
        /*font-size: 14px;*/
        height: 40px;
        width: 100%;
        margin-bottom: 10px
    }
}


.black {
    color: black !important;
}

.color-707070 {
    color: #707070 !important;
}

/*
.vsb-main {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 0px 10px;
  color: #555
}*/
.vsb-main {
    width: 100%;

}

.vsb-menu {
    width: 100%;
    border: 1px solid #ddd !important;

}


.vsb-main button {
    width: 100% !important;
    border-radius: 5px !important;
    border: 1px solid #ddd !important;
    height: 50px !important;
    font-size: 16px !important;
    padding: 0px 10px !important;
    color: #707070 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/static/image/ardownselect.svg") right 15px top 20px no-repeat !important;
}


.vsb-menu .multi li:not(.grouped-option)::before {
    border: 1px solid #ddd !important;
    margin-top: 3% !important;
}

.vsb-menu .multi li:not(.grouped-option).active::before {
    background: url("/static/image/checkmark.svg") no-repeat center;
    background-color: #76A578;
    content: "";
    display: inline-block;
    font-size: inherit;
    float: left;
    font-weight: bold;
    margin-left: -22px;
    margin-right: 2px;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
    margin-top: 0px;
    color: black;
    background-size: 70%;
}

/*
  background: url("/static/image/checkmark.svg") no-repeat center;
  background-color: #76A578;
  color: #FFF
}*/

.black {
    color: black !important;
}

.color-707070 {
    color: #707070 !important;
}

.vsb-menu .multi {
    max-width: 100% !important
}

.vsb-menu .multi li, .vsb-menu li {
    white-space: normal
}

.vsb-main button span.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: block;
    overflow: hidden
}


#not_show_tech {
    color: #FFF;
    min-width: 90px;
    height: 30px;
    text-align: center;
    padding: 0px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #C65454;
}

#not_show_tech:hover {
    opacity: 0.7;
}