a {
    cursor: pointer;
}

.box-radius-10px {
    border-bottom-right-radius: 10px
}

.visible {
    visibility: visible
}

.from_area {
    height: 100%
}

.message_list li:hover {
    cursor: pointer;
    background: #EEF4EF
}

/* .popbg .wbox_center .map_img .img {
    background: none;
}

.search_condition_are .secboxtop2 .rightbox .map_img .img {
    background: none;
}

.sc_de_main .right_area .map_img .img {
    background: none;
} */

.map_img .img {
    background: none ;
}

.leaflet-pane {
    z-index: 58 !important;
}

.leaflet-zoom-box { z-index:  58 !important; }
.leaflet-pane         { z-index:  58 !important; }

.leaflet-tile-pane    { z-index:  58 !important; }
.leaflet-overlay-pane { z-index:  58 !important; }
.leaflet-shadow-pane  { z-index:  58 !important; }
.leaflet-marker-pane  { z-index:  58 !important; }
.leaflet-tooltip-pane   { z-index:  58 !important; }
.leaflet-popup-pane   { z-index:  58 !important; }

.leaflet-map-pane canvas { z-index:  58 !important; }
.leaflet-map-pane svg    { z-index:  58 !important; }

.leaflet-control { z-index:  58 !important; }
.leaflet-top,
.leaflet-bottom {  z-index:  58 !important; }

.leaflet-container:after { z-index:  58 !important; }

.header .right_btn2 .member_login .member_slimenu ul li:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header .right_btn2 .member_login .member_slimenu ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.checka {
    cursor: pointer;
    text-decoration: underline;

}

.checka:hover {
    color: grey !important
}

.footer .copy a {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin: 0 5px
}


.message_list li, .ringbox .titlebox p {
    cursor: default
}


.header .right_btn2 .ringbox .messagebox .wbox .message_list li .txtcont p {
    height: auto;
    max-height: 36px;
}


.header .right_btn2 .ringbox .messagebox .wbox .titlebox button:hover {
    color: #E2A460;
}

/*
  .popbg .loginbox .right_cont .checkbox_area {
    margin-bottom: 20px;
}

.popbg .wbox_center {

    max-height: 650px;
}*/

::placeholder {
    color: #707070;
}

.input_item select {
    -webkit-appearance: menulist-button;
    color: black !important;
}

.input_item select:invalid {
    color: #707070 !important;
}


input {
    color: black !important;
}

.section_1 .content_area .input_set button svg {
    height: 39px
}

.section_1 .content_area .input_set button {
    margin-top: -20px
}


.header .right_btn2 .member_login:hover p {
    color: #76A578;
}

.footer .right_inf .addpart {
    width: 190px;
}

@media only screen and (max-width: 767px) {
    .footer .right_inf .addpart {
        width: 100%;
    }
}

.loginbox .right_cont {
    z-index: 2;
}

.popbg .xx {
    z-index: 3;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex
}

.d-flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

.d-flex-ai-c-jc-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-jc-fe {
    display: flex;
    justify-content: flex-end
}

.d-flex-ai-c {
    display: flex;
    align-items: center;
}


.pointer {
    cursor: pointer
}

.pt-none {
    pointer-events: none;
}

.w-5p {
    width: 5% !important;
}

.w-8p {
    width: 8% !important;
}

.w-10p {
    width: 10% !important;
}

.w-12p {
    width: 12% !important;
}

.w-15p {
    width: 15% !important;
}

.w-18p {
    width: 18% !important;
}

.w-20p {
    width: 20% !important;
}


.w-25p {
    width: 25% !important;
}

.w-30p {
    width: 30% !important;
}

.w-40p {
    width: 40% !important;
}

.w-45p {
    width: 45% !important;
}

.w-48p {
    width: 48% !important;
}

.w-50p {
    width: 50% !important;
}

.w-70p {
    width: 70% !important;
}

.w-80p {
    width: 80% !important;
}

.w-85p {
    width: 85% !important;
}

.w-95p {
    width: 95% !important;
}

.w-100p {
    width: 100% !important;
}

.h-100p {
    height: 100% !important;
}


.popbg .wbox_center .from_area .select_twobox .vsb-main {
    width: calc(50% - 10px);

}

@media only screen and (max-width: 767px) {
    .popbg .wbox_center .from_area .select_twobox .vsb-main {
        width: 100%;
    }
}

.popbg .wbox_center .from_area .select_twobox .vsb-main button {
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    font-size: 16px
}

@media only screen and (max-width: 767px) {
    .popbg .wbox_center .from_area .select_twobox .vsb-main button {
        /*font-size: 14px;*/
        height: 40px;
        width: 100%;
        margin-bottom: 10px
    }
}


.black {
    color: black !important;
}

.color-707070 {
    color: #707070 !important;
}

/*
.vsb-main {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 0px 10px;
  color: #555
}*/
.vsb-main {
    width: 100%;

}

.vsb-menu {
    width: 100%;
    border: 1px solid #ddd !important;

}


.vsb-main button {
    width: 100% !important;
    border-radius: 5px !important;
    border: 1px solid #ddd !important;
    height: 50px !important;
    font-size: 16px !important;
    padding: 0px 10px !important;
    color: #707070 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/static/image/ardownselect.svg") right 15px top 20px no-repeat !important;
}


.vsb-menu .multi li:not(.grouped-option)::before {
    border: 1px solid #ddd !important;
    margin-top: 0.5em !important;
}

.vsb-menu .multi li:not(.grouped-option).active::before {
    background: url("/static/image/checkmark.svg") no-repeat center;
    background-color: #76A578;
    content: "";
    display: inline-block;
    font-size: inherit;
    float: left;
    font-weight: bold;
    margin-left: -22px;
    margin-right: 2px;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
    margin-top: 0px;
    color: black;
    background-size: 70%;
}

/*
  background: url("/static/image/checkmark.svg") no-repeat center;
  background-color: #76A578;
  color: #FFF
}*/

.black {
    color: black !important;
}

.color-707070 {
    color: #707070 !important;
}

.vsb-menu .multi {
    max-width: 100% !important
}

.vsb-menu .multi li, .vsb-menu li {
    white-space: normal
}

.vsb-main button span.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: block;
    overflow: hidden
}


.mt-10px {
    margin-top: 10px;
}


/* 後台表格內按鈕 */
.manager_btn {
    color: #FFF;
    background: #76A578;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    padding: 5px 0;
    border-radius: 20px;
    font-size: 16px;
    min-width: 60px;
    display: block;
    margin: auto;
}

.manager_btn:hover {
    color: #FFF;
    background: #E2A460;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
}

/* 後台其他動作按鈕 */

.read_btn {
    color: #FFF;
    background: #76A578;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 130px;
}

.read_btn:hover {
    background: #EAD065;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
}


.icon-size {
    height: 14px;
    width: 14px;
}


.icon-size-20 {
    height: 20px;
    width: 20px;
}

.icon-size-50 {
    height: 50px;
    width: auto;
}

.icon-size-11 {
    height: 11px;
    width: 11px;
}

.partner_area .leftbox p {
    text-align: justify;
}


.mb-5 {
    margin-bottom: 5px !important;
}

.g-recaptcha-style {
    margin-bottom: 30px;
}

.mb-30px {
    margin-bottom: 30px !important;
}


form#search_full_form_top {
    width: 100%;
}

/* 網站捷徑 */
.shortcut-menu-wrapper {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1030;
    text-align: center;
    background-color: #F5F5F5	;
    border: #dad3cd solid 1px;
        /* background-image: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#faf9f9),
            to(#eee8e6));
    /* border: #ddd 1px; */
    width: 100px;
    border-radius: 10px;
    opacity: 0.9;
}

.shortcut-menu-wrapper .btn {
    width: 120px;
    border: 0.25rem;
    background: transparent;
    /* background-image: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#faf9f9),
            to(#eee8e6));
    background-image: -o-linear-gradient(top, #faf9f9 0%, #eee8e6 100%);
    background-image: linear-gradient(180deg, #faf9f9 0%, #eee8e6 100%); */
    /* border: 1px solid #dad3cd; */
    color: #000;
    font-size: 14px;
}

.shortcut-menu-wrapper .stamp {
    width: 60px;
    height: auto;
    display: block;
    margin: 0.5rem auto;
}

.shortcut-menu-wrapper .dropdown-menu {
    width: 120px;
    min-width: 120px;
    padding: 0;
    background-color: #faf9f9;
    margin-bottom: -1px;
    border: 1px solid #dad3cd;
    border-bottom: 0;
}

.shortcut-menu-wrapper .dropdown-item {
    padding: 0.25rem 0;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #e4dfdb;
}

.shortcut-menu-wrapper .dropdown-item:hover {
    color: #4a3e3a;
    background-color: #fff;
}

.shortcut-menu-wrapper:hover .dropdown-menu {
    display: block;
}

@media (max-width: 767.98px) {
    .shortcut-menu-wrapper {
        /* right: 0rem; */
        bottom: 1rem;
    }

    .shortcut-menu-wrapper .btn {
        width: 90px;
        /* padding: 0.35rem; */
    }

    .shortcut-menu-wrapper .stamp {
        width: 48px;
        margin: 0.125rem auto;
    }

    .shortcut-menu-wrapper .dropdown-menu {
        width: 90px;
        min-width: 90px;
    }

    .shortcut-menu-wrapper .dropdown-menu .dropdown-item {
        padding: 0.5rem;
        white-space: pre-wrap;
    }
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: .125rem;
}

.dropup .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after {
    margin-left: 0;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

@media (min-width: 576px) {
    .dropdown-menu-sm-left {
        right: auto;
        left: 0;
    }

    .dropdown-menu-sm-right {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) {
    .dropdown-menu-md-left {
        right: auto;
        left: 0;
    }

    .dropdown-menu-md-right {
        right: 0;
        left: auto;
    }
}

@media (min-width: 992px) {
    .dropdown-menu-lg-left {
        right: auto;
        left: 0;
    }

    .dropdown-menu-lg-right {
        right: 0;
        left: auto;
    }
}

@media (min-width: 1200px) {
    .dropdown-menu-xl-left {
        right: auto;
        left: 0;
    }

    .dropdown-menu-xl-right {
        right: 0;
        left: auto;
    }
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}


.dropdown-menu.show {
    display: block;
}



div.count-100000 {
    border: none;
    background: #bd0026;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-50000 {
    border: none;
    background: #e31a1c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-10000 {
    border: none;
    background: #fc4e2a;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-5000 {
    border: none;
    background: #fd8d3c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-1000 {
    border: none;
    background: #feb24c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-100 {
    border: none;
    background: #fed976;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-10 {
    border: none;
    background: #ffeda0;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-0 {
    border: none;
    background: #ffffcc;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}

.legend-fs-13px {
    font-size: 13px;
    line-height: 25px;
}
/* map legend

div.count-1000 {
    border: none;
    background: #C50101;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-500 {
    border: none;
    background: #D71414;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-200 {
    border: none;
    background: #E72424;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-100 {
    border: none;
    background: #F73535;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-50 {
    border: none;
    background: #FB4C4C;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-20 {
    border: none;
    background: #FB6262;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-10 {
    border: none;
    background: #FC7E7E;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-0 {
    border: none;
    background: #FD9696;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
} */


.legend-fs-15px {
    line-height: 25px;
    font-size: 15px;
}

.min-150px {
    min-width: 150px !important;
}

.min-300px {
    min-width: 300px !important;
}

/* 後台刪除按鈕 */
.del_btn {

    color: #3F5146  !important;
    background: #FFF;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    padding: 3px 0;
    border-radius: 20px;
    font-size: 16px;
    width: 60px;
    border: 1px solid #3F5146;
    display: block;
    margin: auto;
}

.del_btn:hover {
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    background: #3F5146;
    color: #FFF !important
}




.clear_btn {
    color: #3F5146;
    background: #FFF;
    border: 1px solid #3F5146;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    font-size: 19px;
    display: block;
    margin: 0 10px
}

@media only screen and (min-width: 1000px) {
    .clear_btn:hover {
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s;
        background: #3F5146;
        color: #FFF;
    }
}




.ml-5px {
    margin-left: 5px;
}


.qmark-dark {
    display: inline-block;
    background: url("/static/image/quesmarkw.svg") no-repeat center;
    width: 17px;
    height: 17px;
    background-size: contain;
    margin-left: 3px;
}

.qmark-dark:hover {
    background: url("/static/image/quesmark.svg") no-repeat center;
    background-size: contain;

}


.qmark-small {
    display: inline-block;
    background: url("/static/image/quesmark.svg") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.qmark-small:hover {
    background: url("/static/image/quesmarkg.svg") no-repeat center;
    background-size: contain;
}


.qmark-small-flex {
    line-height: 22px;
    display: flex;
}


.qmark-small-dark {
    display: inline-block;
    background: url("/static/image/quesmarkw.svg") no-repeat center;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.qmark-small-dark:hover {
    background: url("/static/image/quesmark.svg") no-repeat center;
    background-size: contain;

}
