.minh_content {
    min-height: calc(100% - 340px);
}

ul {
    list-style: none;
}

.resgister-list li {
    padding: 10px;
}

.input_item .noticbox {
    display: flex;
    align-items: center;
    margin-top: 5px
}


.input_item .noticbox .in1 {
    background: #C65454;
    color: #FFF;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    margin-right: 5px
}

.input_item .noticbox p {
    font-size: 14px;
    color: #C65454
}

