.arr-left {
    left: -30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
    z-index: 5;
    width: 30px;
    height: 60px;
    background: url("/static/image/pic-arrl.svg") top left no-repeat;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s
}

@media only screen and (min-width: 1000px) {
    .arr-left:hover {
        background: url("/static/image/pic-arrls.svg") top left no-repeat;
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s
    }
}

.arr-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 0;
    z-index: 5;
    width: 30px;
    height: 60px;
    background: url("/static/image/pic-arrr.svg") top left no-repeat;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s
}

@media only screen and (min-width: 1000px) {
    .arr-right:hover {
        background: url("/static/image/pic-arrrs.svg") top left no-repeat;
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s
    }
}

.sc_de_main .inforall li p {
    word-wrap: break-word;
}

.color-silver {
    color: silver
}

.imgbox {
    height: 390px !important;
    width: auto !important;
}

.yellow-btn {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    display: flex;
    background: #EAD065;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    align-items: center;
}

.picbox {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
}

.bottom-right {
    position: absolute;
    bottom: 5%;
    width: 100%;
    font-size: 16px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.popbg.taxon-pop .wbox_center.index_tech {
    min-height: 535px;
    height: 100%;
    max-height: 650px;
}

.popbg.taxon-pop .techbox {
max-width: 100%;

}

.popbg.taxon-pop .techbox .imgarea {
    width: auto;
    max-width: 100%;
    height: 100% ;
    border-radius: 10px;
}

.techbox.taxon-pic {
    height: 100% 
}


.sc_de_top .right_area .no-imgbox  {
    display : flex;
    align-items : center;
    justify-content: center;
    height: 100%
}


@media only screen and (max-width: 767px) {
    .sc_de_top .right_area {
        width: 100%;
        max-width: 100%;
    }
    .sc_de_top .right_area .no-imgbox {
        height: auto;
    }
}

.pres-flex {
    display: flex;
}