{% extends 'base.html' %}
{% block style %}
<style>

    .two_cont_area {
        margin-bottom: 50px
    }

   .search_btn {
        color: #FFF;
        background: #76A578;
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s;
        width: 15%;
        height: 35px;
        border-radius: 3px;
        font-size: 16px;
    }
    
    @media only screen and (min-width: 1000px) {
       .search_btn:hover {
            transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -ms-transition: all .3s;
            -webkit-transition: all .3s;
            background: #E2A460
        }
    }
    
    .edit-list {
        margin-left: 10px; 
        list-style: none;
    }

    .edit-list li {
        margin: 10px
    }

    .nohover {
        /*pointer-events: none;*/
        text-align: center
    }

    .dottt{
        width: 10px;
        height: 10px;
        border-radius:50%;
        background:#76A578;
        margin: auto 10px auto 0;
    }

    input {
        padding: 0px 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        width: 50%;
        font-size: 16px;
        height: 35px
        }

        @media only screen and (max-width: 767px) {
            input {
                width: 70%;
            }
        }

        select {
            border-radius: 5px;
            border: 1px solid #ddd;
            width: calc(50% - 10px);
            height: 35px;
            font-size: 16px
        
        }

        textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            width: 100%;
            height: 150px;
            font-size: 16px;
            resize: none
        }

        .main_1240 {
            min-height: calc(100% - 340px);
        }
        
    
        .noticbox {
            display: flex;
            align-items: center;
            margin-top: 5px
        }
        
        .noticbox .in1 {
            background: #C65454;
            color: #FFF;
            padding: 5px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 5px;
            margin-right: 5px
        }
        
        .noticbox p {
            font-size: 14px;
            color: #C65454
        }

        @media only screen and (max-width: 999px) {
            .mb_scroll {
                margin-top: 60px
            }
        }
        
</style>
{% endblock style %}
{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}
{% block body %}

<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> 單位後台</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_authenticated %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover now">
                        <a class="big_link rd_click ">
                            <p onclick="$('.rightbox_content').hide();$('.rightbox_content.dashboard').show()">系統管理</p> 
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            TBIA資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="javascript:;" onclick="">修改TBIA資訊</a>
                            <a href="javascript:;" onclick="">意見回饋紀錄</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="javascript:;" onclick="">消息發佈</a>
                            <a href="javascript:;" onclick="">最新消息審核狀態</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="big_link rd_click" data-type="download">
                            <p>教育資源管理</p>
                            <div class="arr"></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="big_link rd_click" data-type="download">
                            <p>全站搜尋推薦關鍵字設定</p>
                            <div class="arr"></div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="rightbox_content dashboard">
            <div class="item">
                <div style="display: flex; color: black">
                    <div class="dottt"></div>資料筆數
                </div>
                <figure class="highcharts-figure" style="height: 300px">
                    <div id="container" style="height: 100%"></div>
                </figure>
            </div>
            <div class="item">
                <div style="display: flex; color: black"><div class="dottt"></div>TaiCOL 學名對應狀況</div>
                <figure class="highcharts-figure" style="height: 300px">
                    <div id="container2" style="height: 100%"></div>
                </figure>
            </div>
        </div>


        <div class="rightbox_content info" style="display: none">
            <div class="item">
                <div style="display: flex; color: black"><div class="dottt"></div>單位基本資料</div>
                    <ul class="edit-list">
                        <form id="updateForm">
                            {% csrf_token %}
                            <li>單位名稱</li>
                            <li><input type="text" name="partner" value="{{ user.partner.breadtitle }}" disabled></li>
                            <li>單位管理者名稱</li>
                            <li><input type="text" name="name" value="{{ partner_admin }}" disabled>
                            </li>
                            <li>單位簡介</li>
                            <li><textarea name="description">{{ user.partner.description }}</textarea></li>
                        </form>
                        <li ><button class="search_btn" onclick="updateInfo()">確認修改</button></li>
                    </ul>
            </div>
        </div>

        <div class="rightbox_content download" style="display: none">
            <div class="item">
                <div style="display: flex; color: black"><div class="dottt"></div>單位帳號管理</div>
                <div class="result_table" style="overflow-x: auto; margin-top: 10px">
                    <table cellspacing="0" cellspacing="0" class="table_style1 record_table">
                        <tr>
                            <td>帳號</td>
                            <td>姓名</td>
                            <td>權限</td>
                            <td>狀態</td>
                            <td></td> <!-- 刪除 -->
                            <td></td> <!-- 送出按鈕？ -->
                        </tr> 
                    </table>						
                </div>
            </div>
        </div>
        {% else %}
        請先登入
        {% endif %}
    </div>

    </div>

</div>
  {% endblock %}

  {% block script %}
  <script>
    $(document).ready(function () {
        {% if user.is_partner_account %}
        Highcharts.setOptions({
            lang: {
                thousandsSep: ","
            }
          })
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            navigation: {
                buttonOptions: {
                  enabled: false
                  }
            },                
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y}筆 ({point.percentage:.1f}%)</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    size:'100%',
                    colors :  ['#76A578','#DEE9DE','#3F5146','#E2A460','#f4e2c7','#888','#ead065',
                                '#555','#3B86C0','#304237','#C65454','#ccc' ],
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: '',
                colorByPoint: true,
                data: {{ data_total|safe }}
            }]
        });
        Highcharts.chart('container2', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            navigation: {
                buttonOptions: {
                  enabled: false
                  }
            },                
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y}筆 ({point.percentage:.1f}%)</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {  size:'100%',
                        colors: ['#ddd','#C65454'],
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                }
            },
            series: [{
                name: '',
                colorByPoint: true,
                data: [{
                    name: '有對應',
                    y: {{ has_taxon }},
                }, {
                    name: '無對應',
                    y: {{ no_taxon }}
                }]
            }]
        });





        {% endif %}
    
    })

    

    function updateInfo(){
        // remove all notice first
        $('.noticbox').css('display','none')
  
        let checked = true;
        let has_password = false;
  
        if (!$('input[name=name]').val()){ // check name
          $('input[name=name]').next('.noticbox').css('display','')
          checked = false
        }  

        // 如果有任何一個跟密碼相關的欄位不是空白才判斷是否正確
        if (($('input[name=now_password]').val()!='')|($('input[name=new_password]').val()!='')|($('input[name=re_password]').val()!='')){
            has_password = true
            if (!checkPasswordStr($('input[name=now_password]').val())) { // check now password
            $('input[name=now_password]').next('.noticbox').css('display','')
            checked = false
            } 

            if (!checkPasswordStr($('input[name=new_password]').val())) { // check new password
            $('input[name=new_password]').next('.noticbox').css('display','')
            checked = false
            } 
            
            if ($('input[name=new_password]').val() != $('input[name=re_password]').val()) { // check repassword
            $('input[name=re_password]').next('.noticbox').css('display','')
            checked = false
            } 
        }
  
        
        if (checked)
        {
            $.ajax({
                url: "{% url 'update_personal_info' %}",
                data: $('#updateForm').serialize() + '&email={{ user.email }}&has_password=' + has_password,
                type: 'POST',
                dataType : 'json',
            })
            .done(function(response) {
                alert(response.message)
                if (response.message=='修改完成！請重新登入'){
                    window.location = '{% url "index" %}'
                }
                
            })
            .fail(function( xhr, status, errorThrown ) {
              alert('發生未知錯誤！請聯絡管理員')
              console.log( 'Error: ' + errorThrown + 'Status: ' + xhr.status)
            })  
          }
        }
  



    $(".mb_fixed_btn").on("click", function (event) {
        $(".mbmove").toggleClass("open");
        $(this).toggleClass("now");
      });
    
      $(".rd_click").on("click", function (event) {
        $(".rd_click").closest("li").removeClass("now");
        $(this).closest("li").toggleClass("now");
        $(this).closest("li").find(".second_menu").slideToggle();
      });
    
    
      $(".second_menu a").on("click", function (event) {
        $(this).parent().parent().parent('ul').children('li.now').removeClass("now");
        $(".second_menu a").removeClass("now");
        $(this).addClass("now")
        $(this).parent().parent('li').addClass('now')
      });
    
  </script>
  {% endblock script %}