{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '系統管理後台' %}｜{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/manager_system.css' %}?v4" />
<link rel="stylesheet" href="/static/nouislider/nouislider.css">

{% endblock style %}

{% block head %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="/static/nouislider/nouislider.js"></script>

{% endblock head %}
{% block body %}

{% if user.is_system_admin %}
<input type="hidden" name="is_admin" value="True">
{% endif %}

<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '系統管理後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_system_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover now">
                        <a class="big_link rd_click ">
                            <p class="changeMenu">系統管理</p> 
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            TBIA資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_info' %}?menu=info">修改TBIA資訊</a>
                            <a href="{% url 'system_info' %}?menu=account">帳號管理</a>
                            <a href="{% url 'system_info' %}?menu=feedback">意見回饋紀錄</a>
                            <a href="{% url 'system_info' %}?menu=sensitive_apply">單次使用去模糊化敏感資料申請</a>
                            <a href="{% url 'system_info' %}?menu=sensitive_track">敏感資料申請審核追蹤</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'system_news' %}?menu=news_apply">審核狀態</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                              教育資源管理
                            </p>
                            <div class="arrd"></div>
                          </div>
                          <div class="col_menu second_menu">
                              <a href="{% url 'system_resource' %}?menu=edit">資源發布</a>
                              <a href="{% url 'system_resource' %}?menu=resource">資源列表</a>
                          </div>                    
                    </li>
                    <li>
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                              常見Q&A設定
                            </p>
                            <div class="arrd"></div>
                          </div>
                          <div class="col_menu second_menu">
                            <a href="{% url 'system_qa' %}?menu=edit">QA編輯</a>
                            <a href="{% url 'system_qa' %}?menu=qa">QA列表</a>
                          </div>                    
                    </li>
                    <li>
                        <a href="{% url 'system_keyword' %}" class="big_link rd_click">
                            <p>全站搜尋推薦關鍵字設定</p>
                            <div class="arr"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content dashboard">
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料筆數
                    </div>
                    <div class="highcharts-figure">
                        <div id="container" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>影像資料筆數
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-image-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item">
                <div class="box-title"><div class="dottt"></div>資料品質
                    <a class="qmark tooltip">
                        <span class="tooltiptext">
                            金：包含 scientificName、latitude、longitude、year、month、basisOfRecord、coordinatesUncertaintyInMeters / coordinatePrecision 其一
                            <br>
                            銀：包含 scientificName、latitude、longitude、year
                            <br>
                            銅：缺少 scientificName、latitude、longitude、year 任一項
                        </span>
                    </a>
                </div>
                <div class="d-flex-jc-sb">
                    <div class="w-50p">
                        <figure class="highcharts-figure h-300px">
                            <div id="container-data-quality" class="h-100p"></div>
                        </figure>
                        <p class="expired-p ml-5px">*圓餅圖為系統整體資料狀況</p>
                    </div>                    
                    <div class="w-50p mt-15px ml-20px">
                        <ul id="quality-stat-list" class="mt-5px ml-20px fs-16px">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box-title"><div class="dottt"></div>TaiCOL 學名對應狀況</div>
                <div class="d-flex-jc-sb">
                    <div class="w-50p">
                        <div class="highcharts-figure">
                            <div id="container2" class="h-100p"></div>
                        </div>
                    </div>
                    <div class="w-50p ml-20px">
                        <p>下載各來源資料庫學名比對結果清單 <a class="fs-16px" href="/media/學名比對欄位說明文件.pdf"  target="_blank" >(學名比對欄位說明文件)</a></p>
                        <ul class="mt-5px ml-20px fs-16px">
                            {% for i in match_logs %}
                            <li>
                                <a class="download_taxon_a" target="_blank" href="{{ i.url }}">{{ i.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>物種類群資料筆數
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-taxon_group-stat" class="h-100p"></div>
                    </div>
                    <p class="expired-p ml-5px">*物種數僅計算TaiCOL定義之臺灣物種</p>
                    <p class="expired-p ml-5px">*圓餅圖為系統整體資料狀況</p>
                </div>
                <div class="w-50p">
                    <div id="taxon_group-stat-title">👈點擊圓餅圖取得各來源資料庫筆數</div>
                    <ul id="taxon_group-stat-list" class="mt-5px ml-20px fs-16px">
                    </ul>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb margin-bottom-0">
                <div class="w-100p">
                    <div class="box-title">
                        <div class="dottt"></div>各來源資料庫資料空間空缺狀況
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="partner-spatial-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="Insects">昆蟲</option>
                                <option value="Fishes">魚類</option>
                                <option value="Reptiles">爬蟲類</option>
                                <option value="Amphibians">兩棲類</option>
                                <option value="Fungi">真菌(含地衣)</option>
                                <option value="Plants">植物</option>
                                <option value="Birds">鳥類</option>
                                <option value="Mammals">哺乳類</option>
                                <option value="Bacteria">細菌</option>
                                <option value="Others">其他</option>
                            </select>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="spatial-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                            <span class="ml-20px panel-select-text"> <button class="feedback_btn w-100p exportPartnerKML">匯出KML</button></span>
                        </div>
                    </div>
                    <div class="map_img">
                        <div class="imgbox">
                            <div id="partner-map" class="img"></div>
                        </div>
                    </div>          
                </div>
                {% comment %} <div class="w-50p">
                </div> {% endcomment %}
                
            </div>
            <div class="records-legend d-flex legend-fs-15px">
                資料筆數：
                <div class="d-flex"><div class="count-1"></div>1 - 10</div>
                <div class="d-flex"><div class="count-10"></div>10 - 100</div>
                <div class="d-flex"><div class="count-100"></div>100 - 1,000</div>
                <div class="d-flex"><div class="count-1000"></div>1,000 - 5,000</div>
            </div>
            <div class="records-legend d-flex legend-fs-15px">
                <div class="d-flex"><div class="count-5000"></div>5,000 - 10,000</div>
                <div class="d-flex"><div class="count-10000"></div>10,000 - 50,000</div>
                <div class="d-flex"><div class="count-50000"></div>50,000 - 100,000</div>
                <div class="d-flex"><div class="count-100000"></div>> 100,000</div> 
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>各來源資料庫資料時間空缺狀況
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text">年份區間</span>
                            <div class="panel-range-select ml-20px">
                                <div id="partner-temporal-year-slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-partner-temporal-year-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="no-dottt"></div>
                    </div>
                    <div class="ml-20px">
                        <div class="d-flex">
                            <span class="mr-5px panel-select-text ">類群篩選</span>
                            <select class="panel-select" name="partner-temporal-taxonGroup">
                                <option value="">-- 不限 --</option>
                                <option value="Insects">昆蟲</option>
                                <option value="Fishes">魚類</option>
                                <option value="Reptiles">爬蟲類</option>
                                <option value="Amphibians">兩棲類</option>
                                <option value="Fungi">真菌(含地衣)</option>
                                <option value="Plants">植物</option>
                                <option value="Birds">鳥類</option>
                                <option value="Mammals">哺乳類</option>
                                <option value="Bacteria">細菌</option>
                                <option value="Others">其他</option>
                            </select> 
                            <select class="panel-select panel-select-rightsholder ml-20px" name="temporal-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-partner-temporal-month-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="item d-flex-jc-sb" >
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料累積筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="data-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="data-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-data-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月名錄下載次數
                    </div>
                    <select class="panel-select mt-15px" name="checklist-stat-year">
                        {% for y in stat_year %}
                        <option value="{{ y }}" {% if y == checklist_year %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select> <span class="ml-5px">年</span>
                    <div class="highcharts-figure">
                        <div id="container-checklist-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="item d-flex-jc-sb" >
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被查詢筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="search-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="search-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-search-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被下載筆數 <p class="expired-p ml-5px">*不包含敏感資料申請筆數</p>
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="download-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="download-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-download-stat" class="h-100p"></div>
                    </div>
                </div>            
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被查詢次數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="search-times-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="search-times-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-search-times-stat" class="h-100p"></div>
                    </div>
                </div>
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月資料被下載次數 <p class="expired-p ml-5px">*不包含敏感資料申請筆數</p>
                    </div>
                    <div class="ml-20px">                        
                        <div class="d-flex mt-15px">
                            <select class="panel-select" name="download-times-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="download-times-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-download-times-stat" class="h-100p"></div>
                    </div>
                </div>          
            </div>
            <hr>
            <div class="item d-flex-jc-sb">
                {% comment %} <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>資料累積筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="data-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-data-stat" class="h-100p"></div>
                    </div>
                </div> {% endcomment %}
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月敏感資料被下載筆數
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="sensitive-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == data_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select panel-select-rightsholder ml-20px" name="sensitive-stat-rightsholder">
                                {% for r in holder_list %}
                                <option value="{{ r }}" {% if r == 'total' %} selected {% endif %}>{% if r == 'total' %}全部{% else %}{{ r }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="highcharts-figure">
                        <div id="container-sensitive-stat" class="h-100p"></div>
                    </div>
                </div>
            </div>
            <hr>
  
            <div class="item" >
                <div class="box-title">
                    <div class="dottt"></div>各來源資料庫前三類群
                </div>
                <ul id="rightsholder_taxon_group_top3" class="mt-5px ml-20px fs-16px">
                </ul>
            </div>
            <hr>
            <div class="item" >
                <div class="box-title">
                    <div class="dottt"></div>各來源資料庫前五科名
                </div>
                <ul id="rightsholder_family_top5" class="mt-5px ml-20px fs-16px">
                </ul>
            </div>
            <hr>
            <div class="item d-flex-jc-sb" >
                <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>每月搜尋關鍵字
                    </div>
                    <div class="ml-20px mt-15px">
                        <div class="d-flex">
                            <select class="panel-select" name="keyword-stat-year">
                                {% for y in stat_year %}
                                <option value="{{ y }}" {% if y == keyword_year %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">年</span>
                            <select class="panel-select ml-20px" name="keyword-stat-month">
                                {% for m in stat_month %}
                                <option value="{{ m }}" {% if m == keyword_month %} selected {% endif %}>{{ m }}</option>
                                {% endfor %}
                            </select> <span class="ml-5px">月</span>
                        </div>
                        <ol id="keyword-stat-list">
                        </ol>
                    </div>
                </div>
                {% comment %} <div class="w-50p">
                    <div class="box-title">
                        <div class="dottt"></div>各單位前三類群
                    </div>
                    <ul id="rightsholder_taxon_group_top3">
                    </ul>
                </div> {% endcomment %}
            </div>

        </div>
        {% else %}
        {% trans '您的權限不足' %}
        {% endif %}
    </div>

    </div>

</div>
  {% endblock %}

  {% block script %}
  <script src="{% static 'js/manager/manager_system.js' %}?v6"></script>
  {% endblock script %}