{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block title %}{% trans '系統管理後台' %}｜{% endblock %}

{% block head %}
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager/system_qa.css' %}" />
{% endblock style %}

{% block body %}
{% csrf_token %}
<input type="hidden" name="menu" value="{{ menu }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> {% trans '系統管理後台' %}</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_system_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover">
                        <a class="big_link rd_click" href="/manager/system">
                            <p>系統管理</p> 
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            TBIA資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_info' %}?menu=info">修改TBIA資訊</a>
                            <a href="{% url 'system_info' %}?menu=account">帳號管理</a>
                            <a href="{% url 'system_info' %}?menu=feedback">意見回饋紀錄</a>
                            <a href="{% url 'system_info' %}?menu=sensitive_apply">單次使用去模糊化敏感資料申請</a>
                            <a href="{% url 'system_info' %}?menu=sensitive_track">敏感資料申請審核追蹤</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'system_news' %}?menu=news_apply">審核狀態</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                              教育資源管理
                            </p>
                            <div class="arrd"></div>
                          </div>
                          <div class="col_menu second_menu">
                              <a href="{% url 'system_resource' %}?menu=edit">資源發布</a>
                              <a href="{% url 'system_resource' %}?menu=resource">資源列表</a>
                          </div>                    
                    </li>
                    <li class="now">
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                                常見Q&A設定
                            </p>
                            <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a class="edit changeMenu" data-menu="edit" >QA編輯</a>
                            <a class="qa changeMenu" data-menu="qa" >QA列表</a>
                        </div>                    
                    </li>                      
                    <li>
                        <a href="{% url 'system_keyword' %}" class="big_link rd_click">
                            <p>全站搜尋推薦關鍵字設定</p>
                            <div class="arr"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content edit d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>QA編輯</div>
                <ul class="edit-list">
                    <form id="saveForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="qa_id" value="{{ current_q.id }}">
                        <li>類別</li>
                        <li>
                            <select name="qa_type">
                                {% for t in type_choice %}
                                    {% if t.0 == current_q.type %}
                                        <option value="{{ t.0 }}" selected>{{ t.1 }}</option>
                                    {% else %}
                                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </li>                       
                        <li>排序</li>
                        <li><input type="number" name="order" value="{{ current_q.order }}" min="1"></li>
                        <li>問題</li>
                        <li>
                            <textarea name="question" placeholder="">{{ current_q.question }}</textarea>
                            <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>必填欄位</p>
                            </div>
                        </li>
                        <li>問題（英文）</li>
                        <li>
                            <textarea name="question_en" placeholder="">{{ current_q.question_en|default_if_none:'' }}</textarea>
                            {% comment %} <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>必填欄位</p>
                            </div> {% endcomment %}
                        </li>
                        <li>答案</li>
                        <li>
                            <textarea name="answer" placeholder="">{{ current_q.answer }}</textarea>
                            <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>必填欄位</p>
                            </div>
                        </li>
                        <li>答案（英文）</li>
                        <li>
                            <textarea name="answer_en" placeholder="">{{ current_q.answer_en|default_if_none:'' }}</textarea>
                            {% comment %} <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>必填欄位</p>
                            </div> {% endcomment %}
                        </li>
                    </form>
                    <li class="mt-20px">   
                        <button class="read_btn ml-10px" id="publish">儲存</button>           
                    </li>
                </ul>
            </div>
        </div>


        <div class="rightbox_content qa d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>QA列表</div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style1 qa_table">
                        <tr class="qa_table_header">
                            <td class="w-20p">類別</td>
                            <td class="w-10p">排序</td>
                            <td class="w-50p">問題</td>
                            <td class="w-10p"></td> 
                            <td class="w-10p"></td> 
                        </tr>
                        {% comment %} {% for q in qa_list %}
                        <tr>
                            <td>{{ q.get_type_display }}</td>
                            <td>{{ q.order }}</a></td>
                            <td>{{ q.question }}</a></td>
                            <td><a class="manager_btn" href="{% url 'system_qa' %}?menu=edit&qa_id={{ q.id }}">編輯</a></td> <!-- 編輯按鈕 / 收回按鈕 -->
                            <td><a  class="delete_qa del_btn" data-qa_id='{{ q.id }}'>刪除</a></td> <!-- 編輯按鈕 / 收回按鈕 -->
                        </tr>
                        {% endfor %} {% endcomment %}
                    </table>						
                </div>
                {% comment %} <div class="page_number">
					{% if q_page_list|length > 1 %}
                    <a  class="num changePage" data-page="1" data-type="qa">1</a>
                    <a  class="pre pt-none">
                        <span></span>上一頁
                    </a>
                    <!--目前頁面給 now-->
                    {% for p in q_page_list %}
                        {% if p == 1 %}
                            <a  class="num now changePage" data-page="{{ p }}" data-type="qa">{{ p }}</a>
                        {% else %}
                            <a  class="num changePage" data-page="{{ p }}" data-type="qa">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if 2 in q_page_list %}
                    <a  class="next changePage" data-page="2" data-type="qa">
                        下一頁<span></span>
                    </a>
                    {% else %}
                    <a  class="next pt-none">
                        下一頁<span></span>
                    </a>
                    {% endif %}
                    <a  class="num changePage" data-page="{{ q_total_page }}" data-type="qa">{{ q_total_page }}</a>
                    {% endif %}
				</div> {% endcomment %}
            </div>
        </div>
        {% else %}
        您的權限不足
        {% endif %}
    </div>

    </div>

</div>
  {% endblock %}

  {% block script %}
  <script src="{% static 'js/manager/system_qa.js' %}"></script>
  {% endblock script %}