{% extends 'base.html' %}
{% load static %} 
{% block title %}系統管理後台｜{% endblock %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock head %}

{% block style %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="/static/quill-image-resize-module/image-resize.min.js"></script>
<link href="/static/quill-image-uploader/dist/quill.imageUploader.min.css" rel="stylesheet">
<script src="/static/quill-image-uploader/dist/quill.imageUploader.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/system_resource.css' %}" />
{% endblock style %}

{% block body %}
{% csrf_token %}
<input type="hidden" name="menu" value="{{ menu }}">
<div class="path"> 
    <div class="main_1240"> 
        <a href="{% url 'index' %}" class="home"></a> <span>></span> <p> 系統管理後台</p>
    </div>
</div>
 
<div class="nbn_title">
</div>
<div class="main_1240"> 
    <div class="two_cont_area">
        {% if user.is_system_admin %}
        <div class="left_menu mbmove">
            <!--手機用的按鈕-->
            <div class="mb_fixed_btn">
                <p>展<br>開</p>
                <span>關閉</span>
            </div>					
            <div class="mb_scroll">
                <ul>
                    <li class="nohover">
                        <a class="big_link rd_click" href="/manager/system">
                            <p>系統管理</p> 
                        </a>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            TBIA資訊
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_info' %}?menu=info">修改TBIA資訊</a>
                            <a href="{% url 'system_info' %}?menu=account">帳號管理</a>
                            <a href="{% url 'system_info' %}?menu=feedback">意見回饋紀錄</a>
                            <a href="{% url 'system_info' %}?menu=sensitive">單次使用去模糊化敏感資料申請</a>
                            <a href="{% url 'system_info' %}?menu=sensitive_track">敏感資料申請審核追蹤</a>
                        </div>
                    </li>
                    <li>
                        <div class="big_link">
                          <div class="maskfor_click rd_click"></div>
                          <p>
                            最新消息管理
                          </p>
                          <div class="arrd"></div>
                        </div>
                        <div class="col_menu second_menu">
                            <a href="{% url 'system_news' %}?menu=edit">消息發布</a>
                            <a href="{% url 'system_news' %}?menu=list">審核狀態</a>
                        </div>
                    </li>
                    <li class="now">
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                              教育資源管理
                            </p>
                            <div class="arrd"></div>
                          </div>
                          <div class="col_menu second_menu">
                            <a class="edit changeMenu" data-menu="edit" href="javascript:;">資源發布</a>
                            <a class="list changeMenu" data-menu="list" href="javascript:;">資源列表</a>
                          </div>                    
                    </li>
                    <li>
                        <div class="big_link">
                            <div class="maskfor_click rd_click"></div>
                            <p>
                              常見Q&A設定
                            </p>
                            <div class="arrd"></div>
                          </div>
                          <div class="col_menu second_menu">
                            <a href="{% url 'system_qa' %}?menu=edit">QA編輯</a>
                            <a href="{% url 'system_qa' %}?menu=list">QA列表</a>
                          </div>                    
                    </li> 
                    <li>
                        <a href="{% url 'system_keyword' %}" class="big_link rd_click">
                            <p>全站搜尋推薦關鍵字設定</p>
                            <div class="arr"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightbox_content edit d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>教育資源管理</div>
                <ul class="edit-list">
                    <form id="saveForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="resource_id" value="{{ current_r.id }}">
                        <li class="upload-warning"><p>*若上傳檔案超過1MB，將無法上傳檔案，請通知管理員協助</p></li>
                        <li>標題</li>
                        <li>
                            <input type="text" name="title" value="{{ current_r.title }}">
                            <div class="noticbox d-none">
                                <div class="in1">錯誤</div>
                                <p>必填欄位</p>
                            </div>
                        </li>
                        <li>類型</li>
                        <li>
                            <select name="resource_type">
                                {% for t in type_choice %}
                                    {% if t.0 == current_r.type %}
                                        <option value="{{ t.0 }}" selected>{{ t.1 }}</option>
                                    {% else %}
                                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </li>
                        <li>檔案</li>                    
                        <li class="d-flex">
                            <input id="file" type="file" name="file" class="form-control">
                            <input type="hidden" name="url" value="{{ current_r.url }}">
                        </li>
                        </form>
                        <li>
                            <span id="preview" {% if not current_r.url %} class="d-none" {% endif %}>
                                {% if current_r.url %}
                                    目前檔案：{{ current_r.filename }}
                                    <a target="_blank" href="/media/{{ current_r.url }}">(預覽)</a>
                                {% endif %}
                            </span>
                        </li>
                        <li><div class="noticbox d-none" id="file_error">
                                <div class="in1">錯誤</div>
                                <p>發布前請先上傳檔案</p>
                            </div>                            
                        </li>
                    <li class="mt-20px"><button class="search_btn" id="save_resource_file">上傳</button>        
                        <button class="search_btn ml-10px" id="publish">發布</button>           
                     </li>
                </ul>
            </div>
        </div>


        <div class="rightbox_content list d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>資源列表</div>
                <div class="d-flex-jc-e">
                <button class="search_btn" id="link_button">編輯推薦連結</button>
                </div>
                <div class="result_table table-flow">
                    <table cellspacing="0" cellspacing="0" class="table_style1 resource_table">
                        <tr>
                            <td class="w-18p">標題</td>
                            <td class="w-18p">類型</td>
                            <td class="w-20p">檔名</td>
                            <td class="w-15p">最近修改</td>
                            <td class="w-8p"></td> 
                            <td class="w-8p"></td> 
                        </tr>
                        {% for r in resource_list %}
                        <tr>
                            <td>{{ r.title }}</td>
                            <td>{{ r.type }}</a></td>
                            <td><a href="/media/resources/{{ r.filename }}" target="_blank">{{ r.filename }}</a></td>
                            <td>{{ r.modified|date:'Y-m-d H:i:s'|default_if_none:'' }}</td>
                            <td><a class="manager_btn" href="{% url 'system_resource' %}?menu=edit&resource_id={{ r.id }}">編輯</a></td> <!-- 編輯按鈕 / 收回按鈕 -->
                            <td><a href="javascript:;" class="delete_resource manager_btn" data-resource_id='{{ r.id }}'>刪除</a></td> <!-- 編輯按鈕 / 收回按鈕 -->
                        </tr>
                        {% endfor %}
                    </table>						
                </div>
                <div class="page_number">
					{% if r_page_list|length > 1 %}
                    <a href="javascript:;" class="num changePage" data-page="1" data-type="resource">1</a>
                    <a href="javascript:;" class="pre pt-none">
                        上一頁
                    </a>
                    <!--目前頁面給 now-->
                    {% for p in r_page_list %}
                        {% if p == 1 %}
                            <a href="javascript:;" class="num now changePage" data-page="{{ p }}" data-type="resource">{{ p }}</a>
                        {% else %}
                            <a href="javascript:;" class="num changePage" data-page="{{ p }}" data-type="resource">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if 2 in r_page_list %}
                    <a href="javascript:;" class="next changePage" data-page="2" data-type="resource">
                        下一頁
                    </a>
                    {% else %}
                    <a href="javascript:;" class="next pt-none">
                        下一頁
                    </a>
                    {% endif %}
                    <a href="javascript:;" class="num changePage" data-page="{{ r_total_page }}" data-type="resource">{{ r_total_page }}</a>
                    {% endif %}
				</div>
            </div>
        </div>


        <div class="rightbox_content edit-link d-none">
            <div class="item">
                <div class="box-title"><div class="dottt"></div>編輯推薦連結</div>
                    <ul class="edit-list">
                        <form enctype="multipart/form-data" id="linkForm" action="{% url 'edit_link' %}" method="POST">            
                            {% csrf_token %}
                            <li>   
                                <div id="editor"></div>         
                                {% comment %} {{ form }} {% endcomment %}
                            </li>
                            <li ><button class="search_btn">儲存</button></li>
                        </form>
                    </ul>
            </div>
        </div>


        {% else %}
        您的權限不足
        {% endif %}
    </div>

    </div>

</div>
  {% endblock %}

  {% block script %}
  <script src="{% static 'js/system_resource.js' %}"></script>
  {% endblock script %}