{% extends './base.html' %}
{% block style %}
<style>
    .error {
        margin-top: 100px;
    }

    @media only screen and (max-width: 1599px) {
        .error {
            margin-top: 80px
        }
    }

    @media only screen and (max-width: 999px) {
        .error {
            margin-top: 60px
        }
    }

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .footer{
        margin-top: auto;
    }

    .content {
        max-width: 1240px;
        padding: 0px 20px;
        margin: 20px auto
    }
    
    @media only screen and (max-width: 767px) {
        .content {
            padding: 0px 15px
        }
    }
</style>
{% endblock style %}
{% block title %}錯誤｜{% endblock %}
{% block body %}
<div class="error">
<p class="content">
    您要求的網址不存在，若有疑問請<a href="#">聯絡我們</a>，謝謝。
</p>
</div>
{% endblock body %}