.two_cont_area {
    margin-bottom: 50px
}

.search_btn {
    color: #FFF;
    background: #76A578;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    width: 15%;
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
}

@media only screen and (min-width: 1000px) {
    .search_btn:hover {
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s;
        background: #E2A460
    }
}

.edit-list {
    margin-left: 10px;
    list-style: none;
}

.edit-list li {
    margin: 10px
}

.nohover {
    /*pointer-events: none;*/
    text-align: center
}

.main_1240 .dottt {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #76A578;
    margin: auto 10px auto 0;
}

.main_1240 input {
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 50%;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
}

.main_1240 select {
    padding: 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 50%;
    height: 35px;
    font-size: 16px
}

.panel-select {
    width: 25% !important;
}

.panel-select-rightsholder  {
    width: 40% !important;
}

.highcharts-figure-large {
    height: 450px;
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .panel-select {
        width: 100% !important;
    }
}


@media only screen and (max-width: 767px) {
    .main_1240 input, .main_1240 select {
        width: 100%;
    }
}

.main_1240 textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 150px;
    font-size: 16px;
    resize: none
}

.main_1240 {
    min-height: calc(100% - 340px);
}


.noticbox {
    display: flex;
    align-items: center;
    margin-top: 5px
}

.noticbox .in1 {
    background: #C65454;
    color: #FFF;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    margin-right: 5px
}

.noticbox p {
    font-size: 14px;
    color: #C65454
}

@media only screen and (max-width: 999px) {
    .mb_scroll {
        margin-top: 60px
    }
}

.box-title {
    display: flex; 
    color: black
}

.h-300px {
    height: 300px
}

.w-50p {
    width: 50%;
}

.w-66p {
    width: 66%;
}

.w-33p {
    width: 33%;
}


.mt-15px {
    margin-top: 15px
}

.mt-5px {
    margin-top: 5px
}

.ml-20px {
    margin-left: 20px
}

.ml-5px {
    margin-left: 5px
}

.fs-16px {
    font-size: 16px;
}

.fs-18px {
    font-size: 18px;
}


#keyword-stat-list {
    margin-top: 10px;
    margin-left: 20px;
}

.highcharts-figure {
    height: 300px;
    margin-top: 20px;
}

#taxon_group-stat-title {
    font-weight: bold;
    text-align: center;
}

hr {
    margin-bottom: 20px;
    border: 0.5px solid lightgrey;
}


.small-gray-text {
    font-size: 14px;
    color: grey;
    line-height: 32px;
}


.hide {
    display: none;
  }

  .box-title > .qmark-hover:hover + .hide {
    display: block;
    /* color: grey; */
    margin-left: 5px;
}
  


/* .panel-range-select {
    width: 25% !important;
} */


.panel-select-text {
    line-height: 35px;
}

.panel-select {
    width: 50%;
    height: 35px;
}

#partner-temporal-year-slider, #portal-temporal-year-slider  {
    height: 10px;
}

#partner-temporal-year-slider .noUi-connect, #portal-temporal-year-slider .noUi-connect {
    background: #72A0C1;
}


#partner-temporal-year-slider .noUi-handle, #portal-temporal-year-slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    border-radius: 9px;
}



.panel-range-select {
    width: 50%;
    height: 35px;
    align-items: center;
    display: grid;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden !important;
    width: 450px;
    background-color: darkgrey;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 26px;
}

.tooltip:hover .tooltiptext {
    visibility: visible !important;
}
  

.gold {
    color: #FFD700;
}

/* 銀色 */
.silver {
    color: #C0C0C0;
}

/* 銅色 */
.bronze {
    color: #ac6b2b;
}

.map_img .img {
    background: none;
}

#partner-map, #portal-map {
    height: 450px; 
    margin: 15px
}


.records-legend {
    margin-left: 10px;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

/* 
div.count-100000 {
    border: none;
    background: #bd0026;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-50000 {
    border: none;
    background: #e31a1c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-10000 {
    border: none;
    background: #fc4e2a;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-5000 {
    border: none;
    background: #fd8d3c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-1000 {
    border: none;
    background: #feb24c;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-100 {
    border: none;
    background: #fed976;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-10 {
    border: none;
    background: #ffeda0;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}


div.count-1 {
    border: none;
    background: #ffffcc;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
} */

.feedback_btn {
    color: #FFF;
    background: #76A578;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.feedback_btn:hover {
    background: #E2A460;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
}


.expired-p {
    font-size: 14px;
    color: #C65454;
    line-height: 20px;
}

.main_1240 .no-dottt {
    height: 30px;
}

.mr-5px {
    margin-right: 5px;
}


.first_td_table tr td:first-child {
    text-align: left;
}
