.sensitive_apply_table tr:not(:first-child) td:nth-child(3) {
    text-align: left !important;
}


.feedback_table tr:not(:first-child) td:nth-child(6) {
    white-space: pre-wrap;
    text-align: left !important;
}


.sensitive_track_table tr:not(:first-child) td:nth-child(2) {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

/* .track_table tr:not(:first-child) td:nth-child(1) {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
} */

.sensitive_track_table tr:not(:first-child) td:nth-child(4), .sensitive_track_table tr:not(:first-child) td:nth-child(5) {
    text-align: left
}


td hr {
    border-top: 1px dashed grey;
}

.send-submitted {
    background: #eee;
    width: 100%;
    font-size: 18px;
    color: #444;
    height: 50px;
    border-radius: 3px;
    cursor: default;
}

.send-transferred {
    background: #eee;
    width: 100%;
    font-size: 18px;
    color: #444;
    height: 50px;
    border-radius: 3px;
    cursor: default;
}

.form_top .path_inf .riginf {
    display: block;
}


.accordion {
    background-color: #76A578;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion.active, .accordion:hover {
    color: #FFF;
    background: #E2A460;

}

/*
.accordion::after {
    content: '+';
    font-size: 22px;
    color: white;
    margin-left: 5px;
}

.accordion:hover::after {
    color: white;
}

.accordion.active:after {
    content: "\2796";
}*/


.two_cont_area {
    margin-bottom: 50px
}

.search_btn {
    color: #FFF;
    background: #76A578;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    width: 15%;
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
}

@media only screen and (min-width: 1000px) {
    .search_btn:hover {
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -webkit-transition: all .3s;
        background: #E2A460
    }
}

.edit-list {
    margin-left: 10px;
    list-style: none;
}

.edit-list li {
    margin: 10px
}

.nohover {
    /*pointer-events: none;*/
    text-align: center
}

.main_1240 .dottt {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #76A578;
    margin: auto 10px auto 0;
}

.main_1240 input {
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 50%;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
}

.main_1240 select {
    padding: 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 50%;
    height: 35px;
    font-size: 16px
}

@media only screen and (max-width: 767px) {
    .main_1240 input, .main_1240 select {
        width: 100%;
    }
}

.main_1240 textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 150px;
    font-size: 16px;
    resize: none
}

.main_1240 {
    min-height: calc(100% - 340px);
}


.noticbox {
    display: flex;
    align-items: center;
    margin-top: 5px
}

.noticbox .in1 {
    background: #C65454;
    color: #FFF;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    margin-right: 5px
}

.noticbox p {
    font-size: 14px;
    color: #C65454
}

@media only screen and (max-width: 999px) {
    .mb_scroll {
        margin-top: 60px
    }
}

.mt-15px {
    margin-top: 15px
}

.box-title {
    display: flex; 
    color: black
}

.table-flow {
    overflow-x: auto; 
    margin-top: 10px
}

.a-left {
    text-align: left
}

.form-flow {
    max-height: 300px;
    overflow-y: scroll;
}

.ml-10px {
    margin-left: 10px
}

.bg-transparent {
    background: transparent
}

.fs-16px {
    font-size: 16px
}

.fs-14px {
    font-size: 14px
}

.search-again-icon {
    width: 12px;
    height: 12px;
}

.search-again-a path {
    fill: #76A578;
}

.search-again-a:hover path {
    fill: #E2A460;
}

.search-again-a {
    color: #76A578;
}

.search-again-a:hover {
    color: #E2A460;
}