@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
body{
	background: #FFF; /* Old browsers */
	font-family: 'Roboto','Noto Sans TC', sans-serif;
	color: #555;
	font-size: 18px;
	background:#f7f7f7;
	@media #{$mobile}{
		font-size:16px;
		line-height:25px;
	}
}

.main_1240{
	max-width: 1240px;
	padding: 0px 20px;
	margin:0 auto;
	@media #{$mobile}{
		padding:0px 15px;
	}
}
.header{
	width: 100%;
	background: #FFF;
	height: 100px;
	position: fixed;
	z-index: 51;
	top: 0;
	left: 0;
	@media #{$pc_m}{
		height: 80px;
	}
	@media #{$pad}{
		height: 60px;
	}
	@media #{$mobile}{
		height: 60px;
	}
	.main_1240{
		position: relative;
		width: 100%;
		height: 100%;
	}
	a.logo_area{
		position: absolute;
		left: 20px;
		top: 15px;
		z-index: 50;
		@media #{$pc_m}{
			top: 8px;
			img{
				width: 160px;
			}
		}
		@media #{$pad}{
			top: 8px;
			img{
				width: 120px;
			}			
		}

	}
	.mb_bmenu{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 5;
		top: 0px;
		left: 0;
		background: #FFF;
		display: none;
		.ovh{
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			margin-top: 60px;
		}
		ul{
			border-top: 1px solid #ddd;
			background: #FFF;
		}
		li{
			list-style:none;
			position: relative;
			border-bottom: 1px solid #ddd;
			.one_set{ 
				display: flex;
				align-items:center;
				justify-content:space-between;
				
				padding: 20px;
			}
		    .big_t{ 
				display: block;	
				
				color: #555;
				font-size: 18px; 
			}
			.arright{ 
				width: 10px;
			}
			.ardown{
				width: 19px;
				@include bg_change(0.3s);
			}
			.mbmu2{
				background:#f7f7f7;
				padding:10px 0px; 
				display: none;
				.s_title{
					display: block;
					padding:10px 20px;
					display: flex;
					align-items:center;
					justify-content:space-between;
					color: $col_greena;
					font-size: 16px;;

				}
			}
			.gres{
				font-weight: bold;
				color:$col_greenb;
			}
			&.now{
				.one_set{
					p{
						color: $col_greena;
					}
				}
				.ardown{
					@include bg_change(0.3s);
					@include rotate(180deg);
				}
				.mbmu2{
					
				}
			}
		}
	}
	.right_mbhambuger{
		display: flex;
		position: fixed;
		right: 0;
		z-index:50;
		width: 60px;
		height: 60px;		
		float: right; 
		cursor: pointer;
		align-items:center;
		justify-content:center;
		@media #{$pc}{
			display: none;
		}
		@media #{$pad}{
			display: flex;
		}
		.hmenu {
			height: 25px;
			width: 30px;
			position: relative;
			cursor: pointer;

			
			&.hmenu-2 {
				&:after {
					content: '';
					display: block;
					bottom: 0;
					left: 0;
					width: 100%;
					background:  $col_greena;
					height: 3px;
					border-radius: 2px;
					position: absolute;
					transform: translate3d(0, 0, 0);
					opacity: 1;
					transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
				}

				&:before {
					content: '';
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					background:  $col_greena;
					height: 3px;
					position: absolute;
					transform: translate3d(0, 0, 0);
					opacity: 1;
					border-radius: 2px;
					transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
				}

				span {
					height: 3px;
					border-radius: 2px;
					display: block;
					opacity: 1;
					transform: translate3d(0, 11px, 0);
					position: relative;

					&:after {
						content: '';
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						background:  $col_greena;
						height: 3px;
						border-radius: 2px;
						position: absolute;
						transform: rotate(0);
						transition: transform 0.4s;
					}

					&:before {
						content: '';
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						background:  $col_greena;
						height: 3px;
						border-radius: 2px;
						position: absolute;
						transform: rotate(0);
						transition: transform 0.4s;
					}
				}

				&.active {
					&:after {
						transform: translate3d(0, -11px, 0);
						opacity: 0;
						transition: transform 0.4s, opacity 0.2s 0.2s;
					}

					&:before {
						transform: translate3d(0, 11px, 0);
						opacity: 0;
						transition: transform 0.4s, opacity 0.2s 0.2s;
					}

					span {
						&:after {
							transform: rotate(45deg);
							transition: transform 0.4s 0.4s;
						}

						&:before {
							transform: rotate(-45deg);
							transition: transform 0.4s 0.4s;
						}
					}
				}	
			}
			
			
		}




	}
	.right_menu{
		width: 100%;
		height: 100%;
		@media #{$pad}{
			display: none;
		}
		@media #{$mobile}{
			display: none;
		}
		ul{
			display: flex;
			justify-content: center;
			height: 100%;
		}
		li{
			position: relative;
			height: 100%;
			list-style: none;
			a.big_title{
				display: flex;
				align-items:center;
				padding: 0px 20px;
				min-width: 130px;
				color: #555;
				height: 100%; 
				text-align: center; 
				@include bg_change(0.3s);
				@media #{$pc_s}{
					min-width: 20px;
				}

			}
			.menu_2{
				@include alpha(0);
				@include bg_change(0.5s);
				position: absolute;
				top: 80px; 
				padding-top:20px;
				width: 100%;
				visibility: hidden;
				@media #{$pc_m}{
					top: 60px;
				}
				.item{
					width: 100%;
				}
				.s_title{
					display: block;
					width: 100%;
					padding:15px 10px;					
					text-align:center;
					background:#FFF;
					font-size:16px;
					line-height:25px;
					@include bg_change(0.3s);
					&:hover{
						color: #FFF;
						background:$col_greenb;
						@include bg_change(0.3s);
					}
				}
			}
			.line{
				width: 0%;
				background: $col_greenb;
				height: 3px;
				position: absolute;
				bottom: 0;
				@include bg_change(0.5s);
			}
			&:hover{
				.big_title{
					color: $col_greenb;
					@include bg_change(0.3s);
				}
				.line{
					@include bg_change(0.5s);
					width: 100%;
				}
				.menu_2{
					visibility:visible;
					@include alpha(1);
					@include bg_change(0.5s);
				}
			}
		}
	}
	.right_btn2{
		position: absolute;
		right: 20px;
		display: flex;
		top: 50%;
		margin-top: -23px;
		@media #{$pad}{
			right: 50px;
			margin-top:-19px;
		}		
		&.login_done{
			.ringbox{
				display: block;
			}			
			.member_login{
				p{
					display: none;
				}
				.icon{
					@include bg_change(0.3s);
					background: url('../image/users.svg') no-repeat top left;

				}

				&:hover{
					.member_slimenu{
						visibility:visible;
						@include alpha(1);
						@include bg_change(0.3s);

					}
				}
			}
		}
		.ringbox{
			display: none;
			background: url('../image/ring.svg') no-repeat top center;
			width: 46px;
			height: 46px;
			cursor: pointer;
			margin-right: 10px;
			position: relative;
			@include bg_change(0.3s);
			background-size:cover;
			@media #{$pad}{
				width: 40px;
				height: 40px;
				background-size:cover;
			}
			@media #{$pc}{
				&:hover{
					@include bg_change(0.3s);
					background: url('../image/rings.svg') no-repeat top center;
					background-size:cover;
					.messagebox{
						visibility:visible;
						@include alpha(1);
						@include bg_change(0.3s);
					}
				}
			}
			@media #{$pad}{
				&.mb_open{
					@include bg_change(0.3s);
					background: url('../image/rings.svg') no-repeat top center;
					background-size:cover;
					.messagebox{
						visibility:visible;
						@include alpha(1);
						@include bg_change(0.3s);
					}
				}
			}


			.num_message{
				position: absolute;
				width: 20px;
				height: 20px;
				border-radius:50%; 
				color:#FFF;
				font-size: 12px;
				background:#C65454;
				letter-spacing:0px;
				line-height:20px;
				text-align:center;
				right: -5px;
				top: -2px;
			}
			.messagebox{
				width: 360px;
				position: absolute;
				right: 0;
				top: 40px;
				padding-top:15px;
				visibility: hidden;
				@include alpha(0);
				@include bg_change(0.3s);
				@media #{$pad}{
					position: fixed;
					width: 100%;
					top:60px;
					padding-top:0px;
				}
				.wbox{
					background:#FFF;
					box-shadow:0px 0px 6px rgba(0,0,0,0.16);
					width: 100%;
					border-radius:10px;
					@media #{$pad}{ 
						box-shadow:none; 
						border-radius:0px;
						border-top:1px solid #ddd;
						border-bottom:1px solid #ddd;
						overflow-y:auto;
						max-height:calc(100vh - 60px);
					}
					.titlebox{
						justify-content:space-between;
						padding:10px 15px;
						display: flex;
						font-size: 16px;
						border-bottom:1px solid #ddd;
						button{
							color:$col_greenb;
							background:none;
							font-size: 16px;
						}
					}
					.message_list{
						list-style: none;
						max-height:400px; 
						overflow-y:auto;
						@media #{$pad}{
							max-height:100%;
							overflow: initial;
						}
						li{
							border-bottom:1px dashed #ddd;
							position: relative;
							padding:15px;
							display: flex;
							align-items:center;
							@include bg_change(0.3s);
							&:last-child{
								border:0px;
							}
							@media #{$pc}{
								&:hover{
									@include bg_change(0.3s);
									background:#EEF4EF;
								}
							}
							.dottt{
								width: 8px;
								height: 8px;
								border-radius:50%;
								background:#C65454;
								position: absolute;
								left: 5px;
								top: 5px;
							}
							.txtcont{
								padding-right:10px;
								.date{
									color:#888;
									height: initial;
									margin-bottom:5px;
								}
								p{
									font-size: 14px;
									line-height:18px;
									height: 36px;
									overflow: hidden;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 2;
									-webkit-box-orient: vertical;
								}
							}
							.learmore{
								width: 45px;
								height: 45px;
								background:$col_greena;
								font-size: 14px;
								color:#FFF;
								display: flex;
								align-items:center;
								justify-content:center;
								flex:0 0 45px;
								border-radius:50%;
								@include bg_change(0.3s);
								&:hover{
									@include bg_change(0.3s);
									background:$col_greenb;
								}
							}
						}
					}


				}
			}
		}
		.feedback{
			background: url('../image/email.svg') no-repeat top center;
			width: 46px;
			height: 46px;
			cursor: pointer;
			margin-right: 10px;
			&:hover{
			@include bg_change(0.3s);
			background: url('../image/emails.svg') no-repeat top center;
			}
			@media #{$pad}{
				display: none;
			}			

		}
		.member_login{
			padding-left: 50px;
			position: relative;
			cursor: pointer;
			@media #{$pad}{
				display: none;
			}


			.icon{
				left: 0;
				position: absolute;
				display: block;
				background: url('../image/user.svg') no-repeat top left;
				height: 46px;
				width: 46px;
				@include bg_change(0.3s);
			}
			p{
				display: block;
				display: flex;
				height: 46px;
				align-items:center;
				@include bg_change(0.3s);
			}
			.member_slimenu{
				width: 180px;
				position: absolute;
				right: 50%;
				margin-right:-90px;
				top: 40px;
				padding-top:15px;
				@include bg_change(0.3s);
				@include alpha(0);
				visibility:hidden;
				@media #{$pc_s}{
					right: 0;
					margin-right:0;
				}
				ul{
					list-style: none;
					background:#FFF;
					box-shadow:0px 0px 6px rgba(0,0,0,0.16);
					width: 100%;
					border-radius:10px;
					li{
						padding:10px 20px;
						border-bottom:1px solid #eee;
						@include bg_change(0.3s);
						text-align:center;
						@media #{$pc_s}{
							text-align: left;
						}						
						@media #{$pc}{
							&:hover{
								@include bg_change(0.3s);
								color:$col_greenb;
								background:#EEF4EF;
							}
						}
					}
				}
			}
			&:hover{
				.icon{
					@include bg_change(0.3s);
					background: url('../image/users.svg') no-repeat top left;

				}
				p{
					color: $col_greena;
					@include bg_change(0.3s);
				}
			}
		}
	}

}
.section_1{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	position: relative;
	@media #{$pc_m}{
		padding-top:80px;
	}
	@media #{$pad}{
		padding-top:60px;
		height: 600px;
	}
	@media #{$mobile}{
		padding-top:60px;
		height: 500px;
	}
	.bn_bg{
		background: url('../image/bn_bg.svg') no-repeat top center;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden; 

	}
	.rel{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.flex_center{
		display: flex;
		justify-content:center;
		align-items:center;
		position: relative;
		z-index:5; 


	}
	.content_area{
		margin-top:-5%;
		position: relative;
		z-index:6;
		max-width:800px;
		@media #{$mobile}{
			padding:0px 15px;
		}
		h2{
			color: #FFF;
			font-size: 2.35vw;
			margin-bottom:30px;
			line-height:2.35vw;
			position: relative;
			text-align:center;
			font-weight: normal;
			@media #{$mobile}{
				font-size: 26px;
				line-height:38px;
				margin-bottom:10px;
			}
		}
		.input_set{
			position: relative;
			max-width:600px;
			width: 100%;
			margin:0 auto;
			margin-bottom: 20px;
			input{
				background:#FFF;
				width: 100%;
				height: 70px;
				border-radius:35px;
				padding:0px 60px 0px 20px;
				font-size: 16px;
				@media #{$pc_m}{
					height: 50px;
				}
			}
			button{
				position: absolute;
				display: block;
				background:none;
				right: 20px;
				top: 50%;
				margin-top:-17px;
				svg{
					width: 35px;
					height: 35px;
					path{
						@include bg_change(0.3s);
					}
				}
				&:hover{
					path{
						fill:$col_greenb;
						@include bg_change(0.3s);
					}
				}
			}
		}
		.hot_tag{
			position: relative;
			display: flex;
			flex-wrap:wrap;
			justify-content:center;
			li{
				list-style:none;
				border-radius:20px;
				border: 1px solid #FFF;
				height: 40px;
				
				min-width:120px;
				font-size: 16px;
				@include bg_change(0.3s);
				margin: 0px 10px;
				margin-bottom: 10px;
				@media #{$mobile}{
					height: 35px;
					min-width:80px;
					margin: 0px 5px 10px 5px;
				}
				a{
					padding:0px 20px;
					display: flex;
					width: 100%;
					height: 100%;
					color: #FFF;
					align-items:center;
					justify-content:center;
				}
				&:hover{
					background:#FFF; 					
					@include bg_change(0.3s);
					a{
						color: $col_greenb;
					}
				}
			}
		}

	}
	.item_01{
		left: 0;
		top:0;
		position: absolute;
		width: calc((608/1920)*100%);
		z-index:2;
		@media #{$mobile}{
			width: 28%;
		}
		.rel{ 
			padding-bottom:calc((544/608)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item01.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_02{
		right: 0;
		top:0;

		position: absolute;
		width: calc((670/1920)*100%);
		@media #{$mobile}{

		}
		.rel{ 
			padding-bottom:calc((501/670)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item02.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_03{
		right: -3.6%;
    	top: -23%;
		position: absolute;
		width: calc((1208/1920)*100%);
		z-index:3;
		.rel{ 
			padding-bottom:calc((476/1208)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item03.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_05{
		left: 0%;
    	bottom:-16%;
		position: absolute;
		width: calc((436/1920)*100%);
		z-index:2;
		@media #{$mobile}{
			width: 38%;
		}
		.rel{ 
			padding-bottom:calc((536/436)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item05.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_06{
		right: 0%;
    	bottom:-35%;
		position: absolute;
		width: calc((481/1920)*100%);
		z-index:2;
		@media #{$mobile}{
			width: 30%;
		}
		.rel{ 
			padding-bottom:calc((975/481)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item06.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_07{
		right: 6.5%;
    	bottom: -12%;
		position: absolute;
		width: calc((597/1920)*100%);
		z-index:1;
		@media #{$mobile}{
			width: 40%;
		}

		.rel{ 
			padding-bottom:calc((422/597)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item07.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}
	.item_08{
		left: 6.5%;
    	top: 47%;
		position: absolute;
		width: calc((503/1920)*100%);
		z-index:1;
		@media #{$pc_s}{
			left: -7.5%;
		}
		@media #{$mobile}{
			left: -3.5%;
    		top: 34%;
		}

		.rel{ 
			padding-bottom:calc((191/503)*100%);
		}
		.img{
			position: absolute;
			background: url('../image/bn_item08.svg') no-repeat top center;
			background-size: cover;
			width: 100%;
			height: 100%; 

		}
	}

	.topbox2{
		position: absolute;
		width: 100%;
		bottom:-135px;
		display: flex;
		align-items:center;
		justify-content:center;
		z-index:5;
		@media #{$mobile}{
			bottom:-110px;
		}
		.main_center{
			max-width:1240px;
			width: 100%;
			padding:0px 20px;
			display: flex;
			justify-content:space-between;
			@media #{$mobile}{
				padding:0px 15px;
			}

			.itembox{
				background:#FFF;
				width: calc(50% - 10px);
				padding:30px;
				height: 270px;
				position: relative;
				@media #{$mobile}{
					width: calc(50% - 5px);
					padding:15px;
					height:initial;
				}
				.bird{
					left: 6.5%;
			    	top:-75%;
					position: absolute;
					width: calc((346/590)*100%);
					z-index:1;
					@media #{$pad}{

					}
					@media #{$mobile}{
						width: 120px;
					}
					.rel{ 
						padding-bottom:calc((255/346)*100%);
					}
					.img{
						position: absolute;
						background: url('../image/bn_item09.svg') no-repeat top center;
						background-size: cover;
						width: 100%;
						height: 100%; 

					}					

				}
				.icon_area{
					margin-bottom:15px;
					@media #{$mobile}{
						margin-bottom: 5px;
					}
					p{
						text-align:center;
						color: #555;
						font-size: 18px;
						@media #{$mobile}{
							font-size: 16px;
						}
					}
					.cirbox{
						width: 100px;	
						height: 100px;	
						border-radius:50%;
						border:1px solid $col_greena;
						display: flex;	
						align-items:center;
						justify-content:center;
						margin: 0 auto; 
						margin-bottom:10px;
						@media #{$mobile}{
							width: 80px;
							height: 80px;
							svg{
								width: 40px;
							}
						}
					}
				}
				.numbox{
					display: flex;
					justify-content:center;
					align-items: baseline;
					p{
						color: $col_greenb;
						font-size: 60px;
						@media #{$mobile}{
							font-size: 20px;
						}
						
					}
					span{
						font-size: 16px;
						@media #{$mobile}{
							font-size: 14px;
						}
					}
				}
			}
		}
	}



}
.gray_bg{
	background:#F7f7f7;
}
.section_2{
	padding-top:250px;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom:175px;
	@media #{$mobile}{
		margin-bottom:150px;
	}
	.bg_rightline{
		position: absolute;
		right: -13%;
		bottom:0px;
		@include alpha(0);
		@media #{$pc_m}{
			right: -32%;
		}
		@media #{$pc_s}{
			right: -32%;
		}
		@media #{$mobile}{
			width: 100%;
			right: 0;
			bottom:20%;
		}

	}
	.bg_area{
		position: absolute;
		bottom:0;
		left: 0;
		background:#EAD065;
		height: 490px;
		width: 0;
		@media #{$mobile}{
			height: 350px;
			bottom:0%;
		}
		.rel{
			position: relative;
			width: 100%;
			height: 100%;
		}
		.bg_item{
			@include alpha(0);
			width: 100%;
			height: 100%;
			background: url('../image/section2bg.svg') no-repeat top center;
			background-size:cover;

		}
		.flower{
			@include alpha(0);
			position: absolute;
			right: 50%;
			margin-right:-22%;
			bottom:10px;
			img{
				transform-origin: 50% 50%;
				@include animation(rotate360 10s 0s linear infinite);
				@media #{$mobile}{
					width: 150px;
				}
			}
		}
		
	}
	@media #{$mobile}{
		padding-top:150px;
	}
	.title{
		font-size: 35px;
		color: $col_greena;
		padding-left:30px;
		font-weight: normal;
		position: relative;
		margin-bottom:50px;
		@include alpha(0);
		@media #{$mobile}{
			margin-bottom:30px;
		}
		span{
			width: 20px;
			height: 4px;
			display: block;
			position: absolute;
			border-radius:2px;
			left: 0;
			top: 12px;
			background:$col_greena;
		}
	}
	.news_tab{
		list-style: none;
		border-bottom:1px solid #ddd;
		display: flex;
		margin-bottom:50px;
		position: relative;
		z-index: 5;
		@include alpha(0);
		@media #{$mobile}{
			margin-bottom:30px;
		}		
		li{
			position: relative;
			padding-bottom:10px;
			font-size:18px;
			cursor: pointer;
			margin:0px 20px;
			text-align:center;
			@media #{$mobile}{
				margin:0px 10px;
				font-size: 16px;
				letter-spacing:0;
			}
			@media only screen and (max-width: 350px){
				margin:0px 15px;
			}


			span{
				position: absolute;
				background:$col_greena;
				height: 4px;
				border-radius:2px;
				width: 0%;
				bottom:-2px;
				left: 0;
				@include bg_change(0.5s);
			}
			&.now{
					span{
						@include bg_change(0.5s);
						width: 100%;
					}
			}
			@media #{$pc}{
				&:hover{
					span{
						@include bg_change(0.5s);
						width: 100%;
					}
				}
			}
		}
	}
}

.news_list{
	display: flex;
	list-style: none;
	justify-content:space-between;
	align-items:stretch;
	flex-wrap:wrap;
	margin-bottom:70px;
	position: relative;
	z-index: 5;
	@media #{$mobile}{
		margin-bottom:10px;
	}
	li{
		background:#FFF;
		width:calc(50% - 10px);
		padding:20px;
		display: flex;
		align-items:center;
		margin-bottom:20px;
		position: relative;
		
		@media #{$pc_s}{
			padding:15px;
		}
		@media #{$pad}{
			padding:10px;
		}
		@media #{$mobile}{
			width: 100%;
			padding:10px;
			margin-bottom:10px;
		}
		.imgbox{
			flex:0 0 290px;
			display: block;
			width: 290px;
			height: 170px;
			overflow: hidden;
			border-radius:10px;
			@media #{$pc_s}{
				flex:0 0 200px;
				width: 200px;
				height: 118px;
			}
			@media #{$pad}{
				flex:0 0 130px;
				width: 130px;
				height: 130px;
			}
			@media #{$mobile}{
				flex:0 0 160px;
				width: 160px;
				height: 94px;
			}
			@media only screen and (max-width: 350px){
				flex:0 0 130px;
				width: 130px;
				height: 76px;

			}
			.img_area{
				background: url('../image/news_listdemo.jpg') no-repeat top center;
				background-size: cover;
				width: 100%;
				height: 100%; 
				@include bg_change(0.3s);
				@include scale(1);
			}
			&:hover{
				.img_area{
					@include bg_change(0.3s);
					@include scale(1.1);
				}

			}
		}
		.infbox{
			display: flex;
			margin-left:20px;

			@media #{$pad}{
				flex:0 1 150px;
				margin-left:10px;
			}
			.center_box{
				.tag_date{
					display: flex;
					align-items:center;
					margin-bottom: 10px;
					@media #{$mobile}{
						margin-bottom:5px;
					}
					.tag{
						color:#FFF;
						min-width: 90px;
						height: 30px;
						text-align:center;
						padding:0px 10px;
						border-radius:15px;
						margin-right:10px;
						font-size: 16px;
						@media #{$mobile}{
							flex:0 0 65px;
							height: 25px;
							line-height:27px;
							font-size:12px;
							min-width: 60px;
							margin-right:5px;
							padding:0px 5px;
							@media only screen and (max-width: 350px){
								flex:0 0 48px;
								min-width: 48px;
							}
						}
						&.green{
							background:$col_greenb;
						}	
						&.red{
							background:$col_red;
						}	
						&.yellow{
							background:$col_yel;
						}	

					}
					.date{
						font-size: 12px;
						@media only screen and (max-width: 350px){
							display: block;
						}
					}
				}
				.nstitle{
					font-size: 18px;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;	
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					max-height: 60px;
					@media #{$mobile}{
						font-size: 16px;
						line-height:22px;
						max-height: 44px;
					}									
				}
				p{
					color: #888;
					font-size: 14px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					height: 22px;
					line-height:22px;
					-webkit-box-orient: vertical;
					overflow: hidden;
					@media #{$pad}{

					}
					@media only screen and (max-width: 350px){
						display: none;
					}

				}
			}
		}
	}
}
.more_right{
	position: relative;
	z-index: 5;
	padding-bottom:40px;
}
.go_more{
	float: right;
	display: flex;
	width: 385px;
	height: 78px;
	background:#FFF;
	justify-content:center;
	align-items:center;
	padding:0px 25px;
	position: relative;
	@include alpha(0);
	@media #{$mobile}{
		width: 100%;
		height: 60px;
	}
	p{
		color: $col_greena;
	}
	.line{
		display: block;
		width: 10%;
		height: 1px;
		background:$col_greena;
		@include bg_change(0.5s);
	}
	.arrow{

	}
	&:hover{
		.line{
			width: 60%;
			@include bg_change(0.5s);
		}
	}
}

.section_3{ 
	position: relative;
	padding-top: 60px;
	margin-bottom:135px;

	@media #{$mobile}{
		padding-top:50px;
		margin-bottom:50px;
	}


	.wave{
		@include alpha(0); 
		position: absolute;
		left: 50px;
		top: 95px;
		img{
			position: relative;

		}
		@media #{$pc_m}{
			left: 0;
			img{
				width: 250px;
			}
		}
		@media #{$mobile}{
			top:initial;
			bottom: 10%;
			left: -20px;
			img{
				width: 200px;
			}			
		}
	}
	.bg_area{
		position: absolute;
		top: 0;
		right: 0;
		background:#417991;
		height: 625px;
		width: 0;
		@media #{$pad}{
			height: 588px;
		}
		@media #{$mobile}{
			height: 450px;
		}
		.rel{
			position: relative;
			width: 100%;
			height: 100%;
		}
		.bg_item{
			@include alpha(0);  
			width: 100%;
			height: 100%;
			background: url('../image/section3bg.svg') no-repeat top center;
			background-size:cover;
			@media #{$mobile}{
				background-position:top left;
			}
		}
		.shark{
			@include alpha(0);  
			position: absolute;
			right: 50%;
			margin-right:-30%;
			top:-60px;
			img{
				transform-origin: 50% 50%;
				@media #{$mobile}{
					width: 200px;
				}
			}
		}
		
	}
	.titletop{
		display: flex;
		justify-content:center;
		align-items:center;
		z-index: 3;
		position: relative;
		margin-bottom:30px;
		@include alpha(0);  
		span{
			color: #FFF;
			display: block;
			width: 20px;
			height: 4px;
			border-radius:2px;
			background:#FFF;
		}
		p{
			color: #FFF;
			font-size: 35px;
			line-height:35px;
			margin:0px 10px;
			text-align:center;
			@media #{$mobile}{
			line-height:40px;
			}
		}
	}
	.edu_tag{
		display: flex;
		justify-content:center;
		align-items:center;
		z-index: 3;
		position: relative;
		margin-bottom:50px;
		@include alpha(0);
		@media #{$mobile}{
			display: block;
			width: 100%;
			overflow-x: scroll;
			white-space:nowrap;
			margin-bottom:30px;
		}  
		li{
			list-style: none;
			padding:0px 10px;
			cursor: pointer;
			@media #{$mobile}{
				display:inline-block;
				
			}
			p{
				color: #FFF;
				text-align:center;
				position: relative;
				padding-bottom:5px;
			}
			span{
				width: 0;
				bottom: 0;
				position: absolute;
				display: block;
				background:#EAD065;
				height: 3px;
				@include bg_change(0.5s);
			}
			@media #{$pc}{
				&:hover{
					span{
						width: 100%;
						@include bg_change(0.5s);
					}

				}
			}
			&.now{
				span{
					width: 100%;
					@include bg_change(0.5s);
				}

			}

		}
	}
}
.edu_list{
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 60px;
	@media #{$mobile}{
		margin-bottom:20px;
	}
	li{
		padding:0px 20px 0px 0px;
		width: 25%;
		list-style: none;
		margin-bottom:20px;
		&:nth-child(4n){
			padding-right:0px;
		}
		@media #{$mobile}{
			width: 100%;
			padding:0;
			&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
				display: none;
			}
			margin-bottom:10px;

		}
		.item{
			background:#FFF;
			border-radius:5px;
			position: relative;
			padding:20px;
			cursor: pointer;
			overflow: hidden;
			@media #{$pad}{
				padding:10px;

			}
			&:hover{
				.title{
					color:$col_greena;
				}
				.dow_btn{
					@include alpha(1);
					@include bg_change(0.3s);
				}
			}
		}
		.title{
			color: #555;
			font-size: 18px;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;	
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			max-height: 60px;
			@media #{$mobile}{
				font-size: 16px;
			}
		}
		.dow_btn{
			@include alpha(0);
			@include bg_change(0.3s);
			display: block;
			position: absolute;
			right: 0;
			bottom:0;
			width: 50px;
			height: 50px;
			background: url('../image/dwbtn.svg') no-repeat top center;

			&:hover{
				background: url('../image/dwbtns.svg') no-repeat top center;
				@include bg_change(0.3s);
				
			}
		}


		.cate_dbox{
			display: flex;
			align-items:center;
			margin-bottom:10px;
			.cate{
				height: 25px;
				border-radius:12px;
				padding:0px 10px;
				margin-right:10px;
				font-size: 14px;
				color: #FFF;
				line-height:25px;
				text-transform:uppercase;
				&.pdf{
					background:#D22F2F;
				}
				&.ppt{
					background:#FB6F1B;
				}
				&.xml{
					background:#79B276;
				}
				&.doc{
					background:#3B86C0;
				}
				&.other{
					background:#888;
				}
			}
			.date{
				font-size: 14px;
				line-height:14px;
			}

		}
	}
	&.two_set{
		justify-content:space-between;
		li{
			width: calc(50% - 10px);
			padding:0px;
			@media #{$mobile}{
				width: calc(50% - 5px);
				.title{
					-webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
				    max-height: 90px;
				}
			}
		}
	}
	&.three_set{ 
		margin-bottom:0px;
		li{
			padding:0px 20px 0px 0px;
			width: calc((1/3)*100%);
			list-style: none;
			margin-bottom:20px;
			&:nth-child(3n){
				padding-right:0px;
			}
			@media #{$mobile}{
				width: 100%;
				padding:0px;
				margin-bottom:10px;
			}
		}
		.item{
			border:1px solid #ddd;
			margin-bottom:0px; 
			padding:15px 20px;
			.title{
				font-size: 16px;
				line-height:25px;
			}
		}		
	}
}	


.section_4{
	padding-top:70px;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom:390px;
	@media #{$pc_s}{
		padding-bottom:300px;
	}
	@media #{$mobile}{
		
		padding-top:0px;
		padding-bottom:150px;
	}
	.bg_rightline{
		position: absolute;
		right: -5%;
		top:80px;
		.mask{
			width: 0%;
			height: 100%;
			overflow: hidden;
		}
		.rel{
			position: relative;
			width: 100%;
			height: 100%;
		}
		@media #{$pc_m}{
			right: -5%;
		}
		@media #{$pc_s}{
			right: -5%;
		}
		@media #{$mobile}{
			width: 100%;
			right: 0;
			bottom:20%;
			top: initial;

		}

	}
	.bg_area{
		position: absolute;
		top:0;
		left: 0;
		background:$col_org;
		height: 520px;
		width: 0;
		@media #{$pc_s}{
			height: 420px;
		}
		@media #{$mobile}{
			height: 350px;
			top:initial;
			bottom:12%;
		}
		.rel{
			position: relative;
			width: 100%;
			height: 100%;
		}
		.bg_item{
			@include alpha(0);
			width: 100%;
			height: 100%;
			background: url('../image/section4bg.svg') no-repeat top center;
			background-size:cover;

		}
		.ani{
			@include alpha(0);
			position: absolute;
			right: -7%;
			bottom:-110px;
			img{
				@media #{$mobile}{
					width: 150px;
				}
			}
			@media #{$mobile}{
				right: -28%;
				bottom: -80px;
			}
		}
		
	}

	.title{
		font-size: 35px;
		color: #FFF;
		padding-left:30px;
		font-weight: normal;
		position: relative;
		margin-bottom:50px;
		@include alpha(0);
		@media #{$mobile}{
			margin-bottom:30px;
			color: $col_greena;
			line-height:35px;
		}
		span{
			width: 20px;
			height: 4px;
			display: block;
			position: absolute;
			border-radius:2px;
			left: 0;
			top: 12px;
			background:#FFF;
			@media #{$mobile}{
				background:$col_greena;
			}
		}
	}
	.index_partner{
		display: flex;
		justify-content:space-between;
		position: relative;
		z-index: 5; 
		@include alpha(0); 
		@media #{$mobile}{
			flex-wrap:wrap;
		}
		li{
			list-style: none;
			width: calc(((1/6)*100%) - 8.5px);
			background:rgba(255,255,255,0.5);
			@include bg_change(0.5s);
			@media #{$mobile}{
				width: calc(50% - 5px);
				margin-bottom:10px;
			}
			a{
				display: block;
				width: 100%;
				padding-bottom:100%;
				position: relative;
				.imgbox{
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-items:center;
					justify-content: center;
					padding:20px;

				}
				img{
					max-width:100%;
					max-height:100%;
				}
			}
			&:hover{
				background:rgba(255,255,255,1);
				@include bg_change(0.5s);
			}
		}
	}

}


.footer{
	background:$col_greena;
	border-top:5px solid $col_greenb;
	padding-top:40px;
	.main_1240{
		padding:0px 40px 40px 40px;
		display: flex;
		justify-content:space-between;
		@media #{$pad}{
			flex-wrap: wrap;
		}
		@media #{$mobile}{
			display: block;
			padding:0px 20px 20px 20px;
		}
	}
	.copy{
		background:#304237;
		padding:5px 0px;
		h6{
			color: #FFF;
			text-align:center;
			font-size: 14px;
			font-weight: normal;
		}
	}

	.ftlogo_inf{
		@media #{$pad}{
			margin-bottom:10px;
			text-align:center;
			width: 100%;
		}
		.inf{
			font-size:14px;
			color: #DEE9DE;
			@media #{$mobile}{
				text-align:center;
			}
			a{
				color: #DEE9DE;
			}
		}
	}
	.logobox{
		margin-bottom:10px;
		img{
			max-width:100%;
		}

	} 
	.footer_menu{
		display: flex;
		@media #{$mobile}{
			display: none;
		}
		li{
			list-style: none;
			margin-right:50px; 
			@media #{$pc_s}{
				margin-right:30px; 
			}
			a{
				display: block;
			}
			.big_link{
				font-size: 16px;
				color: #FFF;
				margin-bottom:10px;
			}
			.sma_link{
				font-size: 14px;
				color: #DEE9DE;
				line-height:25px;
			}
		}
	}
	.right_inf{
		a.feback{
			text-align:center;
			display: block;
			width: 170px;
			height: 50px;
			background:#304237;
			color:#FFF;
			line-height:50px;
			font-size: 16px;
			margin-bottom:10px;
			@include bg_change(0.3s);
			&:hover{
				@include bg_change(0.3s);
				background:$col_greenb;
			}
			@media #{$mobile}{
				width: 100%;
				height: 40px;
				line-height:40px;
			}
		}
		.addpart{
			width: 170px;
			padding:20px;
			background:#304237;
			@media #{$mobile}{
				width: 100%;
				padding:15px;
			}			
			p{
				text-align:center;
				color: #FFF;
				font-size: 16px;

			}
			.cir{
				display: flex;
				justify-content:center;
				align-items:center;
				margin:0 auto;
				width: 70px;
				height: 70px;
				background:#FFF;
				border-radius:50%;
				img{
					max-width:100%;
					max-height:100%;
					width: 45px;
					height: 45px;
				}
			}
		}
	}


}